Sandbox/force-app/main/default/flows/Asset_Update_Related_WO_and_SA_addresses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assignment_Records_values_of_workorder</name>
        <label>Assignment Records values of workorder</label>
        <locationX>589</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>Work_Order_Records_update.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Work_Order_Records_update.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Work_Order_Records_update.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationZipcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Work_Order_Records_update.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationCountry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_work_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Appointment_assignment</name>
        <label>Service Appointment assignment</label>
        <locationX>1083</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>Service_appointment_update.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_appointment_update.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_appointment_update.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationZipcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_appointment_update.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationCountry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_service_appointment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Asset: Update Related WO and SA addresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset: Update Related WO and SA addresses</label>
    <loops>
        <name>Service_appointment_update</name>
        <label>Service appointment update</label>
        <locationX>937</locationX>
        <locationY>467</locationY>
        <collectionReference>Service_appointment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Service_Appointment_assignment</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Work_Order_Records_update</name>
        <label>Work Order Records update</label>
        <locationX>400</locationX>
        <locationY>414</locationY>
        <collectionReference>Get_Related_Work_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Records_values_of_workorder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>180</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Work_Orders</name>
        <label>Get Related Work Orders</label>
        <locationX>437</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Records_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_appointment</name>
        <label>Service appointment</label>
        <locationX>907</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_appointment_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Work_orders</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_orders</name>
        <label>Work orders</label>
        <locationX>278</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Work_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderIds</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_service_appointment</name>
        <label>update service appointment</label>
        <locationX>1209</locationX>
        <locationY>545</locationY>
        <inputReference>Service_appointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update work orders records</description>
        <name>Update_work_Order_Records</name>
        <label>Update work Order Records</label>
        <locationX>740</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Service_appointment</targetReference>
        </connector>
        <inputReference>Get_Related_Work_Orders</inputReference>
    </recordUpdates>
    <screens>
        <name>Asset_Address</name>
        <label>Asset Address</label>
        <locationX>161</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Work_orders</targetReference>
        </connector>
        <fields>
            <name>Asset_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <fieldText>&lt;p&gt;{!Get_Asset_Record.ovcGeographicLocationRoad__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <fieldText>&lt;p&gt;{!Get_Asset_Record.ovcGeographicLocationCity__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>State</name>
            <fieldText>&lt;p&gt;{!Get_Asset_Record.ovcGeographicLocationState__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ZipCode</name>
            <fieldText>&lt;p&gt;{!Get_Asset_Record.ovcGeographicLocationZipcode__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Country</name>
            <fieldText>&lt;p&gt;{!Get_Asset_Record.ovcGeographicLocationCountry__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
