Sandbox/force-app/main/default/flows/Assigned_Resource_Populate_Assigned_Resource_On_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Adding_Value_to_Crew_Counter</name>
        <label>Increase crew counter</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CrewCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CrewResourceToPopulate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Related_Resources.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Related_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Value_to_Resource_Counter</name>
        <label>Increase crew counter</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ResourceCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResourceToPopulate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Related_Resources.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Service_Resource_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Related_Resources.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Related_Resources</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Count_Related_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Related_Resources.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_Value_to_Crew_Counter</targetReference>
            </connector>
            <label>Is Crew</label>
        </rules>
        <rules>
            <name>Is_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Related_Resources.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_Value_to_Resource_Counter</targetReference>
            </connector>
            <label>Is Resource</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the user record has a mobile phone number that is at least 10 digits long</description>
        <name>DEC_Has_Mobile_Phone_Number</name>
        <label>Has Mobile Phone Number</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Set_Resource_On_Service_Appointment_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOR_Mobile_Phone_Number_Length</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Resource_On_Service_Appointment_1</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_to_Update</name>
        <label>How to Update</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Set_Assign_Service_Resource_To_Be_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CrewCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Crew_on_Service_Appointment</targetReference>
            </connector>
            <label>One Crew</label>
        </rules>
        <rules>
            <name>Only_One_Service_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CrewCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_User</targetReference>
            </connector>
            <label>Only One Service Resource</label>
        </rules>
    </decisions>
    <description>Populates Assigned Service Resource on Service Appointment</description>
    <formulas>
        <description>Derives required Message Media email address from the user&apos;s mobile phone number</description>
        <name>FOR_Derive_Message_Media_Email_Address</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!RVAR_User.MobilePhone}, &quot; &quot;,&quot;&quot;), &quot;+&quot;, &quot;&quot;) + &quot;@e2s.messagemedia.com&quot;</expression>
    </formulas>
    <formulas>
        <description>Calculate the length of the mobile phone number</description>
        <name>FOR_Mobile_Phone_Number_Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!RVAR_User.MobilePhone})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Assigned Resource: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigned Resource: Populate Assigned Resource On Service Appointment</label>
    <loops>
        <name>Count_Related_Resources</name>
        <label>Count Assigned Resources</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_All_Service_Resources_Related_Service_Appointment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Assigned_Resources_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>How_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Service_Resources_Related_Service_Appointment</name>
        <label>Get All Assigned Resources</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Related_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Resources_Types</name>
        <label>Get Assigned Resources Types</label>
        <locationX>798</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Count_Related_Resources.ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ResourceType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the service resource&apos;s related user record</description>
        <name>RVAR_User</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Has_Mobile_Phone_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Service_Resource_User_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Assign_Service_Resource_To_Be_Blank</name>
        <label>Set Assign Service Resource To Be Blank</label>
        <locationX>842</locationX>
        <locationY>1070</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Resource_Email_Address__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Resource_SMS_Email_Address__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Crew_on_Service_Appointment</name>
        <label>Set Crew on Service Appointment</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>CrewResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Resource_On_Service_Appointment_1</name>
        <label>Set Resource On Service Appointment</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Resource_Email_Address__c</field>
            <value>
                <elementReference>RVAR_User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Resource_SMS_Email_Address__c</field>
            <value>
                <elementReference>FOR_Derive_Message_Media_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>ResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RVAR_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Resource_On_Service_Appointment_2</name>
        <label>Set Resource On Service Appointment</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Resource_Email_Address__c</field>
            <value>
                <elementReference>RVAR_User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>ResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RVAR_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <sourceTemplate>FSSK__FSK_Set_Assign_Service_Resource_On_Service_Appointment</sourceTemplate>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Service_Resources_Related_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CrewCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CrewResourceToPopulate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResourcesTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceToPopulate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the id of the service resource&apos;s related user</description>
        <name>VAR_Service_Resource_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
