Sandbox/force-app/main/default/flows/Case_Email_Auto_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Email</name>
        <label>Case Email</label>
        <locationX>499</locationX>
        <locationY>743</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_EM_Record_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>CaseMetadataRecord.Queue_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Better_Email</name>
        <label>Send Better Email</label>
        <locationX>502</locationX>
        <locationY>1370</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>OrgWideEmailAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>ToEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>CaseMetadataRecord.Auto_Response_Email_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>Errors</assignToReference>
            <name>errors</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_EM_Record_Values</name>
        <label>Assign EM Record Values</label>
        <locationX>499</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>EMRecord.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseMetadataRecord.Queue_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMRecord.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMRecord.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EMRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EM_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Case: Email Auto Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Email Auto Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EM_Record</name>
        <label>Create EM Record</label>
        <locationX>499</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <inputReference>EMRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Email_Template</name>
        <label>Get Case Email Template</label>
        <locationX>499</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Wide_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseMetadataRecord.Auto_Response_Email_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>497</locationX>
        <locationY>1137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Wide_Address_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ToEmailAddress</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Settings</name>
        <label>Get Case Settings</label>
        <locationX>499</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Queue_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputReference>CaseMetadataRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Auto_Response_Email_Template__c</queriedFields>
        <queriedFields>Queue_Email__c</queriedFields>
        <queriedFields>Queue_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>697</locationX>
        <locationY>1359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Better_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Address_Duplicate</name>
        <label>Get Org Wide Address Duplicate</label>
        <locationX>629</locationX>
        <locationY>1150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseMetadataRecord.Queue_Email__c</elementReference>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>OrgWideEmailAddressId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>499</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseMetadataRecord.Queue_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Label__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Data Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Label__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client Managed Services</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Dear {!$Record.SuppliedName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Thank you for submitting your question to us. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Case #: {!$Record.CaseNumber} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;has been created and a Customer Service Representative will respond to you shortly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Case_Email_Template.HtmlValue}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Org_Wide_Email_Address.DisplayName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseMetadataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EMRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>Errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmailAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case {!$Record.CaseNumber} Created</stringValue>
        </value>
    </variables>
    <variables>
        <name>ToEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
