Sandbox/force-app/main/default/flows/Case_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ASS_Variables_1</name>
        <label>Assign Variables</label>
        <locationX>765</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owned_By_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Pull_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Push_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Triage_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Is_Changed_Account_Contact_Asset_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_2</name>
        <label>Assign Variables</label>
        <locationX>1091</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owned_By_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Pull_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_1.Pull_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Push_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_1.Push_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Triage_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_1.Triage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Is_Changed_Account_Contact_Asset_Description</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Case_Owner_Change</name>
        <label>Case Owner Change</label>
        <locationX>919</locationX>
        <locationY>1173</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Accept_From_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_4</targetReference>
            </connector>
            <label>Accept From Queue</label>
        </rules>
        <rules>
            <name>OUT_Queue_Change</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>FOR_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AU_CS_Awaiting_Response_EQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AU_TS_Awaiting_Response_EQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NZ_CS_Awaiting_Response_EQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_2</targetReference>
            </connector>
            <label>Queue Change</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see whether the Account, Contact, Asset or description values have been changed</description>
        <name>DEC_Is_Changed_Account_Contact_Asset_Description</name>
        <label>Is Changed Account, Contact, Asset, Description</label>
        <locationX>925</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>RU_Case_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>OUT_Is_Changed_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_1</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Is_Changed_Supervisor_Note</name>
        <label>Is Changed Supervisor Note</label>
        <locationX>919</locationX>
        <locationY>954</locationY>
        <defaultConnector>
            <targetReference>DEC_Case_Owner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>OUT_Is_Changed_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supervisor_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supervisor_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_3</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Is_Triage_Queue</name>
        <label>Is Triage Queue</label>
        <locationX>1146</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Case_Settings_2.Triage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_5</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Owned_By_Queue_2</name>
        <label>Owned By Queue</label>
        <locationX>922</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>ASS_Variables_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>OUT_Queue_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_1</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <formulas>
        <name>FOR_Case_Search</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}
&amp; &quot;;&quot;
&amp; {!$Record.Account.Customer_Number__c}
&amp; &quot;;&quot;
&amp; {!$Record.Contact.Full_Name__c}
&amp; &quot;;&quot;
&amp; {!$Record.Asset.SerialNumber}</expression>
    </formulas>
    <formulas>
        <name>FOR_Description</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Description}, 255)</expression>
    </formulas>
    <formulas>
        <name>FOR_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>FOR_Team</name>
        <dataType>String</dataType>
        <expression>{!$Record.AutoResponse_Team_Name__c}</expression>
    </formulas>
    <interviewLabel>Case: Update After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Update After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup Case Setting metadata type</description>
        <name>RVAR_Case_Settings_1</name>
        <label>Get Case Settings</label>
        <locationX>1091</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Lookup Case Setting metadata type</description>
        <name>RVAR_Case_Settings_2</name>
        <label>Get Case Settings</label>
        <locationX>1155</locationX>
        <locationY>1172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Is_Triage_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Case_1</name>
        <label>Update Case</label>
        <locationX>769</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>DEC_Is_Changed_Supervisor_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Search__c</field>
            <value>
                <elementReference>FOR_Case_Search</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Custom__c</field>
            <value>
                <elementReference>FOR_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Pull_Queue__c</field>
            <value>
                <elementReference>VAR_Pull_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Push_Queue__c</field>
            <value>
                <elementReference>VAR_Push_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Triage_Queue__c</field>
            <value>
                <elementReference>VAR_Triage_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owned_By_Queue__c</field>
            <value>
                <elementReference>VAR_Owned_By_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_2</name>
        <label>Update Case</label>
        <locationX>1107</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>DEC_Is_Changed_Supervisor_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Pull_Queue__c</field>
            <value>
                <elementReference>VAR_Pull_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Push_Queue__c</field>
            <value>
                <elementReference>VAR_Push_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Triage_Queue__c</field>
            <value>
                <elementReference>VAR_Triage_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owned_By_Queue__c</field>
            <value>
                <elementReference>VAR_Owned_By_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_3</name>
        <label>Update Case</label>
        <locationX>772</locationX>
        <locationY>1171</locationY>
        <connector>
            <targetReference>DEC_Case_Owner_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Has_Supervisor_Note__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_4</name>
        <label>Update Case</label>
        <locationX>928</locationX>
        <locationY>1364</locationY>
        <inputAssignments>
            <field>Is_Pull_Queue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Push_Queue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Triage_Queue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owned_By_Queue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_5</name>
        <label>Update Case</label>
        <locationX>1157</locationX>
        <locationY>1550</locationY>
        <inputAssignments>
            <field>AutoResponse_Team_Name__c</field>
            <value>
                <elementReference>RVAR_Case_Settings_2.Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Pull_Queue__c</field>
            <value>
                <elementReference>RVAR_Case_Settings_2.Pull_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Push_Queue__c</field>
            <value>
                <elementReference>RVAR_Case_Settings_2.Push_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Location__c</field>
            <value>
                <elementReference>RVAR_Case_Settings_2.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Queue__c</field>
            <value>
                <elementReference>RVAR_Case_Settings_2.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue_Email__c</field>
            <value>
                <elementReference>RVAR_Case_Settings_2.Queue_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>DEC_Owned_By_Queue_2</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Has_Supervisor_Note</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Originating_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Originating_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Owned_By_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Pull_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Push_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Queue_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Team_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Triage_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
