Sandbox/force-app/main/default/flows/Case_Create_Basic_Sales_Order_with_Reference_to_Quotation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Header_Query</name>
        <label>Create Header Query</label>
        <locationX>488</locationX>
        <locationY>398</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Header_Scenario</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>SalesOrderDetailHeader</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>docNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;VBELN&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;docNumber&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Status_Query</name>
        <label>Create Status Query</label>
        <locationX>534</locationX>
        <locationY>1238</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_0200_User_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>OrderUserStatus</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>objSearch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;STAT_x&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;E0002&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;OBJNR&quot;,&quot;operator&quot;:&quot;STARTS_WITH&quot;,&quot;value&quot;:&quot;objSearch&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Header_Scenario</name>
        <label>Execute Header Scenario</label>
        <locationX>488</locationX>
        <locationY>518</locationY>
        <actionName>SalesOrderDetailHeader</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Header_Result</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Header_Query.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_0200_User_Status</name>
        <label>Get 0200 User Status</label>
        <locationX>534</locationX>
        <locationY>1358</locationY>
        <actionName>OrderUserStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sales_Order_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Status_Query.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_slp_Param_Output</name>
        <label>Assign slp Param Output</label>
        <locationX>666</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>slpParamsSub</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_value_to_Detail_Entry</name>
        <label>Assign value to Detail Entry</label>
        <locationX>666</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>salesOrderDocument.VBELN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>docNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_slp_Param_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Header_Result</name>
        <label>Get Header Result</label>
        <locationX>488</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>headerResp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Header_Scenario.response.VBAK</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Execute_Header_Scenario.response.VBAK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Quote_is_returned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Sales_Order_Status</name>
        <label>Get Sales Order Status</label>
        <locationX>534</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>statusResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_0200_User_Status.response.JEST</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorStatusCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_0200_User_Status.response.JEST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X0200_Status_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Number</name>
        <label>Set Document Number</label>
        <locationX>488</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>docNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leftPaddedQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Header_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Object_No_Search_String_0</name>
        <label>Set Object No Search String</label>
        <locationX>534</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>objSearch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objectSearchString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Status_Query</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ZOR</name>
        <choiceText>ZOR - Create Basic Sales Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ZOR</stringValue>
        </value>
    </choices>
    <choices>
        <name>ZQT</name>
        <choiceText>Convert Quote (ZQT) to Basic Sales Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ZQT</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Quote_is_returned</name>
        <label>Check if Quote is returned</label>
        <locationX>488</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>no_quote_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Quote</defaultConnectorLabel>
        <rules>
            <name>quote_is_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quotationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Header</targetReference>
            </connector>
            <label>Quote is returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Validity_Date</name>
        <label>Check Validity Date</label>
        <locationX>336</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Object_No_Search_String_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Date Error</defaultConnectorLabel>
        <rules>
            <name>Date_is_not_vaild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_over_Header.BNDDT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_over_Header.ANGDT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Error</targetReference>
            </connector>
            <label>Date is not valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>X0200_Status_Found</name>
        <label>0200 Status Check</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Assign_value_to_Detail_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>X0200_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorStatusCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_0200_Stop</targetReference>
            </connector>
            <label>0200 Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>leftPaddedQuote</name>
        <dataType>String</dataType>
        <expression>LPAD({!enter_quote_number}, 10, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>objectSearchString</name>
        <dataType>String</dataType>
        <expression>&apos;VB&apos; + {!docNumber}</expression>
    </formulas>
    <interviewLabel>Case: Create Basic Sales Order with Reference to Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Create Basic Sales Order with Reference to Quotation</label>
    <loops>
        <name>Loop_over_Header</name>
        <label>Loop over Header</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>headerResp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Validity_Date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Date_Error</name>
        <label>Date Error</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>datePassed</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(202, 44, 44);&quot;&gt;Validation failed: &lt;/b&gt;&lt;span style=&quot;color: rgb(8, 8, 8);&quot;&gt;{!validityDate} has passed!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Quote_Screen</name>
        <label>Enter Quote Screen</label>
        <locationX>488</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Document_Number</targetReference>
        </connector>
        <fields>
            <name>enter_quote_number</name>
            <dataType>String</dataType>
            <fieldText>Please enter quote number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Fault_0</name>
        <label>Flow Fault</label>
        <locationX>930</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flow_message_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>no_quote_available</name>
        <label>No Quote Available</label>
        <locationX>926</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noQuoteFound</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 2, 2);&quot;&gt;Validation failed:&lt;/b&gt;&lt;span style=&quot;color: rgb(250, 2, 2);&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;color: rgb(8, 8, 8);&quot;&gt;Quote number &lt;/span&gt;{!enter_quote_number} not found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_0200_Stop</name>
        <label>Status 0200_Stop</label>
        <locationX>402</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorStatus</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 0, 0);&quot;&gt;Validation error: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Document is blocked (0200) and needs approval!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>362</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Quote_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>responseTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;SALES_DOCUMENTS&quot;: { &quot;VBELN&quot;: &quot;{!salesOrderDocument.VBELN}&quot;}}</text>
    </textTemplates>
    <variables>
        <name>docNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorStatusCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>headerResp</name>
        <apexClass>SalesOrderDetailHeaderVBAK</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>headerResponseStruct</name>
        <apexClass>SalesOrderDetailHeaderVBAK</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objSearch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quotationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>quoteDocumentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesOrderDetail</name>
        <apexClass>sapSalesOrderDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesOrderDocument</name>
        <apexClass>sapSalesOrderDetailSALES_DOCUMENTS</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesOrderItems</name>
        <apexClass>sapSalesOrderDetailORDER_ITEMS_OUT</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slpParamsSub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusResponse</name>
        <apexClass>OrderUserStatusJEST</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
