Sandbox/force-app/main/default/flows/Case_Case_Triage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Refreshes the screen when the flow has completed</description>
        <name>LC_Update_Screen</name>
        <label>Update Screen</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assigns values to record variable
Decreases cloned record count by 1</description>
        <name>ASS_Cloned_Record_To_Record_Variable</name>
        <label>Assign Cloned Record To Record Variable</label>
        <locationX>2338</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Has_Supervisor_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Has_Supervisor_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Is_Cloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Is_Triaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Parent_Case_Id.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Priority_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.ServiceContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Sub_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Cloned_Case_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Supervisor_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Supervisor_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Clone_Record_Count</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Originating_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Group_1.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.AutoResponse_Team_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.AutoResponse_Team_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Originating_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Originating_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Originating_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Originating_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Is_Pull_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Is_Pull_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Is_Push_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Is_Push_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Queue_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Queue_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variables_To_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns location as Australia</description>
        <name>ASS_Location_AU</name>
        <label>Assign Location</label>
        <locationX>2195</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VAR_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Check_Running_User_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns location as NZ</description>
        <name>ASS_Location_NZ</name>
        <label>Assign Location</label>
        <locationX>2459</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VAR_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NZ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Check_Running_User_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stores a record count</description>
        <name>ASS_Record_Count</name>
        <label>Assign Record Count</label>
        <locationX>2470</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>VAR_Clone_Record_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Clone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Clone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to fields in the record variable.
The record variable represents the cloned case</description>
        <name>ASS_Record_Variables</name>
        <label>Assign Record Variables</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Priority_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Case_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Is_Triaged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Is_Cloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Supervisor_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Supervisor_Note_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Has_Supervisor_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Has_Supervisor_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Cloned_Case.Originating_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variables_To_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign record variables to a collection</description>
        <name>ASS_Record_Variables_To_Collection_1</name>
        <label>Assign Record Variables To Collection</label>
        <locationX>138</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Cloned_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Cloned_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign record variables to a collection</description>
        <name>ASS_Record_Variables_To_Collection_2</name>
        <label>Assign Record Variables To Collection</label>
        <locationX>2338</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Cloned_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Cloned_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DEC_Clone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Supervisor Notes</description>
        <name>ASS_Supervisor_Note_1</name>
        <label>Assign Supervisor Note</label>
        <locationX>2459</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>VAR_Supervisor_Notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Supervisor_Note_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Priority_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Subject_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DEC_Splt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Supervisor Notes</description>
        <name>ASS_Supervisor_Note_2</name>
        <label>Assign Supervisor Note</label>
        <locationX>1260</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>VAR_Supervisor_Notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Supervisor_Note_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Priority_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Subject_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Splt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Customer Service team</description>
        <name>ASS_Team_CS</name>
        <label>Assign Team</label>
        <locationX>3394</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>VAR_CS_OR_TS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_Case_Triage_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Technical Service team</description>
        <name>ASS_Team_TS</name>
        <label>Assign Team</label>
        <locationX>1260</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>VAR_CS_OR_TS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_Case_Triage_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns selected values to a text collection</description>
        <name>ASS_To_Text_Collection</name>
        <label>Assign To Text Collection</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>VAR_Selected_Group_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FI_Queues_CS_AU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Selected_Group_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FI_Queues_TS_AU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CVAR_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the running user&apos;s profile</description>
        <name>DEC_Check_Running_User_Profile</name>
        <label>Check Running User Profile</label>
        <locationX>2459</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>SC_Insufficient_Privileges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Technical_Service_1</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Device Tech Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Team_TS</targetReference>
            </connector>
            <label>Technical Service</label>
        </rules>
        <rules>
            <name>OUT_Customer_Service_1</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Device Customer Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Team_CS</targetReference>
            </connector>
            <label>Customer Service</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the running user&apos;s profile</description>
        <name>DEC_Check_Running_User_Role</name>
        <label>Check Running User Role</label>
        <locationX>2459</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_AU</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Manager_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Location_AU</targetReference>
            </connector>
            <label>AU</label>
        </rules>
        <rules>
            <name>OUT_NZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Location_NZ</targetReference>
            </connector>
            <label>NZ</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether its Customer Service or Technical Service</description>
        <name>DEC_Check_Team</name>
        <label>Check Team</label>
        <locationX>1326</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Technical_Service_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CS_OR_TS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SC_Case_Triage_2</targetReference>
            </connector>
            <label>Technical Service</label>
        </rules>
        <rules>
            <name>OUT_Customer_Service_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CS_OR_TS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Case_Triage_1</targetReference>
            </connector>
            <label>Customer Service</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether:
- The case is updated
- The case is cloned
- There is a validation error</description>
        <name>DEC_Clone</name>
        <label>Clone?</label>
        <locationX>2470</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>RC_Case_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Clone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Clone_Record_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Cloned_Record_To_Record_Variable</targetReference>
            </connector>
            <label>Clone</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the selected queues are in the group (queue) collection</description>
        <name>DEC_Selected</name>
        <label>Selected</label>
        <locationX>270</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FI_Queues_CS_AU</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOP_Through_Collection.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Queues_TS_AU</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOP_Through_Collection.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Queues_CS_NZ</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOP_Through_Collection.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Queues_TS_NZ</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOP_Through_Collection.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Variables</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether:
- The case is updated
- The case is cloned
- There is a validation error</description>
        <name>DEC_Splt</name>
        <label>Split</label>
        <locationX>1260</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>RVAR_Group_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>OUT_Split</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TGL_Clone_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Clone_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Select_Queues</targetReference>
            </connector>
            <label>Split</label>
        </rules>
        <rules>
            <name>OUT_Error</name>
            <conditionLogic>((1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)  AND 9 AND 10 AND 11 AND 12) OR (11 AND 13 AND 14) OR (12 AND 13 AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>TGL_Clone_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Clone_1.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Clone_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Clone_2.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Junk_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Junk_1.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Junk_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Junk_2.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Queue_CS_AU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Queue_CS_NZ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Queue_TS_AU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Queue_TS_NZ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Clone</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Check_Team</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>OUT_Junk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TGL_Junk_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TGL_Junk_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_2</targetReference>
            </connector>
            <label>Junk</label>
        </rules>
    </decisions>
    <description>Allocate a case to a selected queue and set the case&apos;s priority</description>
    <dynamicChoiceSets>
        <description>Case priority, sourced from Case Setting custom metadata type</description>
        <name>PC_Case_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Case_Setting__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Fetch selectable values from custom metatdata type for Australian queues</description>
        <name>RCS_Case_Queue_Customer_Service_AU</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Fets selectable values from custom metadata type for NZ queues</description>
        <name>RCS_Case_Queue_Customer_Service_NZ</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NZ</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Case_Queue_Technical_Service_AU</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Case_Queue_Technical_Service_NZ</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NZ</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Gets Australian case queues from custom metadata type</description>
        <name>RCS_Case_Queues_CS_AU</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Case_Queues_CS_NZ</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NZ</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Gets Australian Technical Service Case queues from custom metadata type</description>
        <name>RCS_Case_Queues_TS_AU</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Case_Queues_TS_NZ</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NZ</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Data_Team</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Team</stringValue>
            </value>
        </filters>
        <object>Case_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Queue_Id</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Sets the Case subject</description>
        <name>FOR_Case_Subject</name>
        <dataType>String</dataType>
        <expression>{!VAR_Subject}
&amp; &quot;: &quot;
&amp; {!LOOP_Through_Collection.Name}</expression>
    </formulas>
    <formulas>
        <name>FOR_Cloned_Case_Subject</name>
        <dataType>String</dataType>
        <expression>{!VAR_Subject}
&amp; &quot;: &quot;
&amp; TEXT({!VAR_Clone_Record_Count})</expression>
    </formulas>
    <formulas>
        <description>Check to see if a supervisor note has been captured</description>
        <name>FOR_Has_Supervisor_Note</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!VAR_Supervisor_Notes}) &gt; 0, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Case: Case Triage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Case Triage</label>
    <loops>
        <description>Loops through the collection of group (queue) records</description>
        <name>LOOP_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <collectionReference>CVAR_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Case_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create case records from the records in the collection</description>
        <name>RC_Case_1</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>RU_Case_3</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>CVAR_Cloned_Cases</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create case records from the records in the collection</description>
        <name>RC_Case_2</name>
        <label>Create Case</label>
        <locationX>2602</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>RU_Case_4</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>CVAR_Cloned_Cases</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Delete the last cloned case record</description>
        <name>DEL_Last_Cloned_Record</name>
        <label>Delete Last Cloned Record</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>LC_Update_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Last_Cloned_Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <description>Get group(queue) records and assign to collection</description>
        <name>CVAR_Group</name>
        <label>Get Group</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case and store values in a record variable</description>
        <name>RVAR_Case</name>
        <label>Get Case</label>
        <locationX>2459</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Check_Running_User_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Lookup the selected group to get its name</description>
        <name>RVAR_Group_1</name>
        <label>Get Group</label>
        <locationX>2470</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_Case_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Queue_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Lookup the selected group to get its name</description>
        <name>RVAR_Group_2</name>
        <label>Get Group</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_Parent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Last_Cloned_Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the last cloned Case record</description>
        <name>RVAR_Last_Cloned_Record</name>
        <label>Get Last Cloned Record</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Group_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates case queue and priority</description>
        <name>RU_Case_1</name>
        <label>Update Case</label>
        <locationX>2470</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>ASS_Record_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Supervisor_Note__c</field>
            <value>
                <elementReference>FOR_Has_Supervisor_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Triaged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Queue__c</field>
            <value>
                <elementReference>RVAR_Group_1.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>VAR_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>VAR_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Notes__c</field>
            <value>
                <elementReference>VAR_Supervisor_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates case queue and priority</description>
        <name>RU_Case_2</name>
        <label>Update Case</label>
        <locationX>1810</locationX>
        <locationY>1214</locationY>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Supervisor_Note__c</field>
            <value>
                <elementReference>FOR_Has_Supervisor_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Junk__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Triaged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>VAR_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Notes__c</field>
            <value>
                <elementReference>VAR_Supervisor_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_3</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>RVAR_Last_Cloned_Record</targetReference>
        </connector>
        <inputReference>CVAR_Cloned_Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_4</name>
        <label>Update Case</label>
        <locationX>2602</locationX>
        <locationY>1814</locationY>
        <inputReference>CVAR_Cloned_Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses values from the last cloned record to update the initiating (parent) case</description>
        <name>RU_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>50</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>DEL_Last_Cloned_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Supervisor_Note__c</field>
            <value>
                <elementReference>FOR_Has_Supervisor_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Triaged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Queue__c</field>
            <value>
                <elementReference>RVAR_Group_2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RVAR_Last_Cloned_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>FI_Priority_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RVAR_Last_Cloned_Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Notes__c</field>
            <value>
                <elementReference>FI_Supervisor_Note_1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>- Select a queue
- Set case priority
- Trigger case clone</description>
        <name>SC_Case_Triage_1</name>
        <label>Case Triage</label>
        <locationX>2459</locationX>
        <locationY>3398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASS_Supervisor_Note_1</targetReference>
        </connector>
        <fields>
            <name>Header4</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Case Triage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC_Case_Triage_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Case_Triage_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Queue_CS_AU</name>
                    <choiceReferences>RCS_Case_Queue_Customer_Service_AU</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Select a single queue to assign the Case to.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VAR_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AU</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FI_Queue_CS_NZ</name>
                    <choiceReferences>RCS_Case_Queue_Customer_Service_NZ</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VAR_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>NZ</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Case_Triage_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Priority_1</name>
                    <choiceReferences>PC_Case_Priority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DT_Line_Break_1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TGL_Clone_1</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Split</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TGL_Junk_1</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Junk</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SC_Case_Triage_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Case_Triage_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Subject_1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RVAR_Case.Subject</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FI_Supervisor_Note_1</name>
                    <fieldText>Supervisor Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 53, 53);&quot;&gt;1,000 character limit has been exceeded.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!FI_Supervisor_Note_1}) &lt;= 1000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>- Select a queue
- Set case priority
- Trigger case clone</description>
        <name>SC_Case_Triage_2</name>
        <label>Case Triage</label>
        <locationX>1260</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASS_Supervisor_Note_2</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Case Triage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC_Case_Triage_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Case_Triage_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SC_Case_Triage_2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Case_Triage_2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Queue_TS_AU</name>
                    <choiceReferences>RCS_Case_Queue_Technical_Service_AU</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Select a single queue to assign the Case to.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VAR_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AU</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FI_Queue_TS_NZ</name>
                    <choiceReferences>RCS_Case_Queue_Technical_Service_NZ</choiceReferences>
                    <choiceReferences>RCS_Data_Team</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VAR_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>NZ</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DT_Line_Break_3</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Case_Triage_2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Priority_2</name>
                    <choiceReferences>PC_Case_Priority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DT_Line_Break_2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SC_Case_Triage_2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Case_Triage_2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Clone</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Clone</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Select a queue and enter the desired number of clone records.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VAR_CS_OR_TS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TS</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Case_Triage_2_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Case_Triage_2_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TGL_Clone_2</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Split</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TGL_Junk_2</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Junk</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Case_Triage_2_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SC_Case_Triage_2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Case_Triage_2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Subject_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RVAR_Case.Subject</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FI_Supervisor_Note_2</name>
                    <fieldText>Supervisor Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 53, 53);&quot;&gt;1,000 character limit has been exceeded.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!FI_Supervisor_Note_1}) &lt;= 1000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>2074</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header3</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Case Triage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DT_Error_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 9, 9);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Insufficient_Privileges</name>
        <label>Insufficient Privileges</label>
        <locationX>3658</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header5</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Case Triage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC_Insufficient_Privileges_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Insufficient_Privileges_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DT_Error_2</name>
            <fieldText>&lt;p&gt;You do not have the necessary system permissions to use this function.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 0, 0);&quot;&gt;Please refer to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Select one or more queues</description>
        <name>SC_Select_Queues</name>
        <label>Select Queues</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASS_To_Text_Collection</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Case Triage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC_Select_Queues_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Select_Queues_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SC_Select_Queues_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Select_Queues_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Queues_CS_AU</name>
                    <choiceReferences>RCS_Case_Queues_CS_AU</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <helpText>&lt;p&gt;Select one or more queues to split the Case for processing.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VAR_CS_OR_TS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VAR_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AU</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FI_Queues_TS_AU</name>
                    <choiceReferences>RCS_Case_Queues_TS_AU</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select one or more queues to split the Case for processing.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VAR_CS_OR_TS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VAR_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>AU</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FI_Queues_CS_NZ</name>
            <choiceReferences>RCS_Case_Queues_CS_NZ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Queue(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VAR_CS_OR_TS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CS</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VAR_Location</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NZ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FI_Queues_TS_NZ</name>
            <choiceReferences>RCS_Case_Queues_TS_NZ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Queue(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VAR_CS_OR_TS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TS</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VAR_Location</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NZ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2333</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RVAR_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Cloned_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the id of the current record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record variable for the cloned Case</description>
        <name>RVAR_Cloned_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Record variable to store assigned parent case Id</description>
        <name>RVAR_Parent_Case_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Clone_Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable to store value dependent upon running user profile.
Used to dynamically render component on flow page</description>
        <name>VAR_CS_OR_TS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the selected group Ids</description>
        <name>VAR_Group_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Has_Supervisor_Note</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Selected_Group_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Supervisor Note</description>
        <name>VAR_Supervisor_Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
