Sandbox/force-app/main/default/flows/Customer_Partner_Function_Selection_QC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Partner_Query_0</name>
        <label>Create Partner Query</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Partner_Scenario_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fields</name>
            <value>
                <stringValue>KUNN2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>CustomerMasterPartner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>Get_Sold_To_From_Previous_Screen_0.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string1</name>
            <value>
                <elementReference>salesOrganization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string2</name>
            <value>
                <elementReference>distributionChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string3</name>
            <value>
                <elementReference>division</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2 AND 3 AND 4 AND 5&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;PARVW&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;WE&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;VKORG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;salesOrganization&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string1&quot;},{&quot;id&quot;:3,&quot;fieldName&quot;:&quot;VTWEG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;distributionChannel&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string2&quot;},{&quot;id&quot;:4,&quot;fieldName&quot;:&quot;SPART&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;division&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string3&quot;},{&quot;id&quot;:5,&quot;fieldName&quot;:&quot;KUNNR&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!Get_Sold_To_From_Previous_Screen_0.Customer_Number__c}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Partner_Query_1</name>
        <label>Create Partner Query</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Partner_Scenario_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fields</name>
            <value>
                <stringValue>KUNNR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>CustomerMasterPartner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>Get_Sold_To_From_Previous_Screen_0.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string1</name>
            <value>
                <elementReference>salesOrganization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string2</name>
            <value>
                <elementReference>distributionChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string3</name>
            <value>
                <elementReference>division</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2 AND 3 AND 4 AND 5&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;PARVW&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;WE&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;VKORG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;salesOrganization&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string1&quot;},{&quot;id&quot;:3,&quot;fieldName&quot;:&quot;VTWEG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;distributionChannel&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string2&quot;},{&quot;id&quot;:4,&quot;fieldName&quot;:&quot;SPART&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;division&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string3&quot;},{&quot;id&quot;:5,&quot;fieldName&quot;:&quot;KUNN2&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!Get_Sold_To_From_Previous_Screen_0.Customer_Number__c}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Partner_Query_for_Bill_To</name>
        <label>Create Partner Query for Bill To</label>
        <locationX>798</locationX>
        <locationY>4790</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Partner_Scenario_3</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>CustomerMasterPartner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>salesOrganization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string1</name>
            <value>
                <elementReference>Get_SP_for_Payer.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string2</name>
            <value>
                <elementReference>distributionChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string3</name>
            <value>
                <elementReference>division</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string4</name>
            <value>
                <elementReference>Get_SP_for_Payer.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2 AND 3 AND 4 AND 5&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;PARVW&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;RG&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;VKORG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!salesOrganization}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;},{&quot;id&quot;:3,&quot;fieldName&quot;:&quot;VTWEG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!distributionChannel}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string2&quot;},{&quot;id&quot;:4,&quot;fieldName&quot;:&quot;SPART&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!division}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string3&quot;},{&quot;id&quot;:5,&quot;fieldName&quot;:&quot;KUNNR&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;Get_SP_for_Payer.Customer_Number__c&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string1&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Partner_Query_for_Payer</name>
        <label>Create Partner Query for Payer</label>
        <locationX>842</locationX>
        <locationY>2846</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Payer_Partner_Function</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>CustomerMasterPartner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>salesOrganization</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string1</name>
            <value>
                <elementReference>Get_SP_for_Bill_To.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string2</name>
            <value>
                <elementReference>distributionChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string3</name>
            <value>
                <elementReference>division</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string4</name>
            <value>
                <elementReference>Get_SP_for_Bill_To.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2 AND 3 AND 4 AND 5&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;PARVW&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;RE&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;VKORG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!salesOrganization}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;},{&quot;id&quot;:3,&quot;fieldName&quot;:&quot;VTWEG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!distributionChannel}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string2&quot;},{&quot;id&quot;:4,&quot;fieldName&quot;:&quot;SPART&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!division}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string3&quot;},{&quot;id&quot;:5,&quot;fieldName&quot;:&quot;KUNNR&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;Get_SP_for_Bill_To.Customer_Number__c&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string4&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Partner_Scenario_1</name>
        <label>Execute Partner Scenario</label>
        <locationX>930</locationX>
        <locationY>1118</locationY>
        <actionName>CustomerMasterPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Response_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Partner_Query_1.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Partner_Scenario_2</name>
        <label>Execute Partner Scenario</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <actionName>CustomerMasterPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Response_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Partner_Query_0.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Partner_Scenario_3</name>
        <label>Execute Partner Scenario</label>
        <locationX>798</locationX>
        <locationY>4910</locationY>
        <actionName>CustomerMasterPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Response_3</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Partner_Query_for_Bill_To.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Payer_Partner_Function</name>
        <label>Execute Payer Partner Function</label>
        <locationX>842</locationX>
        <locationY>2966</locationY>
        <actionName>CustomerMasterPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Response_4</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Partner_Query_for_Payer.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Account_to_Coll</name>
        <label>Add Account to Coll.</label>
        <locationX>754</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>soldToShipToPartnerCode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soldToShipToPartnerLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_to_Coll_2</name>
        <label>Add Account to Coll.</label>
        <locationX>930</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>BillToPayerQCCode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Last.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToPayerQCLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Last.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_BP_and_PY_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Partners</name>
        <label>Assign Existing Partners</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>selectedBillTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bill_to_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedPayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payer_Account</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Selected_Account_Ship_To</name>
        <label>Assign Selected Account Ship To</label>
        <locationX>930</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>selectedShipTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_From_QC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSoldTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sold_To_From_Previous_Screen_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Partner_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Account_Sold_To</name>
        <label>Assign Selected Account Sold To</label>
        <locationX>666</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>selectedSoldTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_From_QC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShipTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ship_To_from_Previous_Screen_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Partner_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Bill_To_Account</name>
        <label>Assign Selected Bill To Account</label>
        <locationX>578</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>selectedBillTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_From_Bill_to_Payer_QC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToPayerQCCode</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BillToPayerQCCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToPayerQCLabel</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BillToPayerQCLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PY_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Payer_Account</name>
        <label>Assign Selected Payer Account</label>
        <locationX>842</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>selectedPayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_From_Bill_to_Payer_QC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PY_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Response_1</name>
        <label>Get Response</label>
        <locationX>930</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>PartnerResp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Partner_Scenario_1.response.KNVP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>missingPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>soldTo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_over_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Response_2</name>
        <label>Get Response</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>PartnerResp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Partner_Scenario_2.response.KNVP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>missingPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>shipTo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Response_3</name>
        <label>Get Response</label>
        <locationX>798</locationX>
        <locationY>5030</locationY>
        <assignmentItems>
            <assignToReference>PartnerResp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Partner_Scenario_3.response.KNVP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>missingPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>payer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_over_BP_and_PY_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Response_4</name>
        <label>Get Response</label>
        <locationX>842</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>PartnerResp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Payer_Partner_Function.response.KNVP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>missingPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>billTo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_BP_and_PY_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partner_set_for_following_step</name>
        <label>Partner set for following step</label>
        <locationX>402</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>selectedShipTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ship_To_from_Previous_Screen_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSoldTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sold_To_From_Previous_Screen_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Partner_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Id</name>
        <label>Set Account Id</label>
        <locationX>798</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Partner_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Bill_To_and_Payer</name>
        <label>Check Bill To and Payer</label>
        <locationX>798</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>All_Partner_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back to Select</defaultConnectorLabel>
        <rules>
            <name>AllPartnerExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bill_to_Account</targetReference>
            </connector>
            <label>All Partner Exists</label>
        </rules>
        <rules>
            <name>No_Bill_To_and_Payer</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_SP_for_Bill_To</targetReference>
            </connector>
            <label>No Bill To and Payer</label>
        </rules>
        <rules>
            <name>Payer_Exists</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SoldToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_for_Bill_To</targetReference>
            </connector>
            <label>Payer Exists</label>
        </rules>
        <rules>
            <name>Bill_To_Exists</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount_2.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillToAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayerAccount_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_for_Payer</targetReference>
            </connector>
            <label>Bill To Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PY_Missing</name>
        <label>Check PY Missing</label>
        <locationX>842</locationX>
        <locationY>4238</locationY>
        <defaultConnectorLabel>All Partners Populated</defaultConnectorLabel>
        <rules>
            <name>Payer_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedPayer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_for_Payer</targetReference>
            </connector>
            <label>Payer Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Partners</name>
        <label>Check Selected Partners</label>
        <locationX>798</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>noPartnerScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Which_Missing_Partner_to_Set</targetReference>
            </connector>
            <label>Both Exists</label>
        </rules>
        <rules>
            <name>Sold_To_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Query_0</targetReference>
            </connector>
            <label>Sold To Exists</label>
        </rules>
        <rules>
            <name>Ship_To_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Query_1</targetReference>
            </connector>
            <label>Ship To Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Which_Missing_Partner_to_Set</name>
        <label>Check Which Missing Partner to Set</label>
        <locationX>798</locationX>
        <locationY>2150</locationY>
        <defaultConnectorLabel>Error Case</defaultConnectorLabel>
        <rules>
            <name>All_Partners_Pre_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>missingPartner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_set_for_following_step</targetReference>
            </connector>
            <label>All Partners Pre-populated</label>
        </rules>
        <rules>
            <name>Set_Sold_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>missingPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>soldTo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Account_Sold_To</targetReference>
            </connector>
            <label>Set Sold To</label>
        </rules>
        <rules>
            <name>Set_Ship_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>missingPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>shipTo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Account_Ship_To</targetReference>
            </connector>
            <label>Set Ship to</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Which_Missing_Partner_to_Set_2</name>
        <label>Check Which Missing Partner to Set Last</label>
        <locationX>842</locationX>
        <locationY>3902</locationY>
        <defaultConnectorLabel>Error case</defaultConnectorLabel>
        <rules>
            <name>Set_Bill_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>missingPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>billTo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Bill_To_Account</targetReference>
            </connector>
            <label>Set Bill To</label>
        </rules>
        <rules>
            <name>Set_Payer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>missingPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>payer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Payer_Account</targetReference>
            </connector>
            <label>Set Payer</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Partner Function Selection QC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Partner Function Selection QC</label>
    <loops>
        <name>Loop_over_BP_and_PY_Partners</name>
        <label>Loop over  BP and PY Partners</label>
        <locationX>842</locationX>
        <locationY>3206</locationY>
        <collectionReference>PartnerResp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account_Last</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bill_To_Payer_QC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Partners</name>
        <label>Loop over Partners</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <collectionReference>PartnerResp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sold_To_Ship_To_Quick_Choice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>754</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Account_to_Coll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Partners.KUNN2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_From_Bill_to_Payer_QC</name>
        <label>Get Account From Bill to Payer QC</label>
        <locationX>842</locationX>
        <locationY>3782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Which_Missing_Partner_to_Set_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillToPayerOC.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_From_QC</name>
        <label>Get Account From QC</label>
        <locationX>666</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Which_Missing_Partner_to_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soldToShipToQC.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Last</name>
        <label>Get Account from Last Selection</label>
        <locationX>930</locationX>
        <locationY>3326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Account_to_Coll_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_BP_and_PY_Partners.KUNN2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bill_to_Account</name>
        <label>Get Bill to Account</label>
        <locationX>50</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillToAccount_1.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>798</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payer_Account</name>
        <label>Get Payer Account</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Existing_Partners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayerAccount_1.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ship_To_from_Previous_Screen_0</name>
        <label>Get Ship To from Previous Screen</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Selected_Partners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShipToAccount.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sold_To_From_Previous_Screen_0</name>
        <label>Get Sold To From Previous Screen</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ship_To_from_Previous_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SoldToAccount.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_for_Bill_To</name>
        <label>Get SP for Bill To</label>
        <locationX>842</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Partner_Query_for_Payer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SoldToAccount_2.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_for_Payer</name>
        <label>Get SP for Payer</label>
        <locationX>798</locationX>
        <locationY>4670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Partner_Query_for_Bill_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SoldToAccount_2.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>All_Partner_Screen</name>
        <label>All Partner Screen</label>
        <locationX>798</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Bill_To_and_Payer</targetReference>
        </connector>
        <fields>
            <name>SoldToAccount_2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sold To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedSoldTo.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShipToAccount_2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedShipTo.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BillToAccount_1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bill To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PayerAccount_1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Payer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bill_To_Payer_QC</name>
        <label>Bill To Payer QC</label>
        <locationX>842</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_From_Bill_to_Payer_QC</targetReference>
        </connector>
        <fields>
            <name>BillToPayerOC</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>x-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>BillToPayerQCLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>BillToPayerQCCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Partner_Screen</name>
        <label>Main Partner Screen</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Sold_To_From_Previous_Screen_0</targetReference>
        </connector>
        <fields>
            <name>SoldToAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sold To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShipToAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noPartnerScreen</name>
        <label>No Partner Screen</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Partner_Screen</targetReference>
        </connector>
        <fields>
            <name>noPartnerEntered</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(202, 202, 19); font-size: 14px;&quot;&gt;Warning!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Please choose at least one partner!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sold_To_Ship_To_Quick_Choice</name>
        <label>Sold To Ship To Quick Choice</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_From_QC</targetReference>
        </connector>
        <fields>
            <name>soldToShipToQC</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>x-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>soldToShipToPartnerLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>soldToShipToPartnerCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Sales_Area</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Select_Sales_Area</name>
        <label>Select Sales Area</label>
        <locationX>798</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <flowName>Sales_Area_Selection_Flow</flowName>
        <outputAssignments>
            <assignToReference>distributionChannel</assignToReference>
            <name>selectedDistributionChannel</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>division</assignToReference>
            <name>selectedDivision</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>salesOrganization</assignToReference>
            <name>selectedSalesOrg</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillToPayerQCCode</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillToPayerQCLabel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPartner</name>
        <apexClass>CustomerMasterPartner</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>distributionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>missingPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnAccounts2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PartnerResp</name>
        <apexClass>CustomerMasterPartnerKNVP</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedBillTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>selectedPayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>selectedShipTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>selectedSoldTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soldToShipToPartnerCode</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soldToShipToPartnerLabel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
