Sandbox/force-app/main/default/flows/DM_Case_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ASS_Account_Id_0</name>
        <label>Assign Account Id</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VAR_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Default_Account_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Account_Id_1</name>
        <label>Assign Account Id</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VAR_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Owner_Id_1</name>
        <label>Assign Owner Id</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Default_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Owner_Id_2</name>
        <label>Assign Owner Id</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Type_Id_CS</name>
        <label>Assign Record Type Id</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_CS_Case_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Type_Id_TS</name>
        <label>Assign Record Type Id</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_TS_Case_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Account_Exists</name>
        <label>Account Exists</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>ASS_Account_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Account.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Account_Id_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Active_User_Exists</name>
        <label>Active User Exists</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>ASS_Owner_Id_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Owner_Id_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Record_Type</name>
        <label>Record Type</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OUT_Tech_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Type_Id_TS</targetReference>
            </connector>
            <label>Tech Service</label>
        </rules>
        <rules>
            <name>OUT_Customer_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Placement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Type_Id_CS</targetReference>
            </connector>
            <label>Customer Service</label>
        </rules>
    </decisions>
    <description>Temporary flow used for data migration of cases</description>
    <formulas>
        <name>FOR_CS_Case_Record_Type_Id</name>
        <dataType>String</dataType>
        <expression>{!$Label.DM_Cust_Service_Case_Record_Type_Id}</expression>
    </formulas>
    <formulas>
        <name>FOR_Default_Account_Id</name>
        <dataType>String</dataType>
        <expression>{!$Label.DM_Default_Account_Id}</expression>
    </formulas>
    <formulas>
        <name>FOR_Default_Queue_Id</name>
        <dataType>String</dataType>
        <expression>{!$Label.DM_Unknown_Owner_Queue_Id}</expression>
    </formulas>
    <formulas>
        <name>FOR_TS_Case_Record_Type_Id</name>
        <dataType>String</dataType>
        <expression>{!$Label.DM_Tech_Service_Case_Record_Type_Id}</expression>
    </formulas>
    <interviewLabel>DM: Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DM: Case 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RVAR_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Customer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets matched Contact record</description>
        <name>RVAR_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Contact_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_User</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Active_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_User_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VAR_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RVAR_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_CRM_Interaction_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
