Sandbox/force-app/main/default/flows/DM_Service_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ASS_Account_Id_0</name>
        <label>Assign Account Id</label>
        <locationX>439</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>VAR_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CON_Dummy_Account_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Account_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Account_Id_1</name>
        <label>Assign Account Id</label>
        <locationX>63</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>VAR_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Account_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Owner_Id_1</name>
        <label>Assign Owner Id</label>
        <locationX>430</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CON_Default_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Owner_Id_2</name>
        <label>Assign Owner Id</label>
        <locationX>73</locationX>
        <locationY>1080</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Type_Id_CS</name>
        <label>Assign Record Type Id</label>
        <locationX>715</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CON_Customer_Service_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASS_Record_Type_Id_TS</name>
        <label>Assign Record Type Id</label>
        <locationX>896</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CON_Tech_Service_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CON_Customer_Service_Record_Type_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l0000018GNmAAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>CON_Default_Owner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0050K00000BwClMQAV</stringValue>
        </value>
    </constants>
    <constants>
        <name>CON_Default_Pricebook_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s6F000009hcycQAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>CON_Dummy_Account_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0010l00001MIpfJAAT</stringValue>
        </value>
    </constants>
    <constants>
        <name>CON_Tech_Service_Record_Type_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l0000018GNrAAM</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DEC_Account_Exists</name>
        <label>Account Exists</label>
        <locationX>238</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>ASS_Account_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Account.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Account_Id_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Active_User_Exists</name>
        <label>Active User Exists</label>
        <locationX>235</locationX>
        <locationY>1081</locationY>
        <defaultConnector>
            <targetReference>ASS_Owner_Id_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Owner_Id_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Record_Type</name>
        <label>Record Type</label>
        <locationX>699</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OUT_Tech_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Type_Id_TS</targetReference>
            </connector>
            <label>Tech Service</label>
        </rules>
        <rules>
            <name>OUT_Customer_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Type_Id_CS</targetReference>
            </connector>
            <label>Customer Service</label>
        </rules>
    </decisions>
    <interviewLabel>DM: Service Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DM: Service Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RVAR_Account</name>
        <label>Get Account</label>
        <locationX>247</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Customer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Account_Bill_To</name>
        <label>Get Bill To Account</label>
        <locationX>241</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Account_Payer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Bill_To_Customer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Account_Payer</name>
        <label>Get Payer Account</label>
        <locationX>240</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Payer_Customer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Account_Ship_To</name>
        <label>Get Ship To Account</label>
        <locationX>243</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Account_Bill_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Ship_To_Customer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets matched Contact record</description>
        <name>RVAR_Contact</name>
        <label>Get Contact</label>
        <locationX>248</locationX>
        <locationY>1291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Contact_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_User</name>
        <label>Get User</label>
        <locationX>242</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Active_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Owner_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Service_Contract</name>
        <label>Update Service Contract</label>
        <locationX>247</locationX>
        <locationY>1419</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VAR_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>RVAR_Account_Bill_To.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RVAR_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer__c</field>
            <value>
                <elementReference>RVAR_Account_Payer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>CON_Default_Pricebook_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To__c</field>
            <value>
                <elementReference>RVAR_Account_Ship_To.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <start>
        <locationX>119</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>RVAR_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_CRM_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceContract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
