Sandbox/force-app/main/default/flows/DM_Work_Order_Migration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Account_Id_1</name>
        <label>Assign Account Id</label>
        <locationX>80</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>VAR_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Account_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Account_Id_2</name>
        <label>Assign Account Id</label>
        <locationX>619</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>VAR_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Default_Account_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Account_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Asset_id</name>
        <label>Assign Asset Id</label>
        <locationX>371</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>VAR_Asset_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Case_id</name>
        <label>Assign Case Id</label>
        <locationX>368</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>VAR_Case_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>364</locationX>
        <locationY>1080</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Owner_Id</name>
        <label>Assign Owner Id</label>
        <locationX>169</locationX>
        <locationY>2662</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RC_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Owner_Id_0</name>
        <label>Assign Owner Id</label>
        <locationX>607</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Default_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RC_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Service_Contract_Id</name>
        <label>Assign Service Contract Id</label>
        <locationX>382</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>VAR_Service_Contract_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Service_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Work_Type_Id</name>
        <label>Assign Work Type Id</label>
        <locationX>392</locationX>
        <locationY>2355</locationY>
        <assignmentItems>
            <assignToReference>VAR_Work_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Account_Exists</name>
        <label>Account Exists</label>
        <locationX>349</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>ASS_Account_Id_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Account.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Account_Id_1</targetReference>
            </connector>
            <label>Account_Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_User_Exists</name>
        <label>User Exists</label>
        <locationX>389</locationX>
        <locationY>2661</locationY>
        <defaultConnector>
            <targetReference>ASS_Owner_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Owner_Id</targetReference>
            </connector>
            <label>User Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>FOR_Default_Account_Id</name>
        <dataType>String</dataType>
        <expression>{!$Label.DM_Default_Account_Id}</expression>
    </formulas>
    <formulas>
        <name>FOR_Default_Owner_Id</name>
        <dataType>String</dataType>
        <expression>{!$Label.DM_Unknown_Owner_Queue_Id}</expression>
    </formulas>
    <interviewLabel>DM: Work Order Migration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DM: Work Order Migration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>408</locationX>
        <locationY>2942</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VAR_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Notes__c</field>
            <value>
                <stringValue>z</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>VAR_Asset_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>RVAR_Account_Bill_To.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>VAR_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VAR_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Business_Unit__c</field>
            <value>
                <stringValue>00</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Unit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer__c</field>
            <value>
                <elementReference>RVAR_Account_Payer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_CRM_Id__c</field>
            <value>
                <elementReference>$Record.SAP_CRM_Work_Order_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To__c</field>
            <value>
                <elementReference>RVAR_Account_Ship_To.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>VAR_Work_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RVAR_Account</name>
        <label>Get Account</label>
        <locationX>354</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Customer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Account_Bill_To</name>
        <label>Get Bill To Account</label>
        <locationX>351</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Account_Payer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Bill_To_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Account_Payer</name>
        <label>Get Payer Account</label>
        <locationX>344</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Payer_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Account_Ship_To</name>
        <label>Get Ship To Account</label>
        <locationX>349</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Account_Bill_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Ship_To_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Asset</name>
        <label>Get Asset</label>
        <locationX>384</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Asset_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_CRM_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Equipment_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Case</name>
        <label>Get Case</label>
        <locationX>371</locationX>
        <locationY>1245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Case_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_CRM_Interaction_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Interaction_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Contact</name>
        <label>Get Contact</label>
        <locationX>360</locationX>
        <locationY>958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Contact_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>380</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Service_Contract_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_CRM_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Service_Contract_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_User</name>
        <label>Get User</label>
        <locationX>396</locationX>
        <locationY>2496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SAP_CRM_Owner_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>388</locationX>
        <locationY>2194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Work_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>224</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RVAR_Account</targetReference>
        </connector>
        <object>DM_Work_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VAR_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Asset_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Service_Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
