Sandbox/force-app/main/default/flows/Entitlement_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Entitlement_Process_Assignment</name>
        <label>Entitlement Process Assignment</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>EntitlementRecord.SlaProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementProcesses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Hours_Choices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Entitlement_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStartNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.Metro_Regional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Metro_Regional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Entitlement_Process_Ids_Assignment</name>
        <label>Entitlement Process Ids Assignment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SelectedEntitlements</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_Process_Choices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Returned_RecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Entitlement_Variable</name>
        <label>Entitlement Variable</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>NewEntitlementList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EntitlementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Returned_RecordId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Returned_RecordId</name>
        <label>Returned RecordId</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Entitlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for18DigitEntitlementProcessId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BusinessHoursChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DefaultEntitlement</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CustomerServiceAUEntitlement</elementReference>
            </value>
        </filters>
        <object>BusinessHours</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EntitlementProcesses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Metro_Regional</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Metro_Regional__c</picklistField>
        <picklistObject>Entitlement</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>for18DigitEntitlementProcessId</name>
        <dataType>String</dataType>
        <expression>MID( {!SelectedEntitlements}, 
{!varStartNumber}, 
18)</expression>
    </formulas>
    <formulas>
        <name>FOR_Entitlement_Name</name>
        <dataType>String</dataType>
        <expression>{!EntitlementDefaultName} &amp; &quot; - &quot; &amp; {!FI_Metro_Regional}</expression>
    </formulas>
    <interviewLabel>Entitlement: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement: Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Entitlements</name>
        <label>Create Entitlements</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>EC_rror</targetReference>
        </faultConnector>
        <inputReference>NewEntitlementList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>RVAR_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement_Process_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Type_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field_Service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>EC_rror</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 9, 9);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entitlement_Screen</name>
        <label>Entitlement Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Entitlement_Process_Ids_Assignment</targetReference>
        </connector>
        <fields>
            <name>Entitlement_Process_Choices</name>
            <choiceReferences>EntitlementProcesses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entitlement</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Entitlement_variables</name>
        <label>Entitlement variables</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RVAR_Work_Type</targetReference>
        </connector>
        <fields>
            <name>Entitlement_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EntitlementDefaultName</elementReference>
            </defaultValue>
            <fieldText>Entitlement Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Entitlement_Process_Choices_Create</name>
            <choiceReferences>EntitlementProcesses</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>for18DigitEntitlementProcessId</elementReference>
            </defaultValue>
            <fieldText>Entitlement</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Metro_Regional</name>
            <choiceReferences>PC_Metro_Regional</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Metro / Regional</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Hours_Choices</name>
            <choiceReferences>BusinessHoursChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Hours</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entitlement_Screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerServiceAUEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Service AU</stringValue>
        </value>
    </variables>
    <variables>
        <name>DefaultEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementDefaultName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>NewEntitlementList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>SelectedEntitlements</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
