Sandbox/force-app/main/default/flows/Product_Skill_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Determine if a product skill record already exists based on product Id and skill Id combination</description>
        <name>OUT_Record_Exists</name>
        <label>Record Exists?</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>SC_Product_Skill_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Product_Skill.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_Product_Skill_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Create a Product Skill record</description>
    <dynamicChoiceSets>
        <name>RCS_Skill</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Skill</object>
        <outputAssignments>
            <assignToReference>VAR_Skill_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Skill_Name</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_Key</name>
        <dataType>String</dataType>
        <expression>{!RVAR_Product.Id}
&amp;{!VAR_Skill_Id}</expression>
    </formulas>
    <interviewLabel>Product Skill: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Skill: Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Product Skill record</description>
        <name>RC_Product_Skill_Record</name>
        <label>Create Product Skill Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>FI_Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>FI_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <elementReference>FOR_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Id__c</field>
            <value>
                <elementReference>VAR_Skill_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill__c</field>
            <value>
                <elementReference>VAR_Skill_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the  current product record</description>
        <name>RVAR_Product</name>
        <label>Get Product</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Select_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Product Skill record where product Id and skill Id combination is matched</description>
        <name>RVAR_Product_Skill</name>
        <label>Get Product Skill</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OUT_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FOR_Key</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Error_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 10, 10);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(250, 10, 10);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(250, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Select a skill and store Id and Name as variables</description>
        <name>SC_Product_Skill_Exists</name>
        <label>Product Skill Exists</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Product_Skill_Exists</name>
            <fieldText>&lt;p&gt;The selected Skill is already configured for this Product.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select a different Skill. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Select a skill and store Id and Name as variables</description>
        <name>SC_Select_Skill</name>
        <label>Select Skill</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RVAR_Product_Skill</targetReference>
        </connector>
        <fields>
            <name>SC_Select_Skill_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Select_Skill_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Skill</name>
                    <choiceReferences>RCS_Skill</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Skill</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Select_Skill_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FI_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RVAR_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Skill_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Skill_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
