Sandbox/force-app/main/default/flows/QueryStockSample.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Query</name>
        <label>Create Query</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Scenario</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>dtgBootStockTest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>materialNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string1</name>
            <value>
                <elementReference>plant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string2</name>
            <value>
                <elementReference>storageLocation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2 AND 3 AND 4&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;Material&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!materialNumber}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;Plant&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!plant}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string1&quot;},{&quot;id&quot;:3,&quot;fieldName&quot;:&quot;StorageLocation&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!storageLocation}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string2&quot;},{&quot;id&quot;:4,&quot;fieldName&quot;:&quot;MatlWrhsStkQtyInMatlBaseUnit&quot;,&quot;operator&quot;:&quot;GREATER_THAN&quot;,&quot;value&quot;:&quot;0&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Scenario</name>
        <label>Execute Scenario</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>dtgBootStockTest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Results</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Query.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Get_Results</name>
        <label>Get Results</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>stockResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Scenario.response.A_MatlStkInAcctMod</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>QueryStockSample {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QueryStockSample</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Query</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>materialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stockResults</name>
        <apexClass>dtgBootStockTestA_MatlStkInAcctMod</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>storageLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
