Sandbox/force-app/main/default/flows/RT_PF_Selector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_SAP</name>
        <label>Call SAP</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>ovcS4BPPartnerFunctions</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Create_Predicates</name>
        <label>Create Predicates</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>prd1.columnName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prd1.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EQUALS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prd1.columnValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Account.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prd2.columnName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PartnerFunction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prd2.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prd2.columnValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SH,BP,PY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Query</name>
        <label>Create Query</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>query.where_x.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AND1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>query.where_x.subFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prd1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>query.where_x.subFilters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prd2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_SAP</targetReference>
        </connector>
    </assignments>
    <interviewLabel>RT PF Selector {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT PF Selector</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Predicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>prd1</name>
        <apexClass>overcast__Predicate</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prd2</name>
        <apexClass>overcast__Predicate</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>query</name>
        <apexClass>overcast__Query</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>results</name>
        <apexClass>ovcS4BPPartnerFunctionsACustSalesPartner</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
