Sandbox/force-app/main/default/flows/Sales_Area_Selection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Sales_Area_Selection</name>
        <label>Set Sales Area Selection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>selectedSalesOrg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sales_Organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedDistributionChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>distribution_Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedDivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>divisionList</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <dynamicChoiceSets>
        <name>distibutionChannelList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ovcDTA_Distribution_Channel__c</picklistField>
        <picklistObject>overcast__ovcPicklists__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>divisionList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ovcDTA_Sales_Division__c</picklistField>
        <picklistObject>overcast__ovcPicklists__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>salesOrganization</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ovcDTA_Sales_Organization__c</picklistField>
        <picklistObject>overcast__ovcPicklists__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Sales Area Selection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Area Selection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Sales_Area_Selection</name>
        <label>Sales Area Selection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Sales_Area_Selection</targetReference>
        </connector>
        <fields>
            <name>sales_Organization</name>
            <choiceReferences>salesOrganization</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1000</stringValue>
            </defaultValue>
            <fieldText>Sales Organization</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>distribution_Channel</name>
            <choiceReferences>distibutionChannelList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>10</stringValue>
            </defaultValue>
            <fieldText>Distribution Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>division</name>
            <choiceReferences>divisionList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00</stringValue>
            </defaultValue>
            <fieldText>Division</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Area_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>selectedDistributionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedSalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
