Sandbox/force-app/main/default/flows/Select_Partner_Functions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Name_from_recordId</name>
        <label>Get Object Name from recordId</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <actionName>OvcObjectNameFromId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Object_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>objectName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_components_for_Service_Contract</name>
        <label>Assign components for Service Contract</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>shipToComponent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ovcS4ShipToSelectorSvcContract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToComponent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ovcS4BillToSelectorSvcContract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payerComponent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ovcS4PayerSelectorSvcContract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SH_Select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_components_for_Work_Order</name>
        <label>Assign components for Work Order</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>shipToComponent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ovcS4ShipToSelectorWorkOrder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToComponent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ovcS4BillToSelectorWorkOrder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payerComponent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ovcS4PayerSelectorWorkOrder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SH_Select</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Object_Name</name>
        <label>Check Object Name</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_components_for_Work_Order</targetReference>
            </connector>
            <label>WorkOrder</label>
        </rules>
        <rules>
            <name>ServiceContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ServiceContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_components_for_Service_Contract</targetReference>
            </connector>
            <label>ServiceContract</label>
        </rules>
    </decisions>
    <interviewLabel>Select Partner Functions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Partner Functions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>BP_Select</name>
        <label>BP Select</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PY_Select</targetReference>
        </connector>
        <fields>
            <name>billToSelector</name>
            <extensionName>c:ocfValueHelpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>componentDefName</name>
                <value>
                    <elementReference>billToComponent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PY_Select</name>
        <label>PY Select</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>payerSelector</name>
            <extensionName>c:ocfValueHelpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>componentDefName</name>
                <value>
                    <elementReference>payerComponent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SH_Select</name>
        <label>SH Select</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BP_Select</targetReference>
        </connector>
        <fields>
            <name>shipToSelector</name>
            <extensionName>c:ocfValueHelpForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>componentDefName</name>
                <value>
                    <elementReference>shipToComponent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object_Name_from_recordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>billToComponent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payerComponent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToComponent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
