Sandbox/force-app/main/default/flows/Send_Product_Request_Update_to_SAP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clearmappedrecords</name>
        <label>Clear mapped records</label>
        <locationX>440</locationX>
        <locationY>3143</locationY>
        <actionName>overcast__ActionClearDataSet</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dataSetName</name>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjects</name>
            <value>
                <stringValue>PurchaseOrderChangeDS_POADDRDELIVERY__c,PurchaseOrderChangeDS_POHEADERX__c,PurchaseOrderChangeDS_POHEADER__c,PurchaseOrderChangeDS_POITEMX__c,PurchaseOrderChangeDS_POITEM__c,PurchaseOrderChangeDS_POSCHEDULEX__c,PurchaseOrderChangeDS_POSCHEDULE__c</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Execute_Overcast_Scenario</name>
        <label>Execute Overcast Scenario</label>
        <locationX>176</locationX>
        <locationY>3023</locationY>
        <actionName>overcast__ActionRunDataSyncScenario</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioInput</name>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>PurchaseOrderChangeDS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Address_to_Collection</name>
        <label>Add Address to Collection</label>
        <locationX>264</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>dlvAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dlvAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_at_ProductRequest_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Records_to_Collections</name>
        <label>Add Records to Collections</label>
        <locationX>396</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>poItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>poItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemXs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>poItemX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Need_by_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Schedules_to_Collections</name>
        <label>Add Schedules to Collections</label>
        <locationX>264</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>poScheds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>poSched</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poSchedXs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>poSchedX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Item_Delivery_Address</name>
        <label>Create Item Delivery Address</label>
        <locationX>264</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>dlvAddress.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dlvAddress.STREET__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShipToStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dlvAddress.CITY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShipToCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dlvAddress.REGION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShipToState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dlvAddress.POSTL_COD1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShipToPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dlvAddress.NAME__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DestinationLocation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dlvAddress.PO_ITEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.ovcSAPItemNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Address_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PO_Item</name>
        <label>Create PO Item</label>
        <locationX>396</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>poItem.QUANTITY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.QuantityRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.MATERIAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.PO_ITEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.ovcSAPItemNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.PO_UNIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.PLANT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.DestinationLocation.ovcPlant__r.PlantCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.SUPPL_STLOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.SourceLocation.ovcStorage_Location_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.STGE_LOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.DestinationLocation.ovcStorage_Location_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItem.PO_ITEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.ovcSAPItemNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PO_ItemX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PO_ItemX</name>
        <label>Create PO ItemX</label>
        <locationX>396</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>poItemX.QUANTITY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.MATERIAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.PO_ITEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.ovcSAPItemNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.PO_ITEMX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.PO_UNIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.STGE_LOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.PLANT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poItemX.SUPPL_STLOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_to_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Schedule_Line</name>
        <label>Create Schedule Line</label>
        <locationX>264</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>poSched.PO_ITEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.ovcSAPItemNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poSched.STAT_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NeedByDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poSched.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Schedule_X</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Schedule_X</name>
        <label>Create Schedule X</label>
        <locationX>264</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>poSchedX.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poSchedX.PO_ITEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_ProductRequest_Items.ovcSAPItemNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poSchedX.PO_ITEMX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poSchedX.STAT_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedules_to_Collections</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Need_by_Date</name>
        <label>Check Need by Date</label>
        <locationX>396</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Check_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Date</defaultConnectorLabel>
        <rules>
            <name>Date_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NeedByDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Schedule_Line</targetReference>
            </connector>
            <label>Date Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shipping_Address</name>
        <label>Check Shipping Address</label>
        <locationX>396</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Loop_at_ProductRequest_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Address</defaultConnectorLabel>
        <rules>
            <name>Address_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShipToStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Item_Delivery_Address</targetReference>
            </connector>
            <label>Address Specified</label>
        </rules>
    </decisions>
    <formulas>
        <name>scenarioInput</name>
        <dataType>String</dataType>
        <expression>&apos;auto_&apos; &amp; {!$Flow.InterviewGuid}</expression>
    </formulas>
    <interviewLabel>Send Product Request Update to SAP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Product Request Update to SAP</label>
    <loops>
        <name>Loop_at_ProductRequest_Items</name>
        <label>Loop_at_ProductRequest_Items</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Product_Request_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_PO_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PO_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Address</name>
        <label>Insert Address</label>
        <locationX>176</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Insert_Schedules</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputReference>dlvAddresses</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_ItemXs</name>
        <label>Insert PO ItemXs</label>
        <locationX>176</locationX>
        <locationY>2543</locationY>
        <connector>
            <targetReference>Insert_Address</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputReference>poItemXs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PO_Header</name>
        <label>Insert PO Header</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Insert_PO_HeaderX</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_NUMBER__c</field>
            <value>
                <elementReference>$Record.ovcSAPKey__c</elementReference>
            </value>
        </inputAssignments>
        <object>PurchaseOrderChangeDS_POHEADER__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_PO_HeaderX</name>
        <label>Insert PO HeaderX</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Product_Request_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_NUMBER__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <object>PurchaseOrderChangeDS_POHEADERX__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_PO_Items</name>
        <label>Insert PO Items</label>
        <locationX>176</locationX>
        <locationY>2423</locationY>
        <connector>
            <targetReference>Insert_ItemXs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputReference>poItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Schedule_Xs</name>
        <label>Insert Schedule Xs</label>
        <locationX>176</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Execute_Overcast_Scenario</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputReference>poSchedXs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Schedules</name>
        <label>Insert Schedules</label>
        <locationX>176</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Insert_Schedule_Xs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputReference>poScheds</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Purhcase_Document</name>
        <label>Purhcase Document</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Insert_PO_Header</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PURCHASEORDER__c</field>
            <value>
                <elementReference>$Record.ovcSAPKey__c</elementReference>
            </value>
        </inputAssignments>
        <object>PurchaseOrderChangeDS_BAPI_PO_CHANGE__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Request_Line_Items</name>
        <label>Get Product Request Line Items</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_at_ProductRequest_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clearmappedrecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Purhcase_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ovcSAPKey__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ovcSAPPostStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <filters>
            <field>ovcLastUpdateInbound__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ovcStock_Transfer_Order_Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductRequest</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>dlvAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POADDRDELIVERY__c</objectType>
    </variables>
    <variables>
        <name>dlvAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POADDRDELIVERY__c</objectType>
    </variables>
    <variables>
        <name>poItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POITEM__c</objectType>
    </variables>
    <variables>
        <name>poItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POITEM__c</objectType>
    </variables>
    <variables>
        <name>poItemX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POITEMX__c</objectType>
    </variables>
    <variables>
        <name>poItemXs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POITEMX__c</objectType>
    </variables>
    <variables>
        <name>poSched</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POSCHEDULE__c</objectType>
    </variables>
    <variables>
        <name>poScheds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POSCHEDULE__c</objectType>
    </variables>
    <variables>
        <name>poSchedX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POSCHEDULEX__c</objectType>
    </variables>
    <variables>
        <name>poSchedXs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderChangeDS_POSCHEDULEX__c</objectType>
    </variables>
</Flow>
