Sandbox/force-app/main/default/flows/Send_Sales_Order_ZREP_to_SAP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clear_mapped_records</name>
        <label>Clear mapped records</label>
        <locationX>1496</locationX>
        <locationY>2351</locationY>
        <actionName>overcast__ActionClearDataSet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Fault_to_WorkOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dataSetName</name>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjects</name>
            <value>
                <stringValue>salesOrderCreateDS_BSALESORCREATEFROMD__c, salesOrderCreateDS_ORDER_CONDITIONS_IN__c, salesOrderCreateDS_ORDER_HEADER_IN__c, salesOrderCreateDS_ORDER_ITEMS_IN__c, salesOrderCreateDS_ORDER_PARTNERS__c, salesOrderCreateDS_ORDER_SCHEDULES_IN__c, salesOrderCreateDS_ORDER_TEXT__c, salesOrderCreateDS_PARTNERADDRESSES__c</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Execute_Overcast_Scenario</name>
        <label>Execute Overcast Scenario</label>
        <locationX>176</locationX>
        <locationY>2831</locationY>
        <actionName>overcast__ActionRunDataSyncScenario</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioInput</name>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>salesOrderCreateDS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Partner_to_Collection</name>
        <label>Add Partner to Collection</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>orderPartners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillToParty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPartners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShipToParty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPartners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SoldToParty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPartners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Records_to_Collections</name>
        <label>Add Records to Collections</label>
        <locationX>264</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemXs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderItemX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderScheds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderSched</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSchedXs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderSchedX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_at_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_BP_Partner</name>
        <label>Create BP Partner</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>BillToParty.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToParty.PARTN_ROLE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToParty.PARTN_NUMB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To__r.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillToParty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PY_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Order_Item</name>
        <label>Create Order Item</label>
        <locationX>264</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>orderItem.MATERIAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.TARGET_QTY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.TARGET_QU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.Quantity_Unit_Of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.ovcSAP_ZREP_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.PLANT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.Plant_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.STORE_LOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Storage_Location_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_ItemX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Order_ItemX</name>
        <label>Create Order ItemX</label>
        <locationX>264</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>orderItemX.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemX.UPDATEFLAG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemX.TARGET_QTY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemX.TARGET_QU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemX.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.ovcSAP_ZREP_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemX.MATERIAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItemX.PLANT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.STORE_LOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Order_Schedule</name>
        <label>Create Order Schedule</label>
        <locationX>264</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>orderSched.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSched.SCHED_LINE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSched.REQ_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ovcSAP_Requested_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSched.REQ_QTY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSched.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.ovcSAP_ZREP_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_ScheduleX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Order_ScheduleX</name>
        <label>Create Order ScheduleX</label>
        <locationX>264</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>orderSchedX.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSchedX.UPDATEFLAG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSchedX.REQ_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSchedX.REQ_QTY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSchedX.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_at_Work_Order_Line_Items.ovcSAP_ZREP_Item_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderSchedX.SCHED_LINE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_to_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PY_Partner</name>
        <label>Create PY Partner</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Payer.PARTN_ROLE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payer.PARTN_NUMB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payer__r.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payer.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Partner_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SH_Partner</name>
        <label>Create SH Partner</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ShipToParty.PARTN_ROLE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToParty.PARTN_NUMB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ship_To__r.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToParty.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShipToParty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_BP_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SP_Partner</name>
        <label>Create SP Partner</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SoldToParty.PARTN_ROLE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SoldToParty.PARTN_NUMB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SoldToParty.ITM_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SoldToParty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SH_Partner</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>currentDay</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>currentTimeStamp</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} - DATETIMEVALUE(&quot;1970-01-01 00:00:00&quot;)) * 86400000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>scenarioInput</name>
        <dataType>String</dataType>
        <expression>&apos;auto_&apos; &amp; {!$Flow.InterviewGuid}</expression>
    </formulas>
    <interviewLabel>Send Sales Order Create ZREP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Sales Order ZREP to SAP</label>
    <loops>
        <name>Loop_at_Work_Order_Line_Items</name>
        <label>Loop at Work Order Line Items</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <collectionReference>Get_Work_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Partners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Items</name>
        <label>Create Order Items</label>
        <locationX>176</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Create_Order_ItemXs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputReference>orderItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_ItemXs</name>
        <label>Create Order ItemXs</label>
        <locationX>176</locationX>
        <locationY>2351</locationY>
        <connector>
            <targetReference>Create_Schedule_Lines</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputReference>orderItemXs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Partners</name>
        <label>Create Order Partners</label>
        <locationX>176</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Create_Order_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputReference>orderPartners</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_Lines</name>
        <label>Create Schedule Lines</label>
        <locationX>176</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Create_Schedule_LineXs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputReference>orderScheds</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule_LineXs</name>
        <label>Create Schedule LineXs</label>
        <locationX>176</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>Main_Static_Params</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputReference>orderSchedXs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Order_Header_X</name>
        <label>Insert Order Header X</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_SP_Partner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CURRENCY__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DISTR_CHAN__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DIVISION__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOC_DATE__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOC_TYPE__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PURCH_DATE__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PURCH_NO_C__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQ_DATE_H__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_ORG__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <object>salesOrderCreateDS_ORDER_HEADER_INX__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InsertOrderHeader</name>
        <label>Insert Order Header</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Insert_Order_Header_X</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CURR_ISO__c</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DISTR_CHAN__c</field>
            <value>
                <elementReference>$Record.Distribution_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DIVISION__c</field>
            <value>
                <elementReference>$Record.Division_Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOC_DATE__c</field>
            <value>
                <elementReference>currentDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOC_TYPE__c</field>
            <value>
                <stringValue>ZREP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>scenarioInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PURCH_DATE__c</field>
            <value>
                <elementReference>$Record.ovcSAP_Purchase_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PURCH_NO_C__c</field>
            <value>
                <elementReference>$Record.ovcSAP_ZREP_Purchase_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REQ_DATE_H__c</field>
            <value>
                <elementReference>$Record.ovcSAP_Requested_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_ORG__c</field>
            <value>
                <elementReference>$Record.Sales_Organisation__c</elementReference>
            </value>
        </inputAssignments>
        <object>salesOrderCreateDS_ORDER_HEADER_IN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Main_Static_Params</name>
        <label>Main Static Params</label>
        <locationX>176</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Execute_Overcast_Scenario</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_mapped_records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CONVERT__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_NUMBER_ASSIGNMENT__c</field>
            <value>
                <stringValue>X</stringValue>
            </value>
        </inputAssignments>
        <object>salesOrderCreateDS_BSALESORCREATEFROMD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order_Line_Items</name>
        <label>Get Work Order Line Items</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_at_Work_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Fault_to_WorkOrder</name>
        <label>Add Fault to Work Order</label>
        <locationX>1496</locationX>
        <locationY>2471</locationY>
        <inputAssignments>
            <field>ovcLastUpdateInbound__c</field>
            <value>
                <elementReference>currentTimeStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ovcSAPErrorMessage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ovcSAP_Post_Status__c</field>
            <value>
                <stringValue>E</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InsertOrderHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ovcSAP_Post_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <filters>
            <field>ovcSAPKey__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BillToParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_PARTNERS__c</objectType>
    </variables>
    <variables>
        <name>orderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_ITEMS_IN__c</objectType>
    </variables>
    <variables>
        <name>orderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_ITEMS_IN__c</objectType>
    </variables>
    <variables>
        <name>orderItemX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_ITEMS_INX__c</objectType>
    </variables>
    <variables>
        <name>orderItemXs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_ITEMS_INX__c</objectType>
    </variables>
    <variables>
        <name>orderPartners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_PARTNERS__c</objectType>
    </variables>
    <variables>
        <name>orderSched</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_SCHEDULES_IN__c</objectType>
    </variables>
    <variables>
        <name>orderScheds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_SCHEDULES_IN__c</objectType>
    </variables>
    <variables>
        <name>orderSchedX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_SCHEDULES_INX__c</objectType>
    </variables>
    <variables>
        <name>orderSchedXs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_SCHEDULES_INX__c</objectType>
    </variables>
    <variables>
        <name>Payer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_PARTNERS__c</objectType>
    </variables>
    <variables>
        <name>ShipToParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_PARTNERS__c</objectType>
    </variables>
    <variables>
        <name>SoldToParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>salesOrderCreateDS_ORDER_PARTNERS__c</objectType>
    </variables>
</Flow>
