Sandbox/force-app/main/default/flows/Service_Appointment_Auto_Follow_And_Unfollow_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Entity_Subscription_Id_1</name>
        <label>Assign Entity Subscription Id</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Entity_Subscription_1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Entity_Subscription_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Record_Found_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entity_Subscription_Id_2</name>
        <label>Assign Entity Subscription Id</label>
        <locationX>1062</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Entity_Subscription_2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Entity_Subscription_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Record_Found_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Assigned_Resource</name>
        <label>Assigned Resource</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_New_Assigned_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Hn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Entity_Subscription_1</targetReference>
            </connector>
            <label>New Assigned Resource</label>
        </rules>
        <rules>
            <name>OUT_No_Assigned_Resource</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CVAR_Entity_Subscription</targetReference>
            </connector>
            <label>No Assigned Resource</label>
        </rules>
        <rules>
            <name>OUT_Changed_Assigned_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Hn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Hn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSSK__FSK_Assigned_Service_Resource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FSSK__FSK_Assigned_Service_Resource__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Entity_Subscription_2</targetReference>
            </connector>
            <label>Changed Assigned Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Record_Found_1</name>
        <label>Record Found</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_No_Record_Found_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Entity_Subscription_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Work_Order_Setting</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Record_Found_2</name>
        <label>Record Found</label>
        <locationX>710</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>RC_Entity_Subscription_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Record_Found_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Network_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_Entity_Subscription_1_0</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Record_Found_3</name>
        <label>Record Found</label>
        <locationX>1062</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>RVAR_Work_Order_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Record_Found_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Entity_Subscription_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_Entity_Subscription_Record_2</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Records_Found</name>
        <label>Records Found</label>
        <locationX>534</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_Entity_Subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_Entity_Subscription_Record_1</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <description>Record owner auto follow and unfollow Service Appointment</description>
    <interviewLabel>Service Appointment: Auto Follow And Unfollow Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment: Auto Follow And Unfollow Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Entity_Subscription_1</name>
        <label>Create Entity Subscription</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>RC_Entity_Subscription_1_0</name>
        <label>Create Entity Subscription</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>NetworkId</field>
            <value>
                <elementReference>RVAR_Network_Member.NetworkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>RD_Entity_Subscription_Record_1</name>
        <label>Delete entity Subscription Record</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <inputReference>CVAR_Entity_Subscription</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>RD_Entity_Subscription_Record_2</name>
        <label>Delete entity Subscription Record</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>RVAR_Work_Order_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Entity_Subscription_2.Id</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
    </recordDeletes>
    <recordLookups>
        <name>CVAR_Entity_Subscription</name>
        <label>Get Entity Subscription Records</label>
        <locationX>534</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Entity_Subscription_1</name>
        <label>Get Entity Subscription</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Entity_Subscription_Id_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Entity_Subscription_2</name>
        <label>Get Entity Subscription</label>
        <locationX>1062</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Entity_Subscription_Id_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check to see if user is a community member</description>
        <name>RVAR_Network_Member</name>
        <label>Get Community Member</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Record_Found_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Assigned_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NetworkId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Work_Order_Setting.Contractor_Community_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NetworkMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Work_Order_Setting</name>
        <label>Get Metadata Type</label>
        <locationX>710</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Network_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor_Community_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Order_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Assigned_Resource</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Entity_Subscription_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
