Sandbox/force-app/main/default/flows/Service_Appointment_Update_WO_Status_and_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_EntityMilestone_Variables</name>
        <label>Assign EntityMilestone Variables</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_EntityMilestone_Records.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_EntityMilestone_Records.IsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EntityMilestone_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsMileStoneExists</name>
        <label>IsMileStoneExists</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EntityMilestone_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EntityMilestone_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FieldService</name>
        <dataType>String</dataType>
        <expression>&apos;Field Service&apos;</expression>
    </formulas>
    <formulas>
        <name>TechnicianOnSite</name>
        <dataType>String</dataType>
        <expression>&apos;Technician On Site&apos;</expression>
    </formulas>
    <formulas>
        <name>WorkOrder</name>
        <dataType>String</dataType>
        <expression>&apos;WorkOrder&apos;</expression>
    </formulas>
    <interviewLabel>Service Appointment: Update WO Status and {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment: Update WO Status and Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EntityMilestone_Records</name>
        <label>Get EntityMilestone Records</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsMileStoneExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityMilestone</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Field_Service_Record_Type_Id</name>
        <label>Get Field Service Record Type Id</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EntityMilestone_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FieldService</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EntityMilestone_Records</name>
        <label>Update EntityMilestone Records</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Work_Order_Details</targetReference>
        </connector>
        <inputReference>Get_EntityMilestone_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Details</name>
        <label>Update Work Order Details</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Field_Service_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exit_Entitlement_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>TechnicianOnSite</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Field_Service_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technician On Site</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
