Sandbox/force-app/main/default/flows/Service_Resource_Set_Location_And_Product_Item_Ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Record_Variables_To_Collection</name>
        <label>Assign Record Variables To Collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Product_Item_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Product_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_The_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables</name>
        <label>Assign Variables</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Product_Item.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_The_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Item.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variables_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the User is active</description>
        <name>DEC_Valid_User</name>
        <label>Valid User?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Valid_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Location</targetReference>
            </connector>
            <label>Valid User</label>
        </rules>
    </decisions>
    <description>Sets Location and related Product Item ownership when Location is associated with a Service Resource</description>
    <interviewLabel>Service Resource: Set Location And Product Item Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Resource: Set Location And Product Item Ownership</label>
    <loops>
        <name>LOOP_Through_The_Collection</name>
        <label>Loop Through The Collection</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>CVAR_Product_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RU_Product_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Location&apos;s Product Item records and place in a collection</description>
        <name>CVAR_Product_Items</name>
        <label>Get Product Items</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_The_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Location record owner</description>
        <name>RU_Location</name>
        <label>Update Location</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CVAR_Product_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Product_Items</name>
        <label>Update Product Items</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>CVAR_Product_Item_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Valid_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>131</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Product_Item_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Product_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
</Flow>
