Sandbox/force-app/main/default/flows/Service_Contract_Deep_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>611</locationX>
        <locationY>6386</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Product_Exclusion_Variables</name>
        <label>Assign Product Exclusion Variables</label>
        <locationX>699</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Product_Exclusion.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Exclusion_List.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Exclusion.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Exclusion_List.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Exclusion.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variables_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Variables_To_Collection</name>
        <label>Assign Record Variables To Collection</label>
        <locationX>699</locationX>
        <locationY>5354</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Product_Exclusion_New</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Product_Exclusion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Exclusion_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Line_Item_Variables</name>
        <label>Assign Contract Line Item Variables</label>
        <locationX>699</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Line_Items_List.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Line_Items_List.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Line_Items_List.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Line_Items_List.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineItemRecord.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Line_Items_List.Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Line_Items_Collections_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entitlements</name>
        <label>Assign Entitlements</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>EntitlementRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Entitlements.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Entitlements.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Entitlements.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.SlaProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_Process_Choices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntitlementRecord.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Hours_Choices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Entitlements_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entitlements_List</name>
        <label>Assign Entitlements List</label>
        <locationX>138</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>NewEntitlementsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EntitlementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Entitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MaintenancePlan_Variable</name>
        <label>Assign MaintenancePlan Variable</label>
        <locationX>699</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.MaintenancePlanTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Plan_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan_List.WorkType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan_List.Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.FrequencyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan_List.FrequencyType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.GenerationTimeframe</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan_List.GenerationTimeframe</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.GenerationTimeframeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan_List.GenerationTimeframeType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_for_the_First_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenancePlan_List.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Bill_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Bill_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Sales_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Distribution_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Distribution_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Payer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Payer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Sales_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Sales_Organisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecord.Ship_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Ship_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MaintenancePlan_Collections_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Preventative_Maintenance_Product_Variable</name>
        <label>Assign Preventative Maintenance Product Variable</label>
        <locationX>699</locationX>
        <locationY>4538</locationY>
        <assignmentItems>
            <assignToReference>PreventativeMaintenanceProductRecord.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreventativeMaintenanceProductRecord.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preventative_Maintenance_Products_List.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreventativeMaintenanceProductRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preventative_Maintenance_Products_List.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreventativeMaintenanceProductRecord.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preventative_Maintenance_Products_List.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Preventative_Maintenance_Product_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Plan_Selection_Rule_Variables</name>
        <label>Assign Work Plan Selection Rule Variables</label>
        <locationX>699</locationX>
        <locationY>5930</locationY>
        <assignmentItems>
            <assignToReference>WorkPlanSelectionRuleRecord.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkPlanSelectionRuleRecord.WorkPlanTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Plan_Selection_Rule_List.WorkPlanTemplate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkPlanSelectionRuleRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Plan_Selection_Rule_List.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkPlanSelectionRuleRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Plan_Selection_Rule_List.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkPlanSelectionRuleRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Plan_Selection_Rule_List.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkPlanSelectionRuleRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Plan_Selection_Rules_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Contract_Line_Items_Collections_List</name>
        <label>Get Contract Line Items Collections List</label>
        <locationX>699</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>NewContractLineItemsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Line_Items_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Maintenance_Asset_List</name>
        <label>Get Maintenance Asset List</label>
        <locationX>699</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>NewMaintenanceAssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaintenanceAssetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maintenance_Plan_List_for_Maintenance_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_MaintenancePlan_Collections_List</name>
        <label>Get MaintenancePlan Collections List</label>
        <locationX>699</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>NewMaintenancePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaintenancePlanRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MaintenancePlan_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Preventative_Maintenance_Product_List</name>
        <label>Get Preventative Maintenance Product List</label>
        <locationX>699</locationX>
        <locationY>4658</locationY>
        <assignmentItems>
            <assignToReference>NewPreventativeMaintenanceProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreventativeMaintenanceProductRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preventative_Maintenance_Products_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Work_Plan_Selection_Rules_List</name>
        <label>Get Work Plan Selection Rules List</label>
        <locationX>699</locationX>
        <locationY>6050</locationY>
        <assignmentItems>
            <assignToReference>NewWorkPlanSelectionRuleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkPlanSelectionRuleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Plan_Selection_Rule_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Maintenance_Asset_Variables</name>
        <label>Maintenance Asset Variables</label>
        <locationX>699</locationX>
        <locationY>3842</locationY>
        <assignmentItems>
            <assignToReference>MaintenanceAssetRecord.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Plan_List_for_Maintenance_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceAssetRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceAssetRecord.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_for_the_First_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Maintenance_Asset_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Maintenance_Plan_Default_Value</name>
        <label>Maintenance Plan Default Value</label>
        <locationX>699</locationX>
        <locationY>3026</locationY>
        <assignmentItems>
            <assignToReference>MaintenancePlanTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Asset.Product_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Asset.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MP_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_of_entitlement_records</name>
        <label>No of entitlement records</label>
        <locationX>204</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>EntitlementRecordsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Entitlements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EntitlementRecordsValidation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CopyPartnerFunctions</name>
        <choiceText>Retain Existing Partner Functions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewPartnerFunctions</name>
        <choiceText>Create New Partner Functions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_SC_is_Comprehensive_Type</name>
        <label>Check if SC is Comprehensive Type</label>
        <locationX>606</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SC is not Comprehensive</defaultConnectorLabel>
        <rules>
            <name>SC_is_Comprehensive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comprehensive - Metro / Regional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlements</targetReference>
            </connector>
            <label>SC is Comprehensive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_Check</name>
        <label>Entitlement Check</label>
        <locationX>358</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit the process</defaultConnectorLabel>
        <rules>
            <name>Create_Entitlement_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_entitlement_records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlements_Creation</targetReference>
            </connector>
            <label>Create Entitlement Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>EntitlementRecordsValidation</name>
        <label>EntitlementRecordsValidation</label>
        <locationX>204</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Entitlement_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoRecords</defaultConnectorLabel>
        <rules>
            <name>Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementRecordsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Entitlements</targetReference>
            </connector>
            <label>Records Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Parent_SC_is_Template</name>
        <label>If Parent SC is Template</label>
        <locationX>771</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Partner_Functions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent SC is not template</defaultConnectorLabel>
        <rules>
            <name>Parent_SC_Name_has_template_word</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Partner_Functions</targetReference>
            </connector>
            <label>Parent SC Name has template word</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Subflow_executes</name>
        <label>If Subflow executes</label>
        <locationX>919</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>Check_if_SC_is_Comprehensive_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Override_Patner_Functions_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Partner_Functions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PC_Distribution_Channel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distribution_Channel__c</picklistField>
        <picklistObject>ServiceContract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Division</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Division__c</picklistField>
        <picklistObject>ServiceContract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Sales_Organisation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Organisation__c</picklistField>
        <picklistObject>ServiceContract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_BusinessHoursChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Field Maintenance</stringValue>
            </value>
        </filters>
        <object>BusinessHours</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_EntitlementProcesses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>EntitlementDefaultName</name>
        <dataType>String</dataType>
        <expression>&apos;Field Service &apos;+{!Get_Asset.Product_Description__c}+&apos; &apos;+{!Get_Asset.SerialNumber}</expression>
    </formulas>
    <interviewLabel>Service Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Contract: Deep Clone</label>
    <loops>
        <name>Contract_Line_Items_List</name>
        <label>Contract Line Items List</label>
        <locationX>611</locationX>
        <locationY>2210</locationY>
        <collectionReference>Get_Contract_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Line_Item_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contract_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Existing_Entitlements</name>
        <label>Existing Entitlements</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <collectionReference>Get_Entitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Entitlement_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Entitlements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Through_Product_Exclusion_List</name>
        <label>Loop Through Product Exclusion List</label>
        <locationX>611</locationX>
        <locationY>5114</locationY>
        <collectionReference>CVAR_Product_Exclusions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Product_Exclusion_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Product_Exclusion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Maintenance_Plan_List_for_Maintenance_Assets</name>
        <label>Maintenance Plan List for Maintenance Assets</label>
        <locationX>611</locationX>
        <locationY>3722</locationY>
        <collectionReference>NewMaintenancePlanList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maintenance_Asset_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maintenance_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MaintenancePlan_List</name>
        <label>MaintenancePlan List</label>
        <locationX>611</locationX>
        <locationY>2906</locationY>
        <collectionReference>Get_MaintenancePlan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Maintenance_Plan_Default_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_MaintenancePlan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Preventative_Maintenance_Products_List</name>
        <label>Preventative Maintenance Products List</label>
        <locationX>611</locationX>
        <locationY>4418</locationY>
        <collectionReference>Get_Preventative_Maintenance_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Preventative_Maintenance_Product_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Preventative_Maintenance_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Work_Plan_Selection_Rule_List</name>
        <label>Work Plan Selection Rule List</label>
        <locationX>611</locationX>
        <locationY>5810</locationY>
        <collectionReference>Get_Work_Plan_Selection_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Plan_Selection_Rule_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Work_Plan_Selection_Rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Line_Items</name>
        <label>Create Contract Line Items</label>
        <locationX>611</locationX>
        <locationY>2666</locationY>
        <connector>
            <targetReference>Get_MaintenancePlan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>NewContractLineItemsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Entitlements</name>
        <label>Create Entitlements</label>
        <locationX>204</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Get_Contract_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>NewEntitlementsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Asset</name>
        <label>Create Maintenance Asset</label>
        <locationX>611</locationX>
        <locationY>4178</locationY>
        <connector>
            <targetReference>Get_Preventative_Maintenance_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>NewMaintenanceAssetList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MaintenancePlan</name>
        <label>Create MaintenancePlan</label>
        <locationX>611</locationX>
        <locationY>3602</locationY>
        <connector>
            <targetReference>Maintenance_Plan_List_for_Maintenance_Assets</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>NewMaintenancePlanList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Preventative_Maintenance_Product</name>
        <label>Create Preventative Maintenance Product</label>
        <locationX>611</locationX>
        <locationY>4874</locationY>
        <connector>
            <targetReference>CVAR_Product_Exclusions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>NewPreventativeMaintenanceProductList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Contract</name>
        <label>Create Service Contract</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>ServiceContractId</assignRecordIdToReference>
        <connector>
            <targetReference>If_Parent_SC_is_Template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalStatus</field>
            <value>
                <elementReference>Get_Service_Contract.ApprovalStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>Get_Service_Contract.Bill_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Service_Contract.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>Get_Service_Contract.Contract_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Service_Contract.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>FI_Distribution_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>FI_Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SC_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payer__c</field>
            <value>
                <elementReference>Get_Service_Contract.Payer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Get_Service_Contract.Purchase_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organisation__c</field>
            <value>
                <elementReference>FI_Sales_Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>SecondaryContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To__c</field>
            <value>
                <elementReference>Get_Service_Contract.Ship_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>Get_Service_Contract.SpecialTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax</field>
            <value>
                <elementReference>Get_Service_Contract.Tax</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Plan_Selection_Rules</name>
        <label>Create Work Plan Selection Rules</label>
        <locationX>611</locationX>
        <locationY>6266</locationY>
        <connector>
            <targetReference>Navigate_to_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>NewWorkPlanSelectionRuleList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>RC_Product_Exclusion</name>
        <label>Create Product Exclusion</label>
        <locationX>611</locationX>
        <locationY>5570</locationY>
        <connector>
            <targetReference>Get_Work_Plan_Selection_Rules</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>CVAR_Product_Exclusion_New</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CVAR_Product_Exclusions</name>
        <label>Get Product Exclusions</label>
        <locationX>611</locationX>
        <locationY>4994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Product_Exclusion_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Exclusion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>611</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Line_Items</name>
        <label>Get Contract Line Items</label>
        <locationX>611</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Line_Items_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlements</name>
        <label>Get Entitlements</label>
        <locationX>204</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_of_entitlement_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MaintenancePlan</name>
        <label>Get MaintenancePlan</label>
        <locationX>611</locationX>
        <locationY>2786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MaintenancePlan_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preventative_Maintenance_Product</name>
        <label>Get Preventative Maintenance Product</label>
        <locationX>611</locationX>
        <locationY>4298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Preventative_Maintenance_Products_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preventative_Maintenance_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>611</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Contract_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Plan_Selection_Rules</name>
        <label>Get Work Plan Selection Rules</label>
        <locationX>611</locationX>
        <locationY>5690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Plan_Selection_Rule_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlanSelectionRule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Entitlement_Decision</name>
        <label>Entitlement Decision</label>
        <locationX>358</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Entitlement_Check</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_create_entitlement_records</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to create entitlement records?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entitlement_Screen</name>
        <label>Entitlement Screen</label>
        <locationX>138</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Entitlements</targetReference>
        </connector>
        <fields>
            <name>Entitlement_Process_Choices</name>
            <choiceReferences>RCS_EntitlementProcesses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entitlement Process</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Hours_Choices</name>
            <choiceReferences>RCS_BusinessHoursChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Hours</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MP_Screen</name>
        <label>MP Screen</label>
        <locationX>699</locationX>
        <locationY>3146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_MaintenancePlan_Variable</targetReference>
        </connector>
        <fields>
            <name>Maintenance_Plan_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MaintenancePlanTitle</elementReference>
            </defaultValue>
            <fieldText>Maintenance Plan Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_for_the_First_Work_Order</name>
            <dataType>Date</dataType>
            <fieldText>Date for the First Work Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Override_Partner_Functions</name>
        <label>Override Partner Functions</label>
        <locationX>978</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_Subflow_executes</targetReference>
        </connector>
        <fields>
            <name>Override_Patner_Functions_Selection</name>
            <choiceReferences>CopyPartnerFunctions</choiceReferences>
            <choiceReferences>NewPartnerFunctions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Override Patner Functions Selection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Functions</name>
        <label>Partner Functions</label>
        <locationX>991</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Override_Partner_Functions</targetReference>
        </connector>
        <fields>
            <name>Ship_To</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Ship_To__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Service_Contract.Ship_To__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Bill_To</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Bill_To__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bill To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Service_Contract.Bill_To__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Payer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Payer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Payer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Service_Contract.Payer__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>1194</locationX>
        <locationY>6386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SC_Error_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 9, 9);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Contract_Name</name>
        <label>Service Contract Name</label>
        <locationX>611</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <fields>
            <name>AssetId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContractLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SC_Name</name>
            <dataType>String</dataType>
            <fieldText>Contract Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Contract_Name_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_Contract_Name_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Service_Contract_Name_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Service_Contract.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Service_Contract.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SecondaryContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Secondary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Service_Contract.Secondary_Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FI_Sales_Organisation</name>
            <choiceReferences>PC_Sales_Organisation</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1000</stringValue>
            </defaultValue>
            <fieldText>Sales Organisation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Distribution_Channel</name>
            <choiceReferences>PC_Distribution_Channel</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>10</stringValue>
            </defaultValue>
            <fieldText>Distribution Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Division</name>
            <choiceReferences>PC_Division</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00</stringValue>
            </defaultValue>
            <fieldText>Division</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Entitlements_Creation</name>
        <label>Entitlements Creation</label>
        <locationX>226</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Create_Entitlements</targetReference>
        </connector>
        <flowName>Entitlement_Create</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetId</name>
            <value>
                <elementReference>AssetId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EndDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EntitlementDefaultName</name>
            <value>
                <elementReference>EntitlementDefaultName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceContactId</name>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Select_Partner_Functions</name>
        <label>Select Partner Functions</label>
        <locationX>782</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Check_if_SC_is_Comprehensive_Type</targetReference>
        </connector>
        <flowName>Select_Partner_Functions</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContractLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>CVAR_Product_Exclusion_New</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Exclusion__c</objectType>
    </variables>
    <variables>
        <name>EntitlementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementRecordsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MaintenanceAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>MaintenancePlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>MaintenancePlanTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContractLineItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>NewEntitlementsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>NewMaintenanceAssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>NewMaintenancePlanList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>NewPreventativeMaintenanceProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preventative_Maintenance_Product__c</objectType>
    </variables>
    <variables>
        <name>NewWorkPlanSelectionRuleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlanSelectionRule</objectType>
    </variables>
    <variables>
        <name>PreventativeMaintenanceProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preventative_Maintenance_Product__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Product_Exclusion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Exclusion__c</objectType>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkPlanSelectionRuleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlanSelectionRule</objectType>
    </variables>
</Flow>
