Sandbox/force-app/main/default/flows/Temporarary_Fault_Cause_Code_Create_Cause_Code_Cache.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Revord_Variable_To_Collection</name>
        <label>Assign Revord Variable To Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Temporary_Fault_Cause_Code</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Temporary_Fault_Cause_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collecion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_To_Record_Variable</name>
        <label>Assign Variables To Record Variable</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Temporary_Fault_Cause_Code.Cause_Code_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Collecion.Cause_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Temporary_Fault_Cause_Code.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Collecion.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Temporary_Fault_Cause_Code.Work_Order_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work_Order_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Temporary_Fault_Cause_Code.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cause</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Temporary_Fault_Cause_Code.Fault_Code_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Collecion.Fault_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Temporary_Fault_Cause_Code.Fault_Cause_Relationship_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Collecion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Revord_Variable_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Creates temporary cause codes for use by the FSL mobile app</description>
    <interviewLabel>Temporarary Fault Cause Code: Create Cause Code Cache {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Temporarary Fault Cause Code: Create Cause Code Cache</label>
    <loops>
        <name>Loop_Through_Collecion</name>
        <label>Loop Through Collecion</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>CVAR_Fault_Cause_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Variables_To_Record_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Temporary_Cause_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Temporary_Cause_Codes</name>
        <label>Create Temporary Cause Codes</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>CVAR_Temporary_Fault_Cause_Code</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Cause Codes related to the fault code</description>
        <name>CVAR_Fault_Cause_Relationship</name>
        <label>Get Fault Cause Relationship</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Collecion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fault_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fault_Code_id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fault_Cause_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CVAR_Fault_Cause_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fault</stringValue>
            </value>
        </filters>
        <object>Temporary_Fault_And_Cause_Code__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Temporary_Fault_Cause_Code</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Temporary_Fault_And_Cause_Code__c</objectType>
    </variables>
    <variables>
        <name>RVAR_Temporary_Fault_Cause_Code</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Temporary_Fault_And_Cause_Code__c</objectType>
    </variables>
</Flow>
