Sandbox/force-app/main/default/flows/TEST_Case_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ASS_Variables_1</name>
        <label>Assign Variables</label>
        <locationX>765</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owned_By_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Is_Changed_Account_Contact_Asset_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_2</name>
        <label>Assign Variables</label>
        <locationX>1107</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owned_By_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Is_Changed_Account_Contact_Asset_Description</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Accept_From_Queue</name>
        <label>Accept From Queue</label>
        <locationX>920</locationX>
        <locationY>1054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_4</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see whether the Account, Contact, Asset or description values have been changed</description>
        <name>DEC_Is_Changed_Account_Contact_Asset_Description</name>
        <label>Is Changed Account, Contact, Asset, Description</label>
        <locationX>925</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>RU_Case_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>OUT_Is_Changed_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_1</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Is_Changed_Supervisor_Note</name>
        <label>Is Changed Supervisor Note</label>
        <locationX>919</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>DEC_Accept_From_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Is_Changed_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supervisor_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supervisor_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Case_3</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Owned_By_Queue_2</name>
        <label>Owned By Queue</label>
        <locationX>922</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>ASS_Variables_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>OUT_Queue_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Variables_2</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <formulas>
        <name>FOR_Case_Search</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}
&amp; &quot;;&quot;
&amp; {!$Record.Account.Customer_Number__c}
&amp; &quot;;&quot;
&amp; {!$Record.Contact.Full_Name__c}
&amp; &quot;;&quot;
&amp; {!$Record.Asset.SerialNumber}</expression>
    </formulas>
    <formulas>
        <name>FOR_Description</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Description}, 255)</expression>
    </formulas>
    <formulas>
        <name>FOR_Team</name>
        <dataType>String</dataType>
        <expression>{!$Record.AutoResponse_Team_Name__c}</expression>
    </formulas>
    <interviewLabel>TEST: Case Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Case Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>RU_Case_1</name>
        <label>Update Case</label>
        <locationX>768</locationX>
        <locationY>720</locationY>
        <connector>
            <targetReference>DEC_Is_Changed_Supervisor_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Search__c</field>
            <value>
                <elementReference>FOR_Case_Search</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Custom__c</field>
            <value>
                <elementReference>FOR_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owned_By_Queue__c</field>
            <value>
                <elementReference>VAR_Owned_By_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_2</name>
        <label>Update Case</label>
        <locationX>1107</locationX>
        <locationY>718</locationY>
        <connector>
            <targetReference>DEC_Is_Changed_Supervisor_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Owned_By_Queue__c</field>
            <value>
                <elementReference>VAR_Owned_By_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_3</name>
        <label>Update Case</label>
        <locationX>774</locationX>
        <locationY>1052</locationY>
        <connector>
            <targetReference>DEC_Accept_From_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Has_Supervisor_Note__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_4</name>
        <label>Update Case</label>
        <locationX>931</locationX>
        <locationY>1238</locationY>
        <inputAssignments>
            <field>Owned_By_Queue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_5</name>
        <label>Update Case</label>
        <locationX>1180</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>Has_Supervisor_Note__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>DEC_Owned_By_Queue_2</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Has_Supervisor_Note</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Originating_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Originating_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Owned_By_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Queue_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Team_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
