Sandbox/force-app/main/default/flows/TEST_Case_Initialize_Phone_Case_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ASS_Variables_1</name>
        <label>Assign Variables</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owned_By_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Originating_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Setting.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Originating_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Setting.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Pull_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Setting.Pull_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Push_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Setting.Push_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Queue_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Setting.Queue_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Team_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Setting.Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Triage_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Setting.Triage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_2</name>
        <label>Assign Variables</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owned_By_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Originating_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.DB_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Pull_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Push_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Queue_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Team_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Triage_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Owned_By_Queue_1</name>
        <label>Owned By Queue</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>ASS_Variables_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>OUT_Queue_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Setting</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <description>Sets key variables on phone case record</description>
    <formulas>
        <name>FOR_Case_Search</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}
&amp; &quot;;&quot;
&amp; {!$Record.Account.Customer_Number__c}
&amp; &quot;;&quot;
&amp; {!$Record.Contact.Full_Name__c}
&amp; &quot;;&quot;
&amp; {!$Record.Asset.SerialNumber}</expression>
    </formulas>
    <formulas>
        <name>FOR_Description</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Description}, 255)</expression>
    </formulas>
    <formulas>
        <name>FOR_Team</name>
        <dataType>String</dataType>
        <expression>{!$Record.AutoResponse_Team_Name__c}</expression>
    </formulas>
    <interviewLabel>TEST: Case: Initialize Phone Case Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Case: Initialize Phone Case Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup Case Setting metadata type</description>
        <name>RVAR_Case_Setting</name>
        <label>Get Case Setting</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>AutoResponse_Team_Name__c</field>
            <value>
                <elementReference>VAR_Team_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Search__c</field>
            <value>
                <elementReference>FOR_Case_Search</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Custom__c</field>
            <value>
                <elementReference>FOR_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Pull_Queue__c</field>
            <value>
                <elementReference>VAR_Pull_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Push_Queue__c</field>
            <value>
                <elementReference>VAR_Push_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Triage_Queue__c</field>
            <value>
                <elementReference>VAR_Triage_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Location__c</field>
            <value>
                <elementReference>VAR_Originating_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Queue__c</field>
            <value>
                <elementReference>VAR_Originating_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owned_By_Queue__c</field>
            <value>
                <elementReference>VAR_Owned_By_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue_Email__c</field>
            <value>
                <elementReference>VAR_Queue_Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Owned_By_Queue_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Originating_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Originating_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Owned_By_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Pull_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Push_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Queue_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Team_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Triage_Queue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
