Sandbox/force-app/main/default/flows/TEST_Product_Item_Batch_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>RCS_Location</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>DO NOT USE</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsInventoryLocation</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>VAR_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Plant_Storage_Location__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Product_Item</name>
        <dataType>String</dataType>
        <displayField>Product_Description__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Location_Id</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>VAR_Product_Item_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Product_Item_Batch</name>
        <dataType>String</dataType>
        <displayField>Batch_QOH__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Product_Item_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Product_Item_Batch__c</object>
        <outputAssignments>
            <assignToReference>VAR_Product_Item_Batch_Available_Quantity</assignToReference>
            <field>Available_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Product_Item_Batch_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_Available_Quantity</name>
        <dataType>Number</dataType>
        <expression>{!VAR_Product_Item_Batch_Available_Quantity} - {!FI_Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>TEST: Product Item Batch Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Product Item Batch Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>RC_Product_Consumed</name>
        <label>Create Product Consumed Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ProductItemId</field>
            <value>
                <elementReference>VAR_Product_Item_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityConsumed</field>
            <value>
                <elementReference>FI_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProductConsumed</object>
    </recordCreates>
    <recordUpdates>
        <name>RU_product_Item_Batch</name>
        <label>Update product Item Batch</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>RC_Product_Consumed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Product_Item_Batch_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>FOR_Available_Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Item_Batch__c</object>
    </recordUpdates>
    <screens>
        <name>SC_Select_Location</name>
        <label>Select Location</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Select_Product_Item</targetReference>
        </connector>
        <fields>
            <name>FI_Location</name>
            <choiceReferences>RCS_Location</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Select_Product_Item</name>
        <label>Select Product Item</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Select_Product_Item_0</targetReference>
        </connector>
        <fields>
            <name>FI_Product_Item</name>
            <choiceReferences>RCS_Product_Item</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Select_Product_Item_0</name>
        <label>Select Product Item</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RU_product_Item_Batch</targetReference>
        </connector>
        <fields>
            <name>FI_Product_Item_Batch</name>
            <choiceReferences>RCS_Product_Item_Batch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Batch / Quantity On Hand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SC_Select_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Location_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Product_Item_Batch_Available_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Product_Item_Batch_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Product_Item_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
