Sandbox/force-app/main/default/flows/TEST_Stock_Query.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_response_data</name>
        <label>Send response data</label>
        <locationX>276</locationX>
        <locationY>789</locationY>
        <actionName>StockQueryFlowClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Datatable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quantityConsumed</name>
            <value>
                <elementReference>Quantity_Consumed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>result</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WOId</name>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputResult</assignToReference>
            <name>outputResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Product_Item_Batch</name>
        <label>Update Product Item Batch</label>
        <locationX>469</locationX>
        <locationY>1016</locationY>
        <actionName>StockQueryUpdateProductItem</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quantityConsumed</name>
            <value>
                <elementReference>Quantity_Consumed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>LC_Datatable.outputSelectedRowsString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WOId</name>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>TEST: Stock Query {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Stock Query</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Datatable</name>
        <label>Datatable</label>
        <locationX>481</locationX>
        <locationY>865</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Product_Item_Batch</targetReference>
        </connector>
        <fields>
            <name>LC_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product_Item_Batch__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isSerializedRecordData</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isSerializedRecordData</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product_Item_Batch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Batch__c,Available_Quantity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Batch__c:100 Available_Quantity__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serializedRecordData</name>
                <value>
                    <elementReference>outputResult</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>materialNumber</name>
        <label>materialNumber</label>
        <locationX>195</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>query_stock</targetReference>
        </connector>
        <fields>
            <name>IdValue</name>
            <fieldText>&lt;p&gt;Record ID: {!Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>material_Number</name>
            <dataType>String</dataType>
            <fieldText>materialNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>plant</name>
            <dataType>String</dataType>
            <fieldText>plant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>storageLocation</name>
            <dataType>String</dataType>
            <fieldText>storageLocation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quantity_Consumption</name>
        <label>Quantity Consumption</label>
        <locationX>504</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_response_data</targetReference>
        </connector>
        <fields>
            <name>Quantity_Consumed</name>
            <dataType>Number</dataType>
            <fieldText>Quantity to be Consumed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sc2</name>
        <label>sc2</label>
        <locationX>213</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quantity_Consumption</targetReference>
        </connector>
        <fields>
            <name>result</name>
            <fieldText>&lt;p&gt;{!query_stock.stockResults}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>materialNumber</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>query_stock</name>
        <label>query stock</label>
        <locationX>204</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>sc2</targetReference>
        </connector>
        <flowName>QueryStockSample</flowName>
        <inputAssignments>
            <name>materialNumber</name>
            <value>
                <elementReference>material_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>plant</name>
            <value>
                <elementReference>plant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storageLocation</name>
            <value>
                <elementReference>storageLocation</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
