Sandbox/force-app/main/default/flows/TEST_WO_PR_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Record_Collection</name>
        <label>Assign Record Collection</label>
        <locationX>438</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Delete_Product_Required</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Through_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Division_Matched</name>
        <label>Division Matched?</label>
        <locationX>433</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>ASS_Record_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Collection.Divisions__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Asset.Product2.Division__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Through_Collection</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there are ant Product Required records</description>
        <name>DEC_Has_Product_Required</name>
        <label>Has Product Required</label>
        <locationX>19</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_Product_Required</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>TEST: WO PR - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: WO PR - Update</label>
    <loops>
        <name>LOOP_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>177</locationX>
        <locationY>638</locationY>
        <collectionReference>CVAR_Product_Required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Division_Matched</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DR_Product_Required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DR_Product_Required</name>
        <label>Delete Product_Required</label>
        <locationX>175</locationX>
        <locationY>863</locationY>
        <inputReference>CVAR_Delete_Product_Required</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>RD_Products_Required</name>
        <label>Delete Products Required</label>
        <locationX>189</locationX>
        <locationY>481</locationY>
        <inputReference>CVAR_Product_Required</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>CVAR_Product_Required</name>
        <label>Get Product Required</label>
        <locationX>177</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RD_Products_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>CVAR_Product_Required</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CVAR_Delete_Product_Required</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
</Flow>
