Sandbox/force-app/main/default/flows/TEST_Case_Save_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ASS_Queue_Id_1</name>
        <label>Assign Queue Id</label>
        <locationX>83</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_1.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Queue_Id_2</name>
        <label>Assign Queue Id</label>
        <locationX>200</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_2.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Queue_Id_3</name>
        <label>Assign Queue Id</label>
        <locationX>593</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_3.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Queue_Id_4</name>
        <label>Assign Queue Id</label>
        <locationX>882</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_4.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Queue_Id_5</name>
        <label>Assign Queue Id</label>
        <locationX>1140</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_5.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Queue_Id_6</name>
        <label>Assign Queue Id</label>
        <locationX>1480</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>VAR_Owner_Id_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Case_Settings_6.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Allocate_To_Queue</name>
        <label>Allocate To Queue</label>
        <locationX>863</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>RU_Case_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_AU_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.DB_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_1</targetReference>
            </connector>
            <label>AU CS</label>
        </rules>
        <rules>
            <name>OUT_AU_TS</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.DB_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_2</targetReference>
            </connector>
            <label>AU TS</label>
        </rules>
        <rules>
            <name>OUT_NZ_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.DB_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_3</targetReference>
            </connector>
            <label>NZ CS</label>
        </rules>
        <rules>
            <name>OUT_NZ_TS</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.DB_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_4</targetReference>
            </connector>
            <label>NZ TS</label>
        </rules>
        <rules>
            <name>OUT_Data_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_5</targetReference>
            </connector>
            <label>Data Team</label>
        </rules>
        <rules>
            <name>OUT_CMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Managed_Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Case_Settings_6</targetReference>
            </connector>
            <label>CMS</label>
        </rules>
    </decisions>
    <formulas>
        <name>FOR_Description</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Description}, 255)</expression>
    </formulas>
    <interviewLabel>TEST: Case: Save After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Case: Save After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RVAR_Case_Settings_1</name>
        <label>Get Case Settings</label>
        <locationX>50</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Queue_Id_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Default_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Case_Settings_2</name>
        <label>Get Case Settings</label>
        <locationX>198</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Queue_Id_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Default_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Case_Settings_3</name>
        <label>Get Case Settings</label>
        <locationX>594</locationX>
        <locationY>594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Queue_Id_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Default_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NZ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Case_Settings_4</name>
        <label>Get Case Settings</label>
        <locationX>871</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Queue_Id_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Default_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NZ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Case_Settings_5</name>
        <label>Get Case Settings</label>
        <locationX>1121</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Queue_Id_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Default_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Case_Settings_6</name>
        <label>Get Case Settings</label>
        <locationX>1476</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Queue_Id_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Managed_Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Default_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Case</name>
        <label>Update Case</label>
        <locationX>601</locationX>
        <locationY>1052</locationY>
        <inputAssignments>
            <field>Description_Custom__c</field>
            <value>
                <elementReference>FOR_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_Owner_Id_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Case_2</name>
        <label>Update Case</label>
        <locationX>1290</locationX>
        <locationY>469</locationY>
        <inputAssignments>
            <field>Description_Custom__c</field>
            <value>
                <elementReference>FOR_Description</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>747</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>DEC_Allocate_To_Queue</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VAR_Owner_Id_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
