Sandbox/force-app/main/default/flows/TEST_Relate_File_To_Cloned_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assigns record variable to collection</description>
        <name>ASS_Record_Variable</name>
        <label>Assign Record Variable</label>
        <locationX>352</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Create_Content_Document_Link</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Content_Document_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Case_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables to the record variable</description>
        <name>ASS_Variables</name>
        <label>Assign Variables</label>
        <locationX>483</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Content_Document_Link.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Content_Document_Link_Collection.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Content_Document_Link.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Case_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Content_Document_Link.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Content_Document_Link.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SharedUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variable</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TEST: Relate File To Cloned Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Relate File To Cloned Case</label>
    <loops>
        <description>Loop through the collection of case records</description>
        <name>LOOP_Through_Case_Collection</name>
        <label>Loop Through Case Collection</label>
        <locationX>171</locationX>
        <locationY>492</locationY>
        <collectionReference>CVAR_Cloned_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LOOP_Through_Content_Document_Link_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the collection of content document link records</description>
        <name>LOOP_Through_Content_Document_Link_Collection</name>
        <label>Loop Through Content Document Link Collection</label>
        <locationX>485</locationX>
        <locationY>493</locationY>
        <collectionReference>CVAR_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Variables</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>RC_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>163</locationX>
        <locationY>791</locationY>
        <inputReference>CVAR_Create_Content_Document_Link</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CVAR_Cloned_Cases</name>
        <label>Get Cloned Cases</label>
        <locationX>170</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CVAR_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CVAR_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>163</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Case_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>43</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CVAR_Cloned_Cases</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Collection of content document link records to be created</description>
        <name>CVAR_Create_Content_Document_Link</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Content document link record variable</description>
        <name>RVAR_Content_Document_Link</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VAR_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
