Sandbox/force-app/main/default/flows/TEST_Create_Service_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Selected_Permission_Sets_To_Collection</name>
        <label>Convert Selected Permission Sets To Collection</label>
        <locationX>345</locationX>
        <locationY>270</locationY>
        <actionName>ConvertToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LOOP_Through_Permission_Set_Collection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialString</name>
            <value>
                <elementReference>FI_Permission_Sets</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CVAR_Permission_Sets</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ASS_Permission_Set_Records_To_Collection</name>
        <label>Assign Permission Set Records To Collection</label>
        <locationX>536</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Permission_Set_Assignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Permission_Set_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Permission_Set_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Permission_Set_Variables</name>
        <label>Assign Permission Set Variables</label>
        <locationX>535</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Permission_Set_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Permission_Set_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Permission_Set_Assignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Permission_Set_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>RCS_Permission_Sets</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Field</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>VAR_Permission_Set_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Skills</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Skill</object>
        <outputAssignments>
            <assignToReference>VAR_Skill_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>TEST: Create Service Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Create Service Resource</label>
    <loops>
        <name>LOOP_Through_Permission_Set_Collection</name>
        <label>Loop Through Permission Set Collection</label>
        <locationX>326</locationX>
        <locationY>465</locationY>
        <collectionReference>CVAR_Permission_Sets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Permission_Set_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>RC_Permission_Set_Assignments</name>
        <label>Create Permission Set Assignments</label>
        <locationX>139</locationX>
        <locationY>715</locationY>
        <inputReference>CVAR_Permission_Set_Assignments</inputReference>
    </recordCreates>
    <screens>
        <name>SC_Create_Service_Resource</name>
        <label>Create Service Resource</label>
        <locationX>347</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_Selected_Permission_Sets_To_Collection</targetReference>
        </connector>
        <fields>
            <name>SC_Create_Service_Resource_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Create_Service_Resource_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LU_Service_Territory</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ServiceTerritoryId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Service Territory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ServiceTerritoryMember</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LU_Location</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LocationId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Location</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ServiceResource</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Create_Service_Resource_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Permission_Sets</name>
                    <choiceReferences>RCS_Permission_Sets</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Permission Sets</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FI_Skills</name>
            <choiceReferences>RCS_Skills</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Create_Service_Resource_0</name>
        <label>Create Service Resource</label>
        <locationX>54</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SC_Create_Service_Resource_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Create_Service_Resource_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PS</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VAR_Permission_Set_Name</elementReference>
                    </defaultValue>
                    <fieldText>PS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SK</name>
                    <dataType>String</dataType>
                    <fieldText>SK</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Create_Service_Resource_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>243</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SC_Create_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CVAR_Permission_Set_Assignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>CVAR_Permission_Sets</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CVAR_Skills</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Permission_Set_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>VAR_Permission_Set_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Permission_Set_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Skill_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
