Sandbox/force-app/main/default/flows/TEST_Create_Skill_Requirement_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Records_To_Collection</name>
        <label>Assign Records To Collection</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Skill_Requirement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Skill_Requirement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables</name>
        <label>Assign Variables</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Skill_Requirement.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Skill_Requirement.SkillId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Collection.Skill_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Has_Asset_Product</name>
        <label>Has Asset Product</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Asset_Product_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>01t</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CVAR_Product_Skills</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>TEST: Create Skill Requirement 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Create Skill Requirement 2</label>
    <loops>
        <name>Loop_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>CVAR_Product_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Skill_Requirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Skill_Requirements</name>
        <label>Create Skill Requirements</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>CVAR_Skill_Requirement</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Product Skill records related to the asset product on the work order</description>
        <name>CVAR_Product_Skills</name>
        <label>Get Product Skills</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Asset_Product_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Has_Asset_Product</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CVAR_Skill_Requirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>RVAR_Skill_Requirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>VAR_Asset_Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
