Sandbox/force-app/main/default/flows/TEST_Create_Work_Order_Product_Required.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Product_Required_Variables</name>
        <label>Assign Product Required Variables</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Products_Required.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Products_Required.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Products_Required.QuantityRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variables_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Variables_To_Collection</name>
        <label>Assign Record Variables To Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Product_Required</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Products_Required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TEST: Create Work Order Product Required {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Create Work Order Product Required</label>
    <loops>
        <name>LOOP_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>CVAR_Preventative_Maintenance_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Product_Required_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Products_Required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Products_Required</name>
        <label>Create Products Required</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>CVAR_Product_Required</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CVAR_Preventative_Maintenance_Product</name>
        <label>Get Preventative Maintenance Product</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preventative_Maintenance_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CVAR_Preventative_Maintenance_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>08q</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>02i</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceContractId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>810</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CVAR_Product_Required</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>RVAR_Products_Required</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
</Flow>
