Sandbox/force-app/main/default/flows/TEST_WO_TC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Completed_Line_Count</name>
        <label>Assign Completed Line Count</label>
        <locationX>304</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>VAR_Completed_Line_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Line_Item_Count</name>
        <label>Assign Line Item Count</label>
        <locationX>566</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>VAR_Line_Item_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Total_Price</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Through_Collection.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Completed</name>
        <label>Completed?</label>
        <locationX>557</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Collection.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Completed_Line_Count</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Grand_Total_Greater_Than_0</name>
        <label>Grand Total &gt; $0</label>
        <locationX>157</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Grand_Total_Greater_Than_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Total_Price</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Line_Item_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Completed_Line_Count</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Blanket_Purchase_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Work_Order</targetReference>
            </connector>
            <label>Grand Total &gt; $0</label>
        </rules>
        <rules>
            <name>OUT_Grand_Total_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Total_Price</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Line_Item_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Completed_Line_Count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Work_Order</targetReference>
            </connector>
            <label>Grand Total = $0</label>
        </rules>
    </decisions>
    <interviewLabel>TEST: WO TC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: WO TC</label>
    <loops>
        <name>LOOP_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>170</locationX>
        <locationY>552</locationY>
        <collectionReference>CVAR_Work_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Line_Item_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_Grand_Total_Greater_Than_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CVAR_Work_Order_Line_Items</name>
        <label>Get Work Order Line Items</label>
        <locationX>171</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>164</locationX>
        <locationY>1078</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>45</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>CVAR_Work_Order_Line_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technically Complete</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VAR_Completed_Line_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_Line_Item_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Total_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
