Sandbox/force-app/main/default/flows/TEST_Work_Order_Get_Labour_And_Travel_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ASS_Product_id_1</name>
        <label>Assign Product id</label>
        <locationX>35</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>VAR_Product_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Product_id_2</name>
        <label>Assign Product id</label>
        <locationX>683</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>VAR_Product_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Variables_To_Collection_1</name>
        <label>Assign Record Variables To Collection</label>
        <locationX>548</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Order_Line_Item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CVAR_Travel_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Variables_To_Collection_2</name>
        <label>Assign Record Variables To Collection</label>
        <locationX>1282</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Order_Line_Item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RC_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_To_Record_Variable_1</name>
        <label>Assign Variables To Record Variable</label>
        <locationX>418</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Pricebook_Entry_Id_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variables_To_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_To_Record_Variable_2</name>
        <label>Assign Variables To Record Variable</label>
        <locationX>1140</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Pricebook_Entry_Id_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variables_To_Collection_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_PM_Item_1</name>
        <label>PM Item</label>
        <locationX>164</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>ASS_Product_id_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM</defaultConnectorLabel>
        <rules>
            <name>OUT_PM_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Product_Collection_1.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Through_Product_Collection_1</targetReference>
            </connector>
            <label>PM</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_PM_Item_2</name>
        <label>PM Item</label>
        <locationX>812</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>ASS_Product_id_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CM</defaultConnectorLabel>
        <rules>
            <name>OUT_PM_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Product_Collection_1.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Through_Product_Collection_2</targetReference>
            </connector>
            <label>PM</label>
        </rules>
    </decisions>
    <description>BEWARE: Hardcoded Pricebook Entry Id</description>
    <interviewLabel>TEST: Work Order: Get Labour And Travel Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Work Order: Get Labour And Travel Products</label>
    <loops>
        <name>LOOP_Through_Product_Collection_1</name>
        <label>Loop Through Product Collection</label>
        <locationX>175</locationX>
        <locationY>489</locationY>
        <collectionReference>CVAR_Labour_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_PM_Item_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RVAR_Pricebook_Entry_Id_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Through_Product_Collection_2</name>
        <label>Loop Through Product Collection</label>
        <locationX>827</locationX>
        <locationY>492</locationY>
        <collectionReference>CVAR_Travel_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_PM_Item_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RVAR_Pricebook_Entry_Id_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>1449</locationX>
        <locationY>509</locationY>
        <inputReference>CVAR_Work_Order_Line_Item</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CVAR_Labour_Product</name>
        <label>Get Labour Product</label>
        <locationX>176</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Product_Collection_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.Product2.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LABOUR</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CVAR_Travel_Product</name>
        <label>Get Travel Product</label>
        <locationX>681</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Product_Collection_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.Product2.Division__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TRAVEL</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Pricebook_Entry_Id_1</name>
        <label>Get Pricebook Entry Id</label>
        <locationX>321</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_To_Record_Variable_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Product_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s6F000009hcycQAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Pricebook_Entry_Id_2</name>
        <label>Get Pricebook Entry Id</label>
        <locationX>992</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_To_Record_Variable_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Product_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s6F000009hcycQAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CVAR_Labour_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>VAR_Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
