Sandbox/force-app/main/default/flows/TEST_Create_WOLI_From_PR_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Product_Records_To_Collection</name>
        <label>Assign Product Records To Collection</label>
        <locationX>1369</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Product</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign variables

Note Product Family being used to store Product Required Type value for the purposes of the flow only</description>
        <name>ASS_Variables_To_Product_Record</name>
        <label>Assign Variables To Product Record</label>
        <locationX>1538</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.Family</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Product_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_To_Work_Order_Line_Item_Record</name>
        <label>Assign Variables To Work Order Line Item Record</label>
        <locationX>1146</locationX>
        <locationY>1552</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Labour_Travel_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Family</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Work_Order_Line_Item_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Work_Order_Line_Item_Records_To_Collection</name>
        <label>Assign Work Order Line Item Records To Collection</label>
        <locationX>1375</locationX>
        <locationY>1552</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Order_Line_Item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Division_Match</name>
        <label>Division Match</label>
        <locationX>1530</locationX>
        <locationY>1012</locationY>
        <defaultConnector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Product_Required_Collection.Divisions__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Asset.Product2.Division__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Variables_To_Product_Record</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there are any line items to delete</description>
        <name>DEC_Line_Items_Exist</name>
        <label>Line Items Exist?</label>
        <locationX>922</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>DEC_Work_Type_And_Asset_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_Current_Work_Order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_Work_Order_Line_Items</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Asset and Work Type fields are populated</description>
        <name>DEC_Work_Type_And_Asset_Present</name>
        <label>Work Type And Asset Present?</label>
        <locationX>1145</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02i</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CVAR_Product_Required_Work_Type</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <interviewLabel>TEST: Create WOLI From PR 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Create WOLI From PR 2 - update</label>
    <loops>
        <name>LOOP_Through_Product_Collection</name>
        <label>Loop Through Product Collection</label>
        <locationX>1155</locationX>
        <locationY>1175</locationY>
        <collectionReference>CVAR_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RVAR_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Work_Order_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Through_Product_Required_Collection</name>
        <label>Loop Through Product Required Collection</label>
        <locationX>1156</locationX>
        <locationY>1013</locationY>
        <collectionReference>CVAR_Product_Required_Work_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Division_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_Through_Product_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>936</locationX>
        <locationY>1174</locationY>
        <inputReference>CVAR_Work_Order_Line_Item</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Deletes labour and travel line items</description>
        <name>RD_Work_Order_Line_Items</name>
        <label>Delete Work Order Line Items</label>
        <locationX>930</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>DEC_Work_Type_And_Asset_Present</targetReference>
        </connector>
        <inputReference>CVAR_Current_Work_Order_Line_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>CVAR_Current_Work_Order_Line_Items</name>
        <label>Get Work Order Line Items</label>
        <locationX>931</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Line_Items_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Labour_Travel_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CVAR_Product_Required_Work_Type</name>
        <label>Get Product Required - Work Type</label>
        <locationX>1155</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Divisions__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>1147</locationX>
        <locationY>1424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_To_Work_Order_Line_Item_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>803</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CVAR_Current_Work_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CVAR_Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>CVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
