Sandbox/force-app/main/default/flows/TEST_WO_PR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Record_Collection</name>
        <label>Assign Record Collection</label>
        <locationX>975</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Delete_Product_Required</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Through_Collection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns record variable to collection variable</description>
        <name>ASS_Record_Variable_To_Collection_1</name>
        <label>Assign Record Variable To Collection</label>
        <locationX>760</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Order_Line_Item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns record variable to collection variable</description>
        <name>ASS_Record_Variable_To_Collection_2</name>
        <label>Assign Record Variable To Collection</label>
        <locationX>757</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Create_Work_Order_Line_Item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Create_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables to work order line item record variable</description>
        <name>ASS_Variables_To_WOLI_Record_1</name>
        <label>Assign Variables To Record</label>
        <locationX>897</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection.QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variable_To_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns variables to work order line item record variable</description>
        <name>ASS_Variables_To_WOLI_Record_2</name>
        <label>Assign Variables To Record</label>
        <locationX>772</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Create_Work_Order_Line_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Create_Work_Order_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Collection_2.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Create_Work_Order_Line_Item.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variable_To_Collection_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Division_Matched</name>
        <label>Division Matched?</label>
        <locationX>882</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Collection.Divisions__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Asset.Product2.Division__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Variables_To_WOLI_Record_1</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there are ant Product Required records</description>
        <name>DEC_Has_Product_Required</name>
        <label>Has Product Required</label>
        <locationX>50</locationX>
        <locationY>712</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_Product_Required</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>TEST: WO PR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: WO PR</label>
    <loops>
        <name>LOOP_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>305</locationX>
        <locationY>638</locationY>
        <collectionReference>CVAR_Product_Required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Division_Matched</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Work_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Collection_2</name>
        <label>Loop Through Collection</label>
        <locationX>592</locationX>
        <locationY>784</locationY>
        <collectionReference>CVAR_Work_Order_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RVAR_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates work order line items</description>
        <name>RC_Work_Order_Line_Items</name>
        <label>Create Work Order Line Items</label>
        <locationX>307</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>DR_Product_Required</targetReference>
        </connector>
        <inputReference>CVAR_Work_Order_Line_Item</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DR_Product_Required</name>
        <label>Delete Product_Required</label>
        <locationX>307</locationX>
        <locationY>962</locationY>
        <inputReference>CVAR_Product_Required</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>CVAR_Product_Required</name>
        <label>Get Product Required</label>
        <locationX>305</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>583</locationX>
        <locationY>1152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_To_WOLI_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Collection_2.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>178</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>CVAR_Product_Required</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CVAR_Create_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CVAR_Delete_Product_Required</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <description>Work order line item collection variable</description>
        <name>CVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Create_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
