Sandbox/force-app/main/default/flows/TEST_Create_SR_on_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>TEST: Create SR on WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Create SR on WO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Service_Report</name>
        <label>Create Service Report</label>
        <locationX>203</locationX>
        <locationY>465</locationY>
        <inputAssignments>
            <field>DocumentBody</field>
            <value>
                <elementReference>RVAR_Service_Report.DocumentBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentContentType</field>
            <value>
                <elementReference>RVAR_Service_Report.DocumentContentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentName</field>
            <value>
                <elementReference>RVAR_Service_Report.DocumentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FooterHeight</field>
            <value>
                <elementReference>RVAR_Service_Report.FooterHeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HeaderHeight</field>
            <value>
                <elementReference>RVAR_Service_Report.HeaderHeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSigned</field>
            <value>
                <elementReference>RVAR_Service_Report.IsSigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RVAR_Service_Appointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportLanguage</field>
            <value>
                <elementReference>RVAR_Service_Report.ServiceReportLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template</field>
            <value>
                <elementReference>RVAR_Service_Report.Template</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceReport</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RVAR_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>197</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RC_Service_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Service_Report.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Service_Report</name>
        <label>Get Service Report</label>
        <locationX>201</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceReport</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>74</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>RVAR_Service_Report</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
