Sandbox/force-app/main/default/flows/UOM_Cache_Delete_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>DEC_Records_Exist</name>
        <label>Records Exist?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_UOM_Cache</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_UOM_Cache</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>UOM Cache: Delete Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UOM Cache: Delete Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>RD_UOM_Cache</name>
        <label>Delete UOM Cache Records</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputReference>CVAR_UOM_Cache</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>UOM Cache Records</description>
        <name>CVAR_UOM_Cache</name>
        <label>Get</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Line_Item_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UOM_Cache__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CVAR_UOM_Cache</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Work_Order_Line_Item_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
