Sandbox/force-app/main/default/flows/Vigitest_Customer_Partner_Func.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Partner_Query_1</name>
        <label>Create Partner Query</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Partner_Scenario_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fields</name>
            <value>
                <stringValue>KUNN2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>CustomerMasterPartner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>Get_Sold_To_Account.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string1</name>
            <value>
                <elementReference>Get_Sold_To_Account.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2 AND 3 AND 4 AND 5&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;PARVW&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;AG&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;VKORG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;1000&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:3,&quot;fieldName&quot;:&quot;VTWEG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;10&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:4,&quot;fieldName&quot;:&quot;SPART&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;00&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:5,&quot;fieldName&quot;:&quot;KUNNR&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;Get_Sold_To_Account.Customer_Number__c&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Partner_Query_2</name>
        <label>Create Partner Query</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Execute_Partner_Scenario_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fields</name>
            <value>
                <stringValue>KUNNR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>CustomerMasterPartner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>Get_Ship_To_Account.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string1</name>
            <value>
                <elementReference>Get_Ship_To_Account.Customer_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2 AND 3 AND 4 AND 5&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;PARVW&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;WE&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;VKORG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;1000&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:3,&quot;fieldName&quot;:&quot;VTWEG&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;10&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:4,&quot;fieldName&quot;:&quot;SPART&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;00&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null},{&quot;id&quot;:5,&quot;fieldName&quot;:&quot;KUNN2&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;Get_Ship_To_Account.Customer_Number__c&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Partner_Scenario_1</name>
        <label>Execute Partner Scenario</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>CustomerMasterPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Response_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Partner_Query_1.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_Partner_Scenario_2</name>
        <label>Execute Partner Scenario</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>CustomerMasterPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Response_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_Partner_Query_2.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Account_to_Coll</name>
        <label>Add Account to Coll.</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>PartnerLabelStr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Response_1</name>
        <label>Get Response</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PartnerResp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Partner_Scenario_1.response.KNVP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Response_2</name>
        <label>Get Response</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PartnerResp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Partner_Scenario_2.response.KNVP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Id</name>
        <label>Set Account Id</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Partner_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Selected_Partners</name>
        <label>Check Selected Partners</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>noPartnerScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>All_Partner_Screen</targetReference>
            </connector>
            <label>Both Exists</label>
        </rules>
        <rules>
            <name>Sold_To_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sold_To_Account</targetReference>
            </connector>
            <label>Sold To Exists</label>
        </rules>
        <rules>
            <name>Ship_To_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoldToAccount.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShipToAccount.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ship_To_Account</targetReference>
            </connector>
            <label>Ship To Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rectest</name>
        <dataType>String</dataType>
        <displayField>Account_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Partners.KUNN2</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Customer_Number__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Vigitest Customer Partner Func. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vigitest Customer Partner Func.</label>
    <loops>
        <name>Loop_over_Partners</name>
        <label>Loop over Partners</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <collectionReference>PartnerResp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Partner_List_QC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>270</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Account_to_Coll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Partners.KUNN2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ship_To_Account</name>
        <label>Get Ship To Account</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Partner_Query_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShipToAccount.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sold_To_Account</name>
        <label>Get Sold To Account</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Partner_Query_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SoldToAccount.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>All_Partner_Screen</name>
        <label>All Partner Screen</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SoldToAccount_2_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sold To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SoldToAccount.recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShipToAccount_2_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ShipToAccount.recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BillToAccount_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bill To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PayerAccount_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Payer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Partner_Screen</name>
        <label>Main Partner Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Partners</targetReference>
        </connector>
        <fields>
            <name>SoldToAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sold To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShipToAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noPartnerScreen</name>
        <label>No Partner Screen</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Partner_Screen</targetReference>
        </connector>
        <fields>
            <name>noPartnerEntered</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(202, 202, 19); font-size: 14px;&quot;&gt;Warning!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Please choose at least one partner!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_List_QC</name>
        <label>Partner List QC</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>All_Partner_Screen</targetReference>
        </connector>
        <fields>
            <name>QuickChoiceTest_0</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>x-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>PartnerString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>PartnerLabelStr</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPartner</name>
        <apexClass>CustomerMasterPartner</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerLabelStr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerResp</name>
        <apexClass>CustomerMasterPartnerKNVP</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipToPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SoldToPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
