Sandbox/force-app/main/default/flows/VIGIENCE_test_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_query_using_invoice_number</name>
        <label>Create query using invoice number</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>overcast__ActionCreateRealtimeQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Run_query</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderBy</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0.19514885697457496&quot;,&quot;columnName&quot;:&quot;CustomerReturn&quot;,&quot;ascending&quot;:false,&quot;ascendingText&quot;:&quot;DESC&quot;}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenarioName</name>
            <value>
                <stringValue>CustomerReturn</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>string0</name>
            <value>
                <elementReference>invoiceNo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>where_x</name>
            <value>
                <stringValue>{&quot;logicOperator&quot;:&quot;AND&quot;,&quot;conditionLogic&quot;:&quot;1 AND 2&quot;,&quot;conditions&quot;:[{&quot;id&quot;:1,&quot;fieldName&quot;:&quot;ReferenceSDDocument&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;{!invoiceNo}&quot;,&quot;isReference&quot;:true,&quot;propertyName&quot;:&quot;string0&quot;},{&quot;id&quot;:2,&quot;fieldName&quot;:&quot;CustomerReturnType&quot;,&quot;operator&quot;:&quot;EQUALS&quot;,&quot;value&quot;:&quot;ZRE&quot;,&quot;isReference&quot;:false,&quot;propertyName&quot;:null}]}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Invoice_Details</name>
        <label>Get Invoice Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>sapInvoiceDetail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_query_using_invoice_number</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>doNotCommitLogs</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestData</name>
            <value>
                <elementReference>sapInvoice</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_query</name>
        <label>Run query</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>CustomerReturn</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logger</name>
            <value>
                <elementReference>Get_Invoice_Details.logger</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>Create_query_using_invoice_number.query</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Get_Results</name>
        <label>Get Results</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>resultsForZRE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_query.response.A_CustomerReturn</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_entity</name>
        <label>Set entity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>sapInvoice.BAPI_WEBINVOICE_GETDETAIL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>detailEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_params</name>
        <label>Set params</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>detailEntity.LANGU</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detailEntity.PARTNER_ROLE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detailEntity.PARTNER_NUMBER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soldTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detailEntity.BILLINGDOC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceNo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_entity</targetReference>
        </connector>
    </assignments>
    <interviewLabel>VIGIENCE test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VIGIENCE test flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_params</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>detailEntity</name>
        <apexClass>sapInvoiceDetailBAPIWEBINVOICEGETDETAIL</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultsForZRE</name>
        <apexClass>CustomerReturnA_CustomerReturn</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sapInvoice</name>
        <apexClass>sapInvoiceDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soldTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
