Sandbox/force-app/main/default/flows/Work_Order_Accept_EFT_Work_Order_From_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check if the running user has an assigned Service Resource record</description>
        <name>DEC_Is_Service_Resource</name>
        <label>Is Service Resource</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Service_Resource.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Hn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if a Service Appointment already exists</description>
        <name>DEC_Service_Appointment_Exists</name>
        <label>Service Appointment Exists?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Service_Appointment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_Create_Service_Appointment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>CRMM-163

Launched from custom action on Work Order
Creates a Service Appointment
Assigns a Service Resource to the Service Appointment
Schedules &amp; dispatches Service Appointment
Updates Work Order status and ownership

Note: does not invoke Field Service scheduling capabilities to schedule the Service Appointment</description>
    <formulas>
        <description>Calculates the scheduled end time based on work order duration</description>
        <name>FOR_Scheduled_End_Time</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!RVAR_Work_Order.DurationInMinutes} / 1440)</expression>
    </formulas>
    <interviewLabel>Work Order: Accept EFT Work Order From Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Accept EFT Work Order From Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Assigned Resource record</description>
        <name>RC_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>RU_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>VAR_Service_Appointment_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>RVAR_Service_Resource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Service Appointment record</description>
        <name>RC_Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>VAR_Service_Appointment_Id</assignRecordIdToReference>
        <connector>
            <targetReference>RC_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>RVAR_Work_Order.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>RVAR_Work_Order.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>RVAR_Work_Order.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>RVAR_Work_Order.DurationInMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>RVAR_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>RVAR_Work_Order.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>FOR_Scheduled_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>RVAR_Work_Order.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>RVAR_Work_Order.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>RVAR_Work_Order.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RVAR_Work_Order.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordLookups>
        <name>RVAR_Service_Appointment</name>
        <label>Get Service Appointments</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Service_Appointment_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Work_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Service Resource record associated with the running user</description>
        <name>RVAR_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Is_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Dispatches Service Appointment</description>
        <name>RU_Serice_Appointment_Dispatch</name>
        <label>Dispatch Service Appointment</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Schedules Service Appointment</description>
        <name>RU_Service_Appointment_Schedule</name>
        <label>Schedule Service Appointment</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>RU_Serice_Appointment_Dispatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Work Order Status</description>
        <name>RU_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>RU_Service_Appointment_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by Tech</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RVAR_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Work Order record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Id of the newly created Service Appointment</description>
        <name>VAR_Service_Appointment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
