Sandbox/force-app/main/default/flows/Work_Order_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Assigns selected values to variables</description>
        <name>ASS_Variables</name>
        <label>Assign Variables</label>
        <locationX>519</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>VAR_Labour_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Labour_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_After_Hours_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_After_Hours_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Work_Order_Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FI_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RL_Work_Order_Settings</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_AfterHours</name>
        <choiceText>After Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>After Hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Business_Hours</name>
        <choiceText>Business Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Corrective_Maintenance</name>
        <choiceText>Corrective Maintenance</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CH_Customer_Request</name>
        <choiceText>Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Preventative_Maintenance</name>
        <choiceText>Preventative Maintenance</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CH_Technican_Attendance</name>
        <choiceText>Technician Attendance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Techncian Attendance</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks if reason provided if After Hours selected as labour rate</description>
        <name>DEC_Is_After_Hours</name>
        <label>Is After Hours?</label>
        <locationX>508</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>ASS_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_No_Reason_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FI_Labour_Rate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After Hours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_After_Hours_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Quote_Start_0</targetReference>
            </connector>
            <label>No Reason Provided</label>
        </rules>
    </decisions>
    <description>Creates a quote as a child work order</description>
    <dynamicChoiceSets>
        <name>PC_After_Hours_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>After_Hours_Reason__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Labour_Rate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Labour_Rate__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Work_Type_Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Type_Category__c</picklistField>
        <picklistObject>Work_Order_Setting__mdt</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Work Order: Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>RL_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>513</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Quote_Start_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>RVAR_Work_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Repair_Notes__c</queriedFields>
        <queriedFields>Asset_Product__c</queriedFields>
        <queriedFields>Asset_Serial_Number__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Division__c</queriedFields>
        <queriedFields>Fault_Code__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Purchase_Order_Number__c</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>Additional_Notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the work order settings cutsom metadata type</description>
        <name>RL_Work_Order_Settings</name>
        <label>Get Metadata Type</label>
        <locationX>519</locationX>
        <locationY>845</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Quote_Template_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Work_Order_Setting__mdt</object>
        <outputReference>RVAR_Work_Order_Settings</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the work order</description>
        <name>RU_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>519</locationX>
        <locationY>1002</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>After_Hours_Reason__c</field>
            <value>
                <elementReference>FI_After_Hours_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labour_Rate__c</field>
            <value>
                <elementReference>FI_Labour_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Notes__c</field>
            <value>
                <elementReference>FI_Repair_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>RVAR_Work_Order_Settings.Default_Quote_Template_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Quote Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Category__c</field>
            <value>
                <elementReference>FI_Category</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>SC_Quote_Start_0</name>
        <label>Quote Start</label>
        <locationX>516</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_Is_After_Hours</targetReference>
        </connector>
        <fields>
            <name>FI_Category</name>
            <choiceReferences>CH_Corrective_Maintenance</choiceReferences>
            <choiceReferences>CH_Preventative_Maintenance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Labour_Rate</name>
            <choiceReferences>CH_Business_Hours</choiceReferences>
            <choiceReferences>CH_AfterHours</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Labour Rate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_After_Hours_Reason</name>
            <choiceReferences>CH_Customer_Request</choiceReferences>
            <choiceReferences>CH_Technican_Attendance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>After Hours Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FI_Repair_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RVAR_Work_Order.Repair_Notes__c</elementReference>
            </defaultValue>
            <fieldText>Repair Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DT_Version_0</name>
            <fieldText>&lt;p&gt;Version 10&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>387</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RL_Work_Order</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>Launches subflow to update newly created work order line items</description>
        <name>SF_Update_Work_Order_Line_Items</name>
        <label>Update Work Order Line Items</label>
        <locationX>710</locationX>
        <locationY>1054</locationY>
        <flowName>Work_Order_Quote_Line_Item</flowName>
        <inputAssignments>
            <name>VAR_After_Hours_Reason</name>
            <value>
                <elementReference>VAR_After_Hours_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Child_Work_Order_Id</name>
            <value>
                <elementReference>VAR_Child_Work_Order_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Labour_Rate</name>
            <value>
                <elementReference>VAR_Labour_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Work_Type_Category</name>
            <value>
                <elementReference>VAR_Work_Order_Category</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CVAR_Child_Work_Order_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the id of the parent work order</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Work order record variable</description>
        <name>RVAR_Work_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Settings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>VAR_After_Hours_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Child_Work_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Labour_Rate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Order_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Order_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
