Sandbox/force-app/main/default/flows/Work_Plan_Template_Deep_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Navigate to the newly created work plan template record</description>
        <name>LC_Navigate_To_Record</name>
        <label>Navigate To Record</label>
        <locationX>176</locationX>
        <locationY>1910</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VAR_Work_Plan_Template_Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Assigns the work plant template entry record variable to a collection</description>
        <name>ASS_Record_Variable_To_Collection</name>
        <label>Assign Record Variable To Collection</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Plant_Template_Entry_New</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Plan_Template_Entry_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Collection_Work_Plan_Template_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the work plant template entry record variable to a collection</description>
        <name>ASS_Record_Variable_To_Collection_0</name>
        <label>Assign Record Variable To Collection</label>
        <locationX>264</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Plan_Selection_Rules_New</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Plan_Selection_Rules_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Collection_Work_Plan_Selection_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns work plan template entry variables to a record variable</description>
        <name>ASS_Work_Plan_Template_Entry_Variables</name>
        <label>Assign Variables</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Template_Entry_New.WorkPlanTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Work_Plan_Template_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Template_Entry_New.ExecutionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection_Work_Plan_Template_Entries.ExecutionOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Template_Entry_New.WorkStepTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection_Work_Plan_Template_Entries.WorkStepTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variable_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns work plan template entry variables to a record variable</description>
        <name>ASS_Work_Plan_Template_Entry_Variables_0</name>
        <label>Assign Variables</label>
        <locationX>264</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Selection_Rules_New.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection_Work_Plan_Selection_Rules.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Selection_Rules_New.WorkPlanTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Work_Plan_Template_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Selection_Rules_New.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection_Work_Plan_Selection_Rules.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Selection_Rules_New.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection_Work_Plan_Selection_Rules.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Plan_Selection_Rules_New.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection_Work_Plan_Selection_Rules.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Record_Variable_To_Collection_0</targetReference>
        </connector>
    </assignments>
    <description>Clones a work plan template and its related work plan template entries and work plan selection rules</description>
    <interviewLabel>Work Plan Template: Deep Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Plan Template: Deep Clone</label>
    <loops>
        <description>Loops through the collection of work plan selection rules</description>
        <name>LOOP_Through_Collection_Work_Plan_Selection_Rules</name>
        <label>Loop Through Collection</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <collectionReference>CVAR_Work_Plan_Selection_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Work_Plan_Template_Entry_Variables_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Work_Plan_Selection_Rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the collection of work plan template entries</description>
        <name>LOOP_Through_Collection_Work_Plan_Template_Entries</name>
        <label>Loop Through Collection</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>CVAR_Work_Plan_Template_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Work_Plan_Template_Entry_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Work_Plan_Template_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates work plan template entry records from the collection</description>
        <name>RC_Work_Plan_Selection_Rules</name>
        <label>Create Work Plan Selection Rules</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>LC_Navigate_To_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>CVAR_Work_Plan_Selection_Rules_New</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a work plan template record</description>
        <name>RC_Work_Plan_Template</name>
        <label>Create Work Plan Template</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>VAR_Work_Plan_Template_Id</assignRecordIdToReference>
        <connector>
            <targetReference>CVAR_Work_Plan_Template_Entries</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>RVAR_Work_Plan_Template.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>RVAR_Work_Plan_Template.IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FI_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelativeExecutionOrder</field>
            <value>
                <elementReference>RVAR_Work_Plan_Template.RelativeExecutionOrder</elementReference>
            </value>
        </inputAssignments>
        <object>WorkPlanTemplate</object>
    </recordCreates>
    <recordCreates>
        <description>Creates work plan template entry records from the collection</description>
        <name>RC_Work_Plan_Template_Entries</name>
        <label>Create Work Plan Template Entries</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>CVAR_Work_Plan_Selection_Rules</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>CVAR_Work_Plant_Template_Entry_New</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets work plan template selection rule records and places them in a collection</description>
        <name>CVAR_Work_Plan_Selection_Rules</name>
        <label>Get Work Plan Selection Rules</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Collection_Work_Plan_Selection_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlanSelectionRule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets work plan template entry records and places them in a collection</description>
        <name>CVAR_Work_Plan_Template_Entries</name>
        <label>Get Work Plan Template Entries</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Collection_Work_Plan_Template_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlanTemplateEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Stores the current record&apos;s values in a record variable</description>
        <name>RVAR_Work_Plan_Template</name>
        <label>Get Work Plan Template</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RC_Work_Plan_Template</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 9, 9);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Name</name>
        <label>Work Plan Template Name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RVAR_Work_Plan_Template</targetReference>
        </connector>
        <fields>
            <name>FI_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SC_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Work_Plan_Selection_Rules_New</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlanSelectionRule</objectType>
    </variables>
    <variables>
        <description>Collection of new work plan template entry records</description>
        <name>CVAR_Work_Plant_Template_Entry_New</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlanTemplateEntry</objectType>
    </variables>
    <variables>
        <description>Stores the Id of the work plan template record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Work_Plan_Selection_Rules_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlanSelectionRule</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Plan_Template_Entry_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlanTemplateEntry</objectType>
    </variables>
    <variables>
        <name>VAR_Work_Plan_Template_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
