Sandbox/force-app/main/default/flows/Work_Order_Line_Item_Delete_From_FSL_Mobile_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assigns the record Id to a variable</description>
        <name>ASS_Record_Id_1</name>
        <label>Assign Record Id</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VAR_Work_Order_Line_Item_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RL_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the record Id to a variable</description>
        <name>ASS_Record_Id_1_0</name>
        <label>Assign Record Id</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VAR_Work_Order_Line_Item_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RL_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if the work order line item can be deleted</description>
        <name>DEC_Can_Be_Deleted</name>
        <label>Can Be Deleted</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>SC_Cannot_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Work_Order_Line_Item.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Delete_Line_Item</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the flow has been launched from the mobile app</description>
        <name>DEC_Launched_From_Mobile_App</name>
        <label>Launched From Mobile App?</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>ASS_Record_Id_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Id_1</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <interviewLabel>Work Order Line Item: Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordDeletes>
        <description>Deletes the Work Order Line Item</description>
        <name>RD_Delete_Work_Order_Line_Item</name>
        <label>Delete Work Order Line Item</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Line_Item_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
    </recordDeletes>
    <recordLookups>
        <description>Get work order line item record</description>
        <name>RL_Work_Order_Line_Item</name>
        <label>Get Work Order Line Item</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Can_Be_Deleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Line_Item_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>RVAR_Work_Order_Line_Item</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
    </recordLookups>
    <screens>
        <name>SC_Cannot_Delete</name>
        <label>Cannot Delete</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Warning_2</name>
            <fieldText>&lt;p&gt;This Work Order Line Item has been completed or closed and cannot be deleted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Delete_Line_Item</name>
        <label>Delete Line Item</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RD_Delete_Work_Order_Line_Item</targetReference>
        </connector>
        <fields>
            <name>DT_Warning</name>
            <fieldText>&lt;p&gt;You are about to delete a line item from this Work Order.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &apos;Next&apos; to confirm.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 9, 9);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Launched_From_Mobile_App</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>VAR_Work_Order_Line_Item_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
