Sandbox/force-app/main/default/flows/Work_Order_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Assign the work order id</description>
        <name>ASS_Record_Id_Desktop</name>
        <label>Assign Record Id</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VAR_Work_Order_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RC_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the work order id</description>
        <name>ASS_Record_Id_Mobile</name>
        <label>Assign Record Id</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VAR_Work_Order_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RC_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if Fault, Cause, Resolution present</description>
        <name>DEC_Fault_Cause_Resolution_Present</name>
        <label>Fault, Cause, Resolution Present?</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Not_Present</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>FI_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technically Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FI_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expenses Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Work_Order.Fault_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Work_Order.Cause_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Work_Order.Resolution_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Resolution_0</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if flow has been initiated from mobile app</description>
        <name>DEC_Initiated_From_Mobile</name>
        <label>Initiated From Mobile?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>ASS_Record_Id_Desktop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Id_Mobile</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <description>Update work order status with validations</description>
    <dynamicChoiceSets>
        <description>Gets status from metadata type</description>
        <name>PC_Field_Work_Order_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Field_Work_Order_Status__c</picklistField>
        <picklistObject>Work_Order_Setting__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Resolution_Code</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution_Code__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Sub_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Status__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Cause</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fault_Code_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Fault_Code_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cause</stringValue>
            </value>
        </filters>
        <object>Temporary_Fault_And_Cause_Code__c</object>
        <outputAssignments>
            <assignToReference>VAR_Cause_Code_Id</assignToReference>
            <field>Fault_Cause_Relationship_Id__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Fault_Cause_Relationship_Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Fault</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fault</stringValue>
            </value>
        </filters>
        <object>Temporary_Fault_And_Cause_Code__c</object>
        <outputAssignments>
            <assignToReference>VAR_Fault_Code_Id</assignToReference>
            <field>Fault_Code_id__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Fault_Code_id__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Work Order: Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Get the current work order record</description>
        <name>RC_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Status_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>RVAR_Work_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Division__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Cause_2__c</queriedFields>
        <queriedFields>Asset_Product__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Asset_Serial_Number__c</queriedFields>
        <queriedFields>Fault_Code__c</queriedFields>
        <queriedFields>Repair_Notes__c</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update work order</description>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>FI_Status</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <description>Capture resolution &amp; repair notes</description>
        <name>SC_Resolution_0</name>
        <label>Resolution</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 6, 6);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(250, 7, 7);&quot;&gt;Fault, Cause and Resolution codes have not been captured.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Status_Update</name>
        <label>Status Update</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_Fault_Cause_Resolution_Present</targetReference>
        </connector>
        <fields>
            <name>FI_Status</name>
            <choiceReferences>PC_Field_Work_Order_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Initiated_From_Mobile</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CVAR_Fault_Code</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fault_Code__c</objectType>
    </variables>
    <variables>
        <name>CVAR_Temporary_Fault_Cause_Codes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Temporary_Fault_And_Cause_Code__c</objectType>
    </variables>
    <variables>
        <description>Store the work order record&apos;s Id if initiated from mobile app</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store the work order&apos;s Id if initiated from the desktop</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Fault_Codes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fault_Code__c</objectType>
    </variables>
    <variables>
        <name>RVAR_Temporary_Fault_Cause_Code</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Temporary_Fault_And_Cause_Code__c</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>VAR_Cause_Code_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Division_Fault_Code_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Fault_Cause_Relationship_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Fault_Code_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the work order Id</description>
        <name>VAR_Work_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
