Sandbox/force-app/main/default/flows/Work_Order_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigation_to_New_Work_Order_Record</name>
        <label>Navigation to New Work Order Record</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Work_Order_Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Address_Value_Assignment</name>
        <label>Address Value Assignment</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Details.ovcGeographicLocationCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Details.ovcGeographicLocationCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Details.ovcGeographicLocationZipcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Details.ovcGeographicLocationState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Details.ovcGeographicLocationRoad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inputs_for_Work_Order_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_details_assignment</name>
        <label>Asset details assignment</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationZipcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderAddressLookUp.street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record.ovcGeographicLocationRoad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkType_And_Asset_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Details_Assignment</name>
        <label>Case Details Assignment</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubjectValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkType_And_Asset_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoanUnit_Value_Assignment</name>
        <label>LoanUnit Value Assignment</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>LoanUnitValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoanUnit_Value_Assignment0</name>
        <label>LoanUnit Value Assignment</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>LoanUnitValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Asset_or_Case_Record</name>
        <label>is Asset or Case Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Asset_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02i</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Record</targetReference>
            </connector>
            <label>Asset Record</label>
        </rules>
        <rules>
            <name>Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Case Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCaseRecordFlow</name>
        <label>isCaseRecordFlow</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Inputs_for_Work_Order_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isLoanUnitNULL</name>
        <label>isLoanUnitNULL</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>LoanUnit_Value_Assignment0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Unit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoanUnit_Value_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a Work Order</description>
    <dynamicChoiceSets>
        <name>Distribution_Channel_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distribution_Channel__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Metro_Regional</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Metro_Regional__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sales_Organisation_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Organisation__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Work Order: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order_Record</name>
        <label>Create Work Order Record</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Select_Partner_Functions</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Notes__c</field>
            <value>
                <elementReference>Additional_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>WorkOrderAddressLookUp.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>WorkOrderAddressLookUp.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disable_Customer_Notifications__c</field>
            <value>
                <elementReference>Disable_Customer_Notifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Unit__c</field>
            <value>
                <elementReference>LoanUnitValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metro_Regional__c</field>
            <value>
                <elementReference>Metro_Regional0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>WorkOrderAddressLookUp.postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organisation__c</field>
            <value>
                <elementReference>Sales_Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduling_Policy__c</field>
            <value>
                <elementReference>Scheduling_Policy0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>Secondary_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>Service_Contract1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>WorkOrderAddressLookUp.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>WorkOrderAddressLookUp.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WBS_Element__c</field>
            <value>
                <elementReference>WBS_Element</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Work_Type.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Details</name>
        <label>Get Asset Details</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Value_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_details_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current case</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Details_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Records</name>
        <label>Get Work Type Records</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isCaseRecordFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Type.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Type_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EFT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Inputs_for_Work_Order_Creation</name>
        <label>Inputs for Work Order Creation</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isLoanUnitNULL</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SubjectValue</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Secondary_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Secondary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Sales_Organisation</name>
            <choiceReferences>Sales_Organisation_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1000</stringValue>
            </defaultValue>
            <fieldText>Sales Organisation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Distribution_Channel</name>
            <choiceReferences>Distribution_Channel_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>10</stringValue>
            </defaultValue>
            <fieldText>Distribution Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WBS_Element</name>
            <dataType>String</dataType>
            <fieldText>WBS Element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Contract1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ServiceContractId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Type_Records.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Metro_Regional0</name>
            <choiceReferences>Metro_Regional</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Metro / Regional</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Type_Records.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduling_Policy0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Scheduling_Policy__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Scheduling Policy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Type_Records.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Loan_Unit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Loan Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Type_Records.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Standard</stringValue>
            </defaultValue>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Notes</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Capture Additional notes about the workorder.&lt;/p&gt;&lt;p&gt;Note:1,000 character limit.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit is 1000&lt;/p&gt;</errorMessage>
                <formulaExpression>!(LEN({!Additional_Notes}) &gt; 1000)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Disable_Customer_Notifications</name>
            <dataType>Boolean</dataType>
            <fieldText>Disable Customer Notifications</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Set to TRUE to disable email notifications to customer.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WorkOrderAddressLookUp</name>
            <extensionName>c:AddressLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>WorkOrderAddressLookUp.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>WorkOrderAddressLookUp.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postcode</name>
                <value>
                    <elementReference>WorkOrderAddressLookUp.postcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>WorkOrderAddressLookUp.state</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>WorkOrderAddressLookUp.street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkType_And_Asset_Selection</name>
        <label>WorkType And Asset Selection</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Work_Type_Records</targetReference>
        </connector>
        <fields>
            <name>Work_Type</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WorkTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Asset</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Asset_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Asset_or_Case_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Select_Partner_Functions</name>
        <label>Select Partner Functions</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Navigation_to_New_Work_Order_Record</targetReference>
        </connector>
        <flowName>Select_Partner_Functions</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Work_Order_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanUnitValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Metro_Regional_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Order record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Scheduling_Policy_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Contract_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
