Sandbox/force-app/main/default/flows/Work_Order_Populate_Service_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Contract_Line_Item_Id_1</name>
        <label>Assign Contract Line Item Id</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contract_Line_Item_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Contract_Line_Item_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Service_Contract_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Contract_Line_Item_1.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Has_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Contract_Line_Item_Id_2</name>
        <label>Assign Contract Line Item Id</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contract_Line_Item_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Contract_Line_Item_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Service_Contract_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Contract_Line_Item_2.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Has_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Contract_Line_Item_Id_2_0</name>
        <label>Assign Contract Line Item Id</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contract_Line_Item_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Contract_Line_Item_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Service_Contract_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Contract_Line_Item_3.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Has_Service_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if an Entitlement record has been found</description>
        <name>DEC_Has_Entitlement</name>
        <label>Has Entitlement</label>
        <locationX>248</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>RU_Work_Order_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Has_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Entitlement.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>550</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Work_Order_2</targetReference>
            </connector>
            <label>Has Entitlement</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the Asset is related to an active Contract Line Item</description>
        <name>DEC_Has_Service_Contract</name>
        <label>Has Service Contract?</label>
        <locationX>446</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Contract_Line_Item_Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>811</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Entitlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Work_Type</name>
        <label>Work Type</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Corrective_Maintenance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Contract_Line_Item_1</targetReference>
            </connector>
            <label>Corrective Maintenance</label>
        </rules>
        <rules>
            <name>OUT_Preventative_Maintenance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Contract_Line_Item_2</targetReference>
            </connector>
            <label>Preventative Maintenance</label>
        </rules>
        <rules>
            <name>OUT_Performance_Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Contract_Line_Item_3</targetReference>
            </connector>
            <label>Performance Qualification</label>
        </rules>
    </decisions>
    <description>Populates Service Contract on Work Order if the related asset is associated with an active Service Contract</description>
    <interviewLabel>Work Order: Populate Service Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Populate Service Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets related contract line item</description>
        <name>RVAR_Contract_Line_Item_1</name>
        <label>Get Contract Line Item</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Contract_Line_Item_Id_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comprehensive - Metro / Regional</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets related contract line item</description>
        <name>RVAR_Contract_Line_Item_2</name>
        <label>Get Contract Line Item</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Contract_Line_Item_Id_2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comprehensive - Metro / Regional</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preventive Maintenance Only - Metro / Regional</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets related contract line item</description>
        <name>RVAR_Contract_Line_Item_3</name>
        <label>Get Contract Line Item</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Contract_Line_Item_Id_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Performance Qualification Testing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get field maintenance entitlement</description>
        <name>RVAR_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>248</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Has_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Service_Contract_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Maintenance</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Populate the Service Contract on the Work Order</description>
        <name>RU_Work_Order_1</name>
        <label>Update Work Order</label>
        <locationX>380</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>VAR_Service_Contract_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Populate the Service Contract on the Work Order</description>
        <name>RU_Work_Order_2</name>
        <label>Update Work Order</label>
        <locationX>116</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>RVAR_Entitlement.BusinessHoursId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>RVAR_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>VAR_Service_Contract_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Work_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>02i</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Contract_Line_Item_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Service_Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
