Sandbox/force-app/main/default/flows/Work_OrderLine_Item_Update_Labour_Rate_Multiplier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>ASS_Labour_Rate_Multiplier_1</name>
        <label>Assign Labour Rate Multiplier</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>VAR_Labour_Rate_Multiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_WOLI_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Id_1</name>
        <label>Assign Record Id</label>
        <locationX>957</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VAR_WOLI_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RL_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Id_2</name>
        <label>Assign Record Id</label>
        <locationX>1221</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>VAR_WOLI_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RL_WOLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_After_Hours</name>
        <label>After Hours</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>ASS_Labour_Rate_Multiplier_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_After_Hours</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FI_Labour_Rate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_After_Hours_Reason</targetReference>
            </connector>
            <label>Afer Hours</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether origin of update is from desktop or mobile app</description>
        <name>DEC_Origin</name>
        <label>Origin</label>
        <locationX>1089</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>ASS_Record_Id_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile</defaultConnectorLabel>
        <rules>
            <name>OUT_Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Id_1</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if work order is open</description>
        <name>DEC_Pricing_Is_Set</name>
        <label>Pricing Is Set</label>
        <locationX>809</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>SC_Pricing_Not_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Pricing_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_WOLI.ovcSAP_Pricing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RL_Work_Order</targetReference>
            </connector>
            <label>Pricing Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if product is eligible for application of labour rate multiplier</description>
        <name>DEC_Valid_Product</name>
        <label>Valid Product?</label>
        <locationX>1089</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>SC_Invalid_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Valid_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Product.Product_Code_ID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Pricing_Is_Set</targetReference>
            </connector>
            <label>Valid Product</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if work order is open</description>
        <name>DEC_Work_Order_Is_Open</name>
        <label>Work Order Is Open</label>
        <locationX>512</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>SC_Work_Order_Is_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Work_Order.StatusCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Work_Order.StatusCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Labour_Rate</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PC_After_Hours_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>After_Hours_Reason__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Labour_Rate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Labour_Rate__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_Custom_Unit_Price</name>
        <dataType>Currency</dataType>
        <expression>{!RVAR_WOLI.UnitPrice} * {!VAR_Labour_Rate_Multiplier}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Work OrderLine Item: Update Labour Rate Multiplier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Line Item: Update Labour Rate Multiplier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Get work order metadata settings</description>
        <name>RL_Metadata_Type</name>
        <label>Get Metadata_Type</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_WOLI_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Labour_Rate_Multiplier__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Labour_Rate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>After Hours</stringValue>
            </value>
        </filters>
        <object>Work_Order_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>VAR_Labour_Rate_Multiplier</assignToReference>
            <field>Labour_Rate_Multiplier__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the work order line item&apos;s related product</description>
        <name>RL_Product</name>
        <label>Get Product</label>
        <locationX>1089</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Valid_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_WOLI.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>RVAR_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AvailableUOMs__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Division__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Code_ID__c</queriedFields>
        <queriedFields>Product_Hierarchy_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the current work order line item record</description>
        <name>RL_WOLI</name>
        <label>Get WOLI</label>
        <locationX>1089</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RL_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WOLI_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>RVAR_WOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Accounting_Indicator__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <queriedFields>ovcDiscount__c</queriedFields>
        <queriedFields>ovcSAP_Pricing_Status__c</queriedFields>
        <queriedFields>ovcSAP_Tax__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Quantity_Unit_Of_Measure__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>Subtotal</queriedFields>
        <queriedFields>Total_Price_Incl_Tax__c</queriedFields>
        <queriedFields>Total_Tax__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Unit_Price_Custom__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Product_Description__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>After_Hours_Reason__c</queriedFields>
        <queriedFields>Labour_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the work order line item&apos;s parent work order record</description>
        <name>RL_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Work_Order_Is_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_WOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>RVAR_Work_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Work_Type_Code__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update work order line item</description>
        <name>RU_WOLI_2</name>
        <label>Update WOLI</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WOLI_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accounting_Indicator__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Hours_Reason__c</field>
            <value>
                <elementReference>FI_After_Hours_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apply_Labour_Rate_Multiplier__c</field>
            <value>
                <elementReference>VAR_Labour_Rate_Multiplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labour_Rate__c</field>
            <value>
                <elementReference>FI_Labour_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>FI_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price_Custom__c</field>
            <value>
                <elementReference>FOR_Custom_Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ovcDiscount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ovcSAP_Pricing_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ovcSAP_Tax__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>SC_After_Hours_Reason</name>
        <label>After Hours Reason</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RL_Metadata_Type</targetReference>
        </connector>
        <fields>
            <name>FI_After_Hours_Reason</name>
            <choiceReferences>PC_After_Hours_Reason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Customer Request</stringValue>
            </defaultValue>
            <fieldText>After Hours Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Status</name>
            <choiceReferences>PC_Status</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RVAR_WOLI.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Invalid_Product</name>
        <label>Invalid Product</label>
        <locationX>1370</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Invalid_Product</name>
            <fieldText>&lt;p&gt;Labour rate multiplier cannot be applied to this product.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Labour_Rate</name>
        <label>Labour Rate</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_After_Hours</targetReference>
        </connector>
        <fields>
            <name>DT_Product</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!RVAR_Product.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!RVAR_WOLI.Product_Description__c} &lt;/b&gt;({!RVAR_Product.AvailableUOMs__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FI_Labour_Rate</name>
            <choiceReferences>PC_Labour_Rate</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>After Hours</stringValue>
            </defaultValue>
            <fieldText>Labour Rate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Pricing_Not_Set</name>
        <label>Pricing Not Set</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_pricing_Not_Set</name>
            <fieldText>&lt;p&gt;Please wait for SAP pricing to be set before applying labour rate multiplier.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_Work_Order_Is_Closed</name>
        <label>Work Order Is Closed</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Work_Order_Closed</name>
            <fieldText>&lt;p&gt;This quote is closed. Pricing can no longer be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>963</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RVAR_WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Settings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Order_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>VAR_Discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_Labour_Rate_Multiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Margin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_Unit_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_WOLI_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
