Sandbox/force-app/main/default/flows/Work_Order_Create_With_Business_Partner_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigation_to_New_Work_Order_Record</name>
        <label>Navigation to New Work Order Record</label>
        <locationX>545</locationX>
        <locationY>3446</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Asset_details_assignment</name>
        <label>Asset details assignment</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record_1.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record_1.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Asset_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkType_And_Asset_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_ID</name>
        <label>Assign Location ID</label>
        <locationX>809</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory_Location.Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inputs_for_Work_Order_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Details_Assignment</name>
        <label>Case Details Assignment</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubjectValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Asset_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WorkType_And_Asset_Selection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Account_Filter</name>
        <label>Account Filter</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>DEC_Check_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_All_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TGL_Account_Filter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Asset_Record_2.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>WorkType_And_Asset_Selection</targetReference>
            </connector>
            <label>All Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that the running user can create a work order with the selected work type</description>
        <name>DEC_Check_Permission</name>
        <label>Check Permission</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OUT_No</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Device Field Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Work_Type_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Work_Type_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Work_Type_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Work_Type_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Work_Type_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether to create a new contact</description>
        <name>DEC_Create_Contact</name>
        <label>Create Contact?</label>
        <locationX>941</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>DEC_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Create_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TGL_Create_Contact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Contact_Create</targetReference>
            </connector>
            <label>Create Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Quote</name>
        <label>Quote?</label>
        <locationX>941</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Order_Record_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Record_Type</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_In_House_or_Quote</name>
        <label>If In House or Quote</label>
        <locationX>941</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Inputs_for_Work_Order_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_House_Quote</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Type_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective Maintenance: In House / 3rd Party</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Type_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative Maintenance: In House / 3rd Party</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Type_Records.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote: 3rd Party Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Service_Territoy</targetReference>
            </connector>
            <label>In House/Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Asset_or_Case_Record</name>
        <label>is Asset or Case Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Asset_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02i</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Record_1</targetReference>
            </connector>
            <label>Asset Record</label>
        </rules>
        <rules>
            <name>Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Case Record</label>
        </rules>
    </decisions>
    <description>Create a work order with subflow incorporating business partner selection</description>
    <dynamicChoiceSets>
        <name>CurrencyCodes</name>
        <dataType>String</dataType>
        <displayField>IsoCode</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CurrencyType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyIsoCodes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Distribution_Channel_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distribution_Channel__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Metro_Regional</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Metro_Regional__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PC_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Work_Type</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>VAR_Work_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Work_Type_Code</assignToReference>
            <field>Work_Type_Code__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sales_Organisation_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Organisation__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrderRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client_Managed_Services</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_Disable_Notification</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Disable_Customer_Notifications} = TRUE, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>FOR_Loan_Unit</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Loan_Unit} = TRUE, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>FOR_Quote</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!Get_Work_Type_Records.Work_Type_Code__c}) = &quot;QT&quot;, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>FOR_Running_User_Is_Field_Technician</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$User.ProfileId} = {!RVAR_Metadata_Type.Field_Technician_Profile_id__c}, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>isQuotationRecordTypeSelected</name>
        <dataType>Boolean</dataType>
        <expression>IF({!WorkOrderRecordTypes} = &apos;Quotation&apos;, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>WorkType</name>
        <dataType>String</dataType>
        <expression>{!FI_Work_Type}</expression>
    </formulas>
    <interviewLabel>Work Order: Create With Business Partner Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Create With Business Partner Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order_Record_1</name>
        <label>Create Work Order Record</label>
        <locationX>1337</locationX>
        <locationY>2366</locationY>
        <assignRecordIdToReference>VAR_Work_Order_Id</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Partner_Functions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>LU_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Notes__c</field>
            <value>
                <elementReference>Additional_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>VAR_Asset_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VAR_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disable_Customer_Notifications__c</field>
            <value>
                <elementReference>FOR_Disable_Notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Multi_Day__c</field>
            <value>
                <elementReference>Multi_Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Unit__c</field>
            <value>
                <elementReference>FOR_Loan_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Location.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organisation__c</field>
            <value>
                <elementReference>Sales_Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduling_Policy__c</field>
            <value>
                <elementReference>Scheduling_Policy0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>VAR_Secondary_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WBS_Element__c</field>
            <value>
                <elementReference>WBS_Element</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>VAR_Work_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Record_2</name>
        <label>Create Work Order Record</label>
        <locationX>545</locationX>
        <locationY>2606</locationY>
        <assignRecordIdToReference>VAR_Work_Order_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Select_Partner_Functions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>LU_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>VAR_Asset_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VAR_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Service_Appointment__c</field>
            <value>
                <elementReference>FOR_Running_User_Is_Field_Technician</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Multi_Day__c</field>
            <value>
                <elementReference>Multi_Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Location.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RVAR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organisation__c</field>
            <value>
                <elementReference>Sales_Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Contact__c</field>
            <value>
                <elementReference>VAR_Secondary_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>VAR_Work_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Record_1</name>
        <label>Get Asset Record</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_details_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Record_2</name>
        <label>Get Asset Record</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Account_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Asset_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current case</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Details_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Service_Territoy</name>
        <label>Get Default Service Territoy</label>
        <locationX>809</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Location</name>
        <label>Get Service Territory Location</label>
        <locationX>809</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Location_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_Service_Territoy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Details_for_Address</name>
        <label>Get Work Order Details for Address</label>
        <locationX>545</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SF_Select_Unrelated_Business_Partners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Records</name>
        <label>Get Work Type Records</label>
        <locationX>941</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_In_House_or_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FI_Work_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Metadata_Type</name>
        <label>Get Metadata Type</label>
        <locationX>545</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field_Technician_Profile_id__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00e</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Order_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>545</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RVAR_Metadata_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quotation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order_Address</name>
        <label>Update Work Order Address</label>
        <locationX>545</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Navigation_to_New_Work_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>WorkOrderAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>WorkOrderAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>WorkOrderAddress.postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>WorkOrderAddress.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>WorkOrderAddress.street</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>281</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Notification_Message</name>
            <fieldText>&lt;p&gt;You do not have the necessary permissions  to create a record with a work type of &lt;b&gt;{!FI_Work_Type}&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inputs_for_Work_Order_Creation</name>
        <label>Inputs for Work Order Creation</label>
        <locationX>941</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_Create_Contact</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SubjectValue</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LU_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Inputs_for_Work_Order_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LU_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VAR_Contact_Id</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EFT</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TGL_Create_Contact</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create Contact?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EFT</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inputs_for_Work_Order_Creation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FI_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FI_Department</name>
                    <dataType>String</dataType>
                    <fieldText>Department</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VAR_Email</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>FI_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VAR_Phone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>FI_Mobile_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VAR_Mobile_Phone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TGL_Create_Contact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Secondary_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Secondary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_Secondary_Contact_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Type_Records.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inputs_for_Work_Order_Creation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Organisation</name>
                    <choiceReferences>Sales_Organisation_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>1000</stringValue>
                    </defaultValue>
                    <fieldText>Sales Organisation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Distribution_Channel</name>
                    <choiceReferences>Distribution_Channel_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>10</stringValue>
                    </defaultValue>
                    <fieldText>Distribution Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Currency_Code</name>
                    <choiceReferences>CurrencyIsoCodes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>AUD</stringValue>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inputs_for_Work_Order_Creation_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WBS_Element</name>
                    <dataType>String</dataType>
                    <fieldText>WBS Element</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PR</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inputs_for_Work_Order_Creation_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>Priority_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Standard</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Multi_Day</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Multi Day</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduling_Policy0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Scheduling_Policy__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Scheduling Policy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PQ</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LocationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>LocationId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>In_House_Quote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Get_Case_Record.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Notes</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Capture Additional notes about the workorder.&lt;/p&gt;&lt;p&gt;Note:1,000 character limit.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Character Limit is 1000&lt;/p&gt;</errorMessage>
                <formulaExpression>!(LEN({!Additional_Notes}) &gt; 1000)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inputs_for_Work_Order_Creation_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Unit</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Loan Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PQ</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disable_Customer_Notifications</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Disable Customer Notifications</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Set to TRUE to disable email notifications to customer.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Work_Type_Records.Work_Type_Code__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PQ</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inputs_for_Work_Order_Creation_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>809</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Shipping_Address_Assignment</name>
        <label>Shipping Address Assignment</label>
        <locationX>545</locationX>
        <locationY>3206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Work_Order_Address</targetReference>
        </connector>
        <fields>
            <name>WorkOrderAddress</name>
            <extensionName>c:AddressLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Work_Order_Details_for_Address.Ship_To__r.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Work_Order_Details_for_Address.Ship_To__r.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postcode</name>
                <value>
                    <elementReference>Get_Work_Order_Details_for_Address.Ship_To__r.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>Get_Work_Order_Details_for_Address.Ship_To__r.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Work_Order_Details_for_Address.Ship_To__r.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkType_And_Asset_Selection</name>
        <label>WorkType And Asset Selection</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Asset_Record_2</targetReference>
        </connector>
        <fields>
            <name>WorkType_And_Asset_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WorkType_And_Asset_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Asset</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AssetId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Asset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VAR_Asset_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VAR_Asset_Id</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>FI_Work_Type</name>
                    <choiceReferences>RCS_Work_Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Work Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WorkType_And_Asset_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TGL_Account_Filter</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Filter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>This Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>All Accounts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Asset_or_Case_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>Invoke Select Partner Function subflow</description>
        <name>Select_Partner_Functions</name>
        <label>Select Partner Functions</label>
        <locationX>545</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Get_Work_Order_Details_for_Address</targetReference>
        </connector>
        <flowName>Select_Partner_Functions</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Run Contact: Create subflow</description>
        <name>SF_Contact_Create</name>
        <label>Create Contact</label>
        <locationX>809</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>DEC_Quote</targetReference>
        </connector>
        <flowName>Contact_Create</flowName>
        <inputAssignments>
            <name>VAR_Account_Id</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Department</name>
            <value>
                <elementReference>FI_Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Email</name>
            <value>
                <elementReference>VAR_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_First_Name</name>
            <value>
                <elementReference>FI_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Last_Name</name>
            <value>
                <elementReference>FI_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Mobile_Phone</name>
            <value>
                <elementReference>VAR_Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Phone</name>
            <value>
                <elementReference>VAR_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Title</name>
            <value>
                <elementReference>FI_Title</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Contact_Id</assignToReference>
            <name>VAR_Contact_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SF_Get_Blanket_Purchase_Order</name>
        <label>Get Blanket Purchase Order</label>
        <locationX>545</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Shipping_Address_Assignment</targetReference>
        </connector>
        <flowName>Work_Order_Get_Blanket_Purchase_Order</flowName>
        <inputAssignments>
            <name>VAR_Account_Id</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Asset_Id</name>
            <value>
                <elementReference>VAR_Asset_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Work_Order_Id</name>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SF_Select_Unrelated_Business_Partners</name>
        <label>Select Unrelated Business Partners</label>
        <locationX>545</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>SF_Get_Blanket_Purchase_Order</targetReference>
        </connector>
        <flowName>Work_Order_Select_Bill_To_And_Payer</flowName>
        <inputAssignments>
            <name>VAR_Bill_To_Account_Id</name>
            <value>
                <elementReference>Get_Work_Order_Details_for_Address.Bill_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Payer_Account_Id</name>
            <value>
                <elementReference>Get_Work_Order_Details_for_Address.Payer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Work_Order_Id</name>
            <value>
                <elementReference>VAR_Work_Order_Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisableCustomerNotificationsValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanUnitValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Metro_Regional_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Order record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Scheduling_Policy_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Contract_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Asset_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Mobile_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Secondary_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Type_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
