Sandbox/force-app/main/default/flows/Work_Order_Set_SAP_Pricing_to_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_context</name>
        <label>Get context</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>OvcSystemChecks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_over_contexts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIdInput</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contexts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Pricing_from_SAP</name>
        <label>Set Pricing from SAP</label>
        <locationX>528</locationX>
        <locationY>1391</locationY>
        <actionName>OvcActionRunComponent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_over_contexts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>componentName</name>
            <value>
                <elementReference>COMPONENT_FOR_SAP_PRICING</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldForErrorMessage</name>
            <value>
                <elementReference>FIELD_FOR_ERROR_MESSAGE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_item_to_collection</name>
        <label>Add item to collection</label>
        <locationX>616</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>lineItemsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_SAP_Pricing_Status_to_In_Progress</name>
        <label>Change SAP Pricing Status to &apos;In Progress&apos;</label>
        <locationX>616</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_items.ovcSAP_Pricing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_item_to_collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>COMPONENT_FOR_SAP_PRICING</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ovcSAPPricingCheckWorkOrder</stringValue>
        </value>
    </constants>
    <constants>
        <name>FIELD_FOR_ERROR_MESSAGE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ovcSAP_Message__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_context</name>
        <label>Check context</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Line_Items_without_SAP_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Select values not returned</defaultConnectorLabel>
        <rules>
            <name>Select_values_returned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_contexts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>isBatch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_contexts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>isFuture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_contexts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>isQueueable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_contexts</targetReference>
            </connector>
            <label>Select values returned</label>
        </rules>
    </decisions>
    <interviewLabel>Work Order: Set SAP Pricing to Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Set SAP Pricing to Line Items</label>
    <loops>
        <name>Loop_over_contexts</name>
        <label>Loop over contexts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>contexts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_context</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RU_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_items</name>
        <label>Loop over items</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Line_Items_without_SAP_Pricing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_SAP_Pricing_Status_to_In_Progress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Line_Items_without_SAP_Pricing</name>
        <label>Get Line Items without SAP Pricing</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ovcSAP_Pricing_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ovcSAP_Pricing_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set fetch Pricing to FALSE</description>
        <name>RU_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>Fetch_Pricing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_line_items</name>
        <label>Update line items</label>
        <locationX>528</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Set_Pricing_from_SAP</targetReference>
        </connector>
        <inputReference>lineItemsForUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_context</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ovcLine_Items_Without_SAP_Pricing__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Fetch_Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contexts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineItemsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
