Sandbox/force-app/main/default/flows/Work_Order_Third_Party_Contractor_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to nominated contractor email address</description>
        <name>EM_Email_Alert</name>
        <label>Email Alert</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <actionName>WorkOrder.Work_Order_Allocated_to_Third_Party_Contractor</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Email</name>
        <label>Assign Email</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VAR_Selected_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RVAR_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if there are any servce appointments</description>
        <name>DEC_Appointments_Exist</name>
        <label>Appointments Exist</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>RVAR_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_Service_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_Service_Appointments</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there are any servce appointments</description>
        <name>DEC_Has_Email</name>
        <label>Has Email</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>SC_Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FI_Notification_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Group</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Is_Community_User</name>
        <label>Is Community User</label>
        <locationX>314</locationX>
        <locationY>1826</locationY>
        <defaultConnector>
            <targetReference>EM_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Work_Order_1_0</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
    </decisions>
    <description>Assign Work Order to a third party contractor</description>
    <dynamicChoiceSets>
        <name>RCS_Contact</name>
        <dataType>String</dataType>
        <displayField>Email</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Third_Party_Contractor_Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VAR_Selected_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_Email</name>
        <dataType>String</dataType>
        <expression>{!FI_Email.value}</expression>
    </formulas>
    <interviewLabel>Work Order: Third Party Contractor Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Third Party Contractor Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>Deletes unscheduled service appointments</description>
        <name>RD_Service_Appointments</name>
        <label>Delete Service Appointments</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>RVAR_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <inputReference>CVAR_Service_Appointments</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get related unscheduled service appointments and place in a collection</description>
        <name>CVAR_Service_Appointments</name>
        <label>Get Service Appointments</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Appointments_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Group</name>
        <label>Get Queue</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_Work_Order_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Third_Party_Contractor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check to see if the selected contact is a community member</description>
        <name>RVAR_User</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Is_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Contact_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the current work order record</description>
        <name>RVAR_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Work_Order_1</name>
        <label>Update Work Order</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>CVAR_Service_Appointments</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SC_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Notes__c</field>
            <value>
                <elementReference>FI_Additional_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>FI_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RVAR_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>FI_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Allocated To 3rd Party Contractor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TPC_Notification_Email_Address__c</field>
            <value>
                <elementReference>VAR_Selected_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Contractor__c</field>
            <value>
                <elementReference>VAR_Third_Party_Contractor_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Work_Order_1_0</name>
        <label>Update Work Order</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>EM_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RVAR_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>SC_Assignment</name>
        <label>Assignment</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Email_Recipient</targetReference>
        </connector>
        <fields>
            <name>SC_Assignment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Assignment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LU_Third_Party_Contractor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Third_Party_Contractor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Third Party Contractor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>RVAR_Work_Order.Third_Party_Contractor__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VAR_Third_Party_Contractor_Account_Id</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>FI_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>RVAR_Work_Order.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FI_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>RVAR_Work_Order.EndDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Assignment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FI_Additional_Notes</name>
            <defaultValue>
                <stringValue>{!RVAR_Work_Order.Additional_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Email_Recipient</name>
        <label>Email Recipient</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_Has_Email</targetReference>
        </connector>
        <fields>
            <name>SC_Email_Recipient_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SC_Email_Recipient_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FI_Notification_Email</name>
                    <choiceReferences>RCS_Contact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Notification Email</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SC_Email_Recipient_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Error</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;An error has occurred.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;Please refer the error to your System Adminstrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Error_0</name>
        <label>Error</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASS_Email</targetReference>
        </connector>
        <fields>
            <name>DT_No_Email</name>
            <fieldText>&lt;p&gt;No contact has been selected.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter a valid email address to be used for notification purposes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FI_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RVAR_Work_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the Id of the current work order record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the selected email address</description>
        <name>VAR_Selected_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Third_Party_Contractor_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
