Sandbox/force-app/main/default/flows/Work_Type_Deep_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_To_Work_Type</name>
        <label>Navigate To Work Type</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VAR_Work_Type_Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Records_To_Collection</name>
        <label>Assign Records To Collection</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Product_Required_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Product_Required_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables</name>
        <label>Assign Variables</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.Divisions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.Divisions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Work_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.Created_From_PM_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.Created_From_PM_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.QuantityRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.Work_Type_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.Work_Type_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product_Required_Create.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required.Active__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Clone a Work Type and it&apos;s related Products Required</description>
    <interviewLabel>Work Type: Deep Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Type: Deep Clone</label>
    <loops>
        <description>Loop through collection</description>
        <name>LOOP_Through_Product_Required</name>
        <label>Loop Through Product Required</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>CVAR_Product_Required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Product_Required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Product Required records</description>
        <name>RC_Product_Required</name>
        <label>Create Product Required</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Navigate_To_Work_Type</targetReference>
        </connector>
        <inputReference>CVAR_Product_Required_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create work type</description>
        <name>RC_Work_Type</name>
        <label>Create Work Type</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>VAR_Work_Type_Id</assignRecordIdToReference>
        <connector>
            <targetReference>LOOP_Through_Product_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>RVAR_Work_Type.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>RVAR_Work_Type.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enable_Fault_Cause_Codes__c</field>
            <value>
                <elementReference>RVAR_Work_Type.Enable_Fault_Cause_Codes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedDuration</field>
            <value>
                <elementReference>RVAR_Work_Type.EstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Due_Date_Offset__c</field>
            <value>
                <elementReference>RVAR_Work_Type.FSL__Due_Date_Offset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Exact_Appointments__c</field>
            <value>
                <elementReference>RVAR_Work_Type.FSL__Exact_Appointments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinimumCrewSize</field>
            <value>
                <elementReference>RVAR_Work_Type.MinimumCrewSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FI_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecommendedCrewSize</field>
            <value>
                <elementReference>RVAR_Work_Type.RecommendedCrewSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type__c</field>
            <value>
                <elementReference>RVAR_Work_Type.Record_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>RVAR_Work_Type.ServiceReportTemplateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShouldAutoCreateSvcAppt</field>
            <value>
                <elementReference>RVAR_Work_Type.ShouldAutoCreateSvcAppt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Type_Code__c</field>
            <value>
                <elementReference>RVAR_Work_Type.Work_Type_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkType</object>
    </recordCreates>
    <recordLookups>
        <description>Get related product required records and place in a collection</description>
        <name>CVAR_Product_Required</name>
        <label>Get Product Required</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RC_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the current record</description>
        <name>RVAR_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CVAR_Product_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SC_Work_Type_Name</name>
        <label>Work Type Name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RVAR_Work_Type</targetReference>
        </connector>
        <fields>
            <name>FI_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SC_Work_Type_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Product_Required_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Product_Required_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>VAR_Work_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
