Sandbox/force-app/main/default/flows/Work_Order_Set_Service_Territory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Records_To_Collection</name>
        <label>Assign Records To Collection</label>
        <locationX>242</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Service_Appointment_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Service_Appointment_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Service_Territory_Id</name>
        <label>Assign Service Territory Id</label>
        <locationX>242</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Service_Appointment_1.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaintenancePlan.Contractor_Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Service_Appointment_1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Has_Contractor_Service_Territory2</name>
        <label>Has Contractor Service Territory</label>
        <locationX>550</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>RVAR_Service_Appointment_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Has_Contractor_Service_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Work_Order.MaintenancePlan.Contractor_Service_Territory__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Hh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CVAR_Service_Appointments</targetReference>
            </connector>
            <label>Has Contractor Service Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Has_Service_Appointment_1</name>
        <label>Has Service Appointment</label>
        <locationX>286</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Has_Service_Appointment_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_Service_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Through_Collection</targetReference>
            </connector>
            <label>Has Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Has_Service_Appointment_2</name>
        <label>Has Service Appointment</label>
        <locationX>814</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>RU_Work_Order_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Has_Service_Appointment_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Service_Appointment_2.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RU_Work_Order_2</targetReference>
            </connector>
            <label>Has Service Appointment</label>
        </rules>
    </decisions>
    <description>Sets service territory on work order and service appointment where work order is associated with a maintenance plan that has a nominated  contractor service territory</description>
    <interviewLabel>Work Order: Set Service Territory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Set Service Territory</label>
    <loops>
        <name>LOOP_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>154</locationX>
        <locationY>768</locationY>
        <collectionReference>CVAR_Service_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Service_Territory_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RU_Service_Appointments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CVAR_Service_Appointments</name>
        <label>Get Service Appointments</label>
        <locationX>286</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Has_Service_Appointment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Service_Appointment_2</name>
        <label>Get Service Appointment</label>
        <locationX>814</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Has_Service_Appointment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSSK__FSK_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>550</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Has_Contractor_Service_Territory2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RU_Service_Appointments</name>
        <label>Update Service Appointments</label>
        <locationX>154</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>RU_Work_Order_1</targetReference>
        </connector>
        <inputReference>CVAR_Service_Appointment_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Work_Order_1</name>
        <label>Update Work Order</label>
        <locationX>154</locationX>
        <locationY>1344</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fetch_Pricing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.MaintenancePlan.Contractor_Service_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Work_Order_2</name>
        <label>Update Work Order</label>
        <locationX>682</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fetch_Pricing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>RVAR_Service_Appointment_2.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>RU_Work_Order_3</name>
        <label>Update Work Order</label>
        <locationX>946</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fetch_Pricing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote Required</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Zero_Minutes_After_Created</name>
            <connector>
                <targetReference>RVAR_Work_Order</targetReference>
            </connector>
            <label>0 Minutes After Created</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Service_Appointment_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>RVAR_Service_Appointment_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
