Sandbox/force-app/main/default/flows/Work_Order_Create_WOLI_From_Product_Required_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Product_Records_To_Collection</name>
        <label>Assign Product Records To Collection</label>
        <locationX>138</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Product</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign variables

Note Product Family and Description being used to store Product Required value for the purposes of the flow only</description>
        <name>ASS_Variables_To_Product_Record</name>
        <label>Assign Variables To Product Record</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.Family</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Work_Type_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Product_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_To_Work_Order_Line_Item_Record</name>
        <label>Assign Variables To Work Order Line Item Record</label>
        <locationX>138</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Labour_Travel_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Work_Type_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Labour_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business Hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Availability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default Line Item</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity_Unit_Of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Division_Material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Work_Order_Line_Item_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Work_Order_Line_Item_Records_To_Collection</name>
        <label>Assign Work Order Line Item Records To Collection</label>
        <locationX>138</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Order_Line_Item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Division_Match</name>
        <label>Division Match</label>
        <locationX>270</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Product_Required_Collection.Divisions__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Asset.Product2.Division__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Variables_To_Product_Record</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Is_Quote</name>
        <label>Is Quote</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Not_A_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quotation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quotation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CVAR_Current_Work_Order_Line_Items</targetReference>
            </connector>
            <label>Not A Quote</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there are any line items to delete</description>
        <name>DEC_Line_Items_Exist</name>
        <label>Line Items Exist?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>DEC_Work_Type_And_Asset_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVAR_Current_Work_Order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_Work_Order_Line_Items</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Asset and Work Type fields are populated</description>
        <name>DEC_Work_Type_And_Asset_Present</name>
        <label>Work Type And Asset Present?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02i</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <description>Deletes existing work order line items and re-creates them if the Work Type is changed on the Work Order</description>
    <interviewLabel>Work Order: Create WOLI From Product Required After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Create WOLI From Product Required After Update</label>
    <loops>
        <name>LOOP_Through_Product_Collection</name>
        <label>Loop Through Product Collection</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <collectionReference>CVAR_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RVAR_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Work_Order_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Through_Product_Required_Collection</name>
        <label>Loop Through Product Required Collection</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>CVAR_Product_Required_Work_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Division_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_Through_Product_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <inputReference>CVAR_Work_Order_Line_Item</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Deletes labour and travel line items</description>
        <name>RD_Work_Order_Line_Items</name>
        <label>Delete Work Order Line Items</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>DEC_Work_Type_And_Asset_Present</targetReference>
        </connector>
        <inputReference>CVAR_Current_Work_Order_Line_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>CVAR_Current_Work_Order_Line_Items</name>
        <label>Get Work Order Line Items</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Line_Items_Exist</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (1 AND 3 AND 4)</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Labour_Travel_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Consumed_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CVAR_Product_Required_Work_Type</name>
        <label>Get Product Required - Work Type</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Divisions__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RVAR_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>138</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_To_Work_Order_Line_Item_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Work Order with default pricebook</description>
        <name>Update_Price_Book</name>
        <label>Update Price Book</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>CVAR_Product_Required_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fetch_Pricing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record__Prior.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Is_Quote</targetReference>
        </connector>
        <filterLogic>((1 OR 2 OR 3) AND 4)</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>CVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
