Sandbox/force-app/main/default/flows/Work_Order_Set_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASS_Record_Type_1</name>
        <label>Assign Record Type</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Record_Type_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_In_House_Repair_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RU_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Type_2</name>
        <label>Assign Record Type</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Record_Type_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_In_House_Repair_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_House_Repair_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RU_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Record_Type_3</name>
        <label>Assign Record Type</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VAR_Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Record_Type_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_In_House_Repair_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_House_Repair_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RU_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_In_House_Repair</name>
        <label>In House Repair?</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RVAR_Record_Type_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_In_House_Repair</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>RVAR_Work_Type.Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Work_Type.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RVAR_Work_Type.Work_Type_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_In_House_Repair_Type</targetReference>
            </connector>
            <label>In-House Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_In_House_Repair_Type</name>
        <label>In-House Repair Type</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>RVAR_Record_Type_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_In_House</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.In_House_Repair_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-House</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Record_Type_2</targetReference>
            </connector>
            <label>In-House</label>
        </rules>
        <rules>
            <name>DEC_3rd_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.In_House_Repair_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Record_Type_3</targetReference>
            </connector>
            <label>3rd Party</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Quote</name>
        <label>Quote?</label>
        <locationX>842</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Not_A_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quotation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RVAR_Work_Type</targetReference>
            </connector>
            <label>Not A Quote</label>
        </rules>
    </decisions>
    <description>Sets the work orders record type dependent upon the work type selected</description>
    <interviewLabel>Work Order: Set Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Set Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get record type record</description>
        <name>RVAR_Record_Type_1</name>
        <label>Get Record Type</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Record_Type_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Work_Type.Record_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get record type record</description>
        <name>RVAR_Record_Type_2</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Record_Type_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Work_Type.Work_Order_Record_Type_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get record type record</description>
        <name>RVAR_Record_Type_3</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Record_Type_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RVAR_Work_Type.Record_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the related work type record</description>
        <name>RVAR_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_In_House_Repair</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Work Order</description>
        <name>RU_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>In_House_Repair_Type__c</field>
            <value>
                <elementReference>VAR_In_House_Repair_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Quote</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_In_House_Repair_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
