Sandbox/force-app/main/default/flows/Work_Order_Line_Item_Manage_UOM_Cache.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>DEC_Action</name>
        <label>Action</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Product_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Delete_UOM_Cache_Records_1</targetReference>
            </connector>
            <label>Product Changed</label>
        </rules>
        <rules>
            <name>OUT_Completed_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CannotComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Delete_UOM_Cache_Records_2</targetReference>
            </connector>
            <label>Completed / Cancelled</label>
        </rules>
    </decisions>
    <interviewLabel>Work Order Line Item: Manage UOM Cache {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Line Item: Manage UOM Cache</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Action</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SF_Create_UOM_Cache_Records</name>
        <label>Create UOM Cache Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <flowName>Work_Order_Line_Item_Create_UOM_Cache_Records_2</flowName>
        <inputAssignments>
            <name>VAR_Product_Id</name>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Work_Order_Line_Item_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SF_Delete_UOM_Cache_Records_1</name>
        <label>Delete UOM Cache Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>SF_Create_UOM_Cache_Records</targetReference>
        </connector>
        <flowName>UOM_Cache_Delete_Records</flowName>
        <inputAssignments>
            <name>VAR_Work_Order_Line_Item_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SF_Delete_UOM_Cache_Records_2</name>
        <label>Delete UOM Cache Records</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <flowName>UOM_Cache_Delete_Records</flowName>
        <inputAssignments>
            <name>VAR_Work_Order_Line_Item_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
