Sandbox/force-app/main/default/flows/Work_Order_Convert_To_In_House_Repair.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Assigns the record Id</description>
        <name>ASS_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_Confirmation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_Convert</name>
        <label>Convert?</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FI_Work_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RL_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the flow has been launched from the FSL mobile app or the desktop</description>
        <name>DEC_Mobile_Or_Desktop</name>
        <label>Mobile Or Desktop</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>SC_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Record_Id</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <description>Convert a field service work order to an in-house repair work order</description>
    <dynamicChoiceSets>
        <name>PC_In_House_Repair_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>In_House_Repair_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Location</name>
        <dataType>String</dataType>
        <displayField>Plant_Storage_Location__c</displayField>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Plant_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P130</stringValue>
            </value>
        </filters>
        <filters>
            <field>Plant_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P140</stringValue>
            </value>
        </filters>
        <filters>
            <field>Plant_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P150</stringValue>
            </value>
        </filters>
        <filters>
            <field>Plant_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P160</stringValue>
            </value>
        </filters>
        <filters>
            <field>Plant_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P200</stringValue>
            </value>
        </filters>
        <filters>
            <field>ovcStorage_Location_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>VAR_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Plant_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Location_NSW</name>
        <dataType>String</dataType>
        <displayField>Plant_Storage_Location__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plant_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P120</stringValue>
            </value>
        </filters>
        <filters>
            <field>ovcStorage_Location_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>VAR_Location_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Plant_Storage_Location__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Work_Type</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Work_Type_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Type_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Workshop</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>VAR_Work_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_Loan_Unit</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FI_Loan_Unit} = TRUE, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Work Order: Convert To In House Repair {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Convert To In House Repair</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>RL_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RU_Work_Order_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>RVAR_Work_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Additional_Notes__c</queriedFields>
        <queriedFields>Asset_Product__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Bill_To__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Loan_Unit__c</queriedFields>
        <queriedFields>Payer__c</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Repair_Notes__c</queriedFields>
        <queriedFields>Ship_To__c</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>This update to the work order triggers pricing fetch</description>
        <name>RU_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_In_House_Repair_Notes__c</field>
            <value>
                <elementReference>FI_Additional_IHR_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_House_Repair_Type__c</field>
            <value>
                <elementReference>FI_In_House_Repair_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Unit__c</field>
            <value>
                <elementReference>FOR_Loan_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>VAR_Location_Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update work order</description>
        <name>RU_Work_Order_1</name>
        <label>Update Work Order</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>SC_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Logged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>VAR_Work_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>SC_Confirmation</name>
        <label>Confirmation</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_Convert</targetReference>
        </connector>
        <fields>
            <name>DT_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Do you want to create an in-house repair?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FI_Work_Type</name>
            <choiceReferences>RCS_Work_Type</choiceReferences>
            <choiceReferences>CH_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Notes</name>
        <label>Notes</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RU_Work_Order</targetReference>
        </connector>
        <fields>
            <name>FI_In_House_Repair_Type</name>
            <choiceReferences>PC_In_House_Repair_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In-House Repair Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Workshop</name>
            <choiceReferences>RCS_Location_NSW</choiceReferences>
            <choiceReferences>RCS_Location</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Device Tech Belrose: Main (P120/0001)</stringValue>
            </defaultValue>
            <fieldText>Workshop</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Loan_Unit</name>
            <dataType>Boolean</dataType>
            <fieldText>Loan Unit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FI_Additional_IHR_Notes</name>
            <fieldText>Customer Unit Location &amp; Loan Unit Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Mobile_Or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVAR_Work_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>VAR_Location_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
