Sandbox/force-app/main/default/flows/Work_Order_Line_Item_Create_UOM_Cache_Records_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_CSV_To_String_Collection</name>
        <label>Convert CSV To String Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LOOP_Through_Text_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>RVAR_Product.AvailableUOMs__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CVAR_Available_UOM</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ASS_Records_To_Collection</name>
        <label>Assign Records To Collection</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CVAR_UOM_Cache</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_UOM_Cache</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Text_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Variables_To_Record</name>
        <label>Assign Variables To Record</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RVAR_UOM_Cache.UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Text_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_UOM_Cache.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Work_Order_Line_Item_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Work Order Line Item: Create UOM Cache Records 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Line Item: Create UOM Cache Records 2</label>
    <loops>
        <name>LOOP_Through_Text_Collection</name>
        <label>Loop Through Text Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>CVAR_Available_UOM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_Variables_To_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_UOM_Cache_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RC_UOM_Cache_Records</name>
        <label>Create UOM Cache Records</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputReference>CVAR_UOM_Cache</inputReference>
    </recordCreates>
    <recordLookups>
        <name>RVAR_Product</name>
        <label>Get Product</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_CSV_To_String_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Product_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RVAR_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Available_UOM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CVAR_UOM_Cache</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UOM_Cache__c</objectType>
    </variables>
    <variables>
        <name>RVAR_UOM_Cache</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UOM_Cache__c</objectType>
    </variables>
    <variables>
        <name>VAR_Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_Work_Order_Line_Item_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
