Sandbox/force-app/main/default/flows/Work_Order_Create_WOLI_From_PR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Assign the record variables to a collection variable</description>
        <name>ASS_Product_Records_To_Collection</name>
        <label>Assign Product Records To Collection</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Product</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the record variable.

Note Product Family and Description are being used to temporarily store Product Required values for the puposes of this flow only</description>
        <name>ASS_Variables_To_Product_Record</name>
        <label>Assign Variables To Product Record</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.Family</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Work_Type_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Product.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Required_Collection.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Product_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the record variable</description>
        <name>ASS_Variables_To_Work_Order_Line_Item_Record</name>
        <label>Assign Variables To Work Order Line Item Record</label>
        <locationX>264</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RVAR_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Labour_Travel_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Work_Type_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Labour_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business Hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Availability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default Line Item</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Quantity_Unit_Of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RVAR_Work_Order_Line_Item.Division_Material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_Work_Order_Line_Item_Records_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the record variables to a collection variable</description>
        <name>ASS_Work_Order_Line_Item_Records_To_Collection</name>
        <label>Assign Work Order Line Item Records To Collection</label>
        <locationX>264</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>CVAR_Work_Order_Line_Item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVAR_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Through_Product_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if there is a match on division between the asset&apos;s product and the product required</description>
        <name>DEC_Division_Match</name>
        <label>Division Match</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUT_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Through_Product_Required_Collection.Divisions__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Asset.Product2.Division__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_Variables_To_Product_Record</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>When a new work order is created, create work order line items from products required that are associated with the related work type</description>
    <interviewLabel>Work Order: Create WOLI From PR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Create WOLI From Product Required</label>
    <loops>
        <name>LOOP_Through_Product_Collection</name>
        <label>Loop Through Product Collection</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <collectionReference>CVAR_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RVAR_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RC_Work_Order_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Through_Product_Required_Collection</name>
        <label>Loop Through Product Required Collection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>CVAR_Product_Required_Work_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Division_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_Through_Product_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create work order line item records from records in the collection</description>
        <name>RC_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <inputReference>CVAR_Work_Order_Line_Item</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Fets the products required that are lated to the work type associated with  the work order.
Place the records in a collection</description>
        <name>CVAR_Product_Required_Work_Type</name>
        <label>Get Product Required - Work Type</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Through_Product_Required_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Divisions__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find the required product&apos;s pricebook entry</description>
        <name>RVAR_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_Variables_To_Work_Order_Line_Item_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOP_Through_Product_Collection.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CVAR_Product_Required_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Cloned_With_Related_Records__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CVAR_Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>CVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RVAR_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RVAR_Work_Order_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>VAR_Product_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
